#login_11{
	position:absolute; 
	top:0px; 
	height:324px; 
	width:640px; 
	left:0px; 
	margin:0px; 
	background: url("/images/face/fc_login_11.jpg");
}

#login_21{
	position:absolute; 
	top:324px; 
	height:126px; 
	width: 245px; 
	left:0px; 
	margin:0px; 
	background: url("/images/face/fc_login_21.jpg")
}

#login_22{
	position:absolute; 
	top:324px; 
	height:69px; 
	width: 266px; 
	left:245px; 
	margin:0px; 
	background: url("/images/face/fc_login_22.jpg");
}

#login_22_login{
	position:absolute; 
	left:255px; 
	top:338px;
	font-family: Verdana, Sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#login_22_password{
	position:absolute; 
	left:255px; 
	top:365px;
	font-family: Verdana, Sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#login_23{
	position:absolute; 
	top:324px; 
	height:126px; 
	width: 129px; 
	left:511px; 
	margin:0px; 
	background: url("/images/face/fc_login_23.jpg");
}

#login_32{
	position:absolute; 
	top:393px; 
	height:57px; 
	width: 266px; 
	left:245px; 
	margin:0px; 
	background: url("/images/face/fc_login_32.jpg");

}
