.floorplan {
    background-image: url(/images/floorplan.png) ! important;
}
.bindcard {
    background-image: url(/images/image_add.png) ! important;
}
.viewcard {
    background-image: url(/images/email.png) ! important;
}

.viewparent {
    background-image: url(/images/e_mail.png) ! important;
}

.putcard {
    background-image: url(/images/forum.gif) ! important;
}
.featuredoc {
    background-image: url(/images/featuredoc.png) ! important;
}


.base-prop {
		color: navy ! important;
}

.icon-cards {
    background-image: url(/images/icons/cards.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-cards-edit {
    background-image: url(/images/icons/cardsedit.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-view-on-map {
    background-image: url(/images/icons/viewonmap.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-objects-search {
    background-image: url(/images/icons/objects.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-group {
    background-image: url(/images/icons/group.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-ungroup {
    background-image: url(/images/icons/ungroup.png) ! important;
    background-repeat: no-repeat !important;
}

.red-grid-row { background-color: #F5C0C0 !important; }

.cell-reportppr {
    border-right: 1px solid #ededed;
}

.hd-reportppr {
    padding-right: 1px;
}

.total-cost-ppr {
    background-color: #ddffdd !important;
}

.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}