/*!
 * Ext JS Library 3.3.1
 * Copyright(c) 2006-2010 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
 .x-grid-group-hd div{
	height: auto!important;
 }
.myGridTitle{
	font-weight: normal;
}
#favorite-view .x-view-selected{
	padding:5px !important;
	border: none !important
}
#favorite-view .x-view-over{
	padding:5px !important;
	border: none !important;
	cursor:pointer;
}
.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:0px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
    height: 30px;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;

}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;

    display:block;
    clear:none;
}

.polygon-fill-Solid {
	background: url("/images/theme/solid.png") repeat;
	border: 1px solid #000;
}

.polygon-fill-Net {
	background: url("/images/theme/net.png") repeat;
	border: 1px solid #000;
}

.polygon-fill-Line {
	background: url("/images/theme/line.png") repeat;
	border: 1px solid #000;
}

.polygon-border-Solid {
	background: url("/images/theme/line.png") repeat;
}

.polygon-border-Dash {
	background: url("/images/theme/dash.png") repeat;
}

.polygon-border-Dot {
	background: url("/images/theme/dot.png") repeat;
}

.polygon-border-DashDot {
	background: url("/images/theme/dashdot.png") repeat;
}

.icon-copy{
    background-image: url(/images/icons/icon-copy.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-style{
    background-image: url(/images/icons/icon-style.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-theme-settings
{
    background-image: url(/images/icons/icon-theme-settings.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-condition{
    background-image: url(/images/icons/icon-condition.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-current-view {
    background-image: url(/images/icons/icon-current-view.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-up{
    background-image: url(/images/icons/icon-up.png) ! important;
    background-repeat: no-repeat !important;
}

.icon-down {
    background-image: url(/images/icons/icon-down.png) ! important;
    background-repeat: no-repeat !important;
}