#WgsTopmenu
{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 49px;
	display:none;
	background-image: url(/images/wgstoolbar_background1.png);
}

#WgsLogo
{
	top: 0px;
	left: 0px;
}

.WgsMenu
{
	list-style-type: none;
	position: absolute;
	right: 2px;
	top: 1px;
	height: 24px;
	margin: 0;
	padding: 0;
}

.WgsNestedMenu
{
	list-style-type: none;
	position: absolute;
	top: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
}

.WgsNestedMenu li a 
{
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  text-decoration: none;
  color: #2F6F2F;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 6px;
  line-height: 1.0em;
}

.WgsMenu li, .WgsNestedMenu li
{
	 float:left;
}

.WgsMenu li a 
{
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 6px;
  line-height: 1.0em;
}

.WgsMenuItem a.active, .WgsNestedMenuItem a.active 
{
	text-decoration: underline;
}

.WgsMenu a:hover, .WgsNestedMenu a:hover
{
	text-decoration: underline;
}