 <div class="theme-window-control-pane">
  <span data-action="new" class="theme-list-item">Добавить новый отчет</span>
	<span data-action="refresh" class="theme-list-item">Обновить</span>
 </div>
 <hr>
 <div class="theme-list-wrapper">
	<% for (var i =0; i < themeList.length; i++) {%>
		<div class="theme-list-record">
			<span><%= themeList[i].NAME ? themeList[i].NAME : "Без наименования"%></span>
      <span data-action="show" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"> Отобразить </span>
			<span data-action="edit" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"> Редактировать </span>
      <span data-action="delete" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"> Удалить </span>
      <span data-action="setup" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"> Настроить </span>
		</div>
	<% } %>
 </div>