<div class="theme-layers-control-pane">
  <span data-action="new" class="theme-list-item">Добавить новый слой</span>
  <span data-action="refresh" data-theme-id="<%= themeId %>" class="theme-list-item">Обновить</span>
</div>
<hr>
<div class="theme-layers-list-wrapper">
  <% for (var i=0; i<themeLayers.length; i++) { %>
    <div class="theme-layer-wrapper">
      <!-- <span><%= themeLayers[i].name %></span> -->
      <input name="theme-layer-<%= themeLayers[i].id %>" value="<%= themeLayers[i].name %>" />
      <select name="theme-layer-feature-layer" data-theme-layer="<%= themeLayers[i].id %>">
        <% for (var j=0; j<featureLayers.length; j++) {%>
          <option <%= (+featureLayers[j].id == + themeLayers[i].featureLayer) ? "selected" : "" %> > <%= featureLayers[j].name %></option>
        <% } %>
      </select>
      <select name="theme-layer-object-type" data-theme-layer="<%= themeLayers[i].id %>">
        <% for (var j=0; j<objectTypes.length; j++) {%>
          <option <%= (+objectTypes[j].id == + themeLayers[i].featureType) ? "selected" : "" %> > <%= objectTypes[j].name %></option>
        <% } %>
      </select>
      <select name="theme-layer-feature-type" data-theme-layer="<%= themeLayers[i].id %>">
        <option value="1">Точка</option>
        <option value="2">Линия</option>
        <option value="3" selected>Полигон</option>
      </select>
      <div class="theme-layer-control-pane">
        <span data-action="conditions">Условия</span>
        <span data-action="style">Стили</span>
      </div>
    </div>
  <% } %>
  <span>lorem</span> 
</div>