@media print {

  .content-navigation-print {
    display: block;
    float: none;
    height: 100% !important;
    width: 100%;
  }

  .content-navigation-print a {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    background-color: none;
    border: none;
  }

  .content-manual-print {
    margin: 0;
    display: block;
  }

  @page {
    margin: 1cm 1cm 1cm 3cm;
    counter-increment: page;
    counter-reset: page;
    @top-right {
        content: "Page " counter(page) " of " counter(pages);
    }
  }

}
