/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 0.11.0
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}

/********************************************************
  Noble Studios - 05/21/07
  ns_adsk.css
  Mapguide Layout
********************************************************/

html {
  height: 100%;
}

body {
  width:  100%;
  height:  100%;
  overflow:  hidden;
  background-color: #ffffff;
}


body, table {
  font-style: normal;
  font-weight: normal;
  font-size: 75%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
}

/********************************************************
  Overall Structure
********************************************************/
#AppContainer {
}

#SplitterArea {
}

#SplitterArea .jxSplitBarHorizontal {
  width: 1px;
  background-color: #000;
}

#Map {
  background-image: url(images/mapBackground.png);
  background-repeat: repeat-x;
  background-color: #efefef;
  background-position: bottom;
  overflow: hidden;
  z-index: 0;
  border-top: 1px solid #000;
}

#Maptip {
  display: none;
  border: 1px solid #000;
  background-color: #E5DAC7;
  padding: 4px;
}

/********************************************************
  Primary Toolbar
********************************************************/

#Toolbar {
  z-index: 2;
  background-image: url(images/toolbarBackground.png);
  height: 24px;
}

#Toolbar span.jxButtonContainer {
  padding: 1px 2px 0px 2px;
}

#Toolbar a.jxButton {
  padding: 0px 0px 0px 4px; /* makes room for the left of the button bg */
  background-image: url(images/toolbarButton.png);
}

#Toolbar span.jxButtonContent {
  padding: 3px 4px 3px 0px; /* makes room for the right of the button bg */
  background-image: url(images/toolbarButton.png);
}

#Toolbar span.jxButtonLabel {
  color: #000;
  padding-top: 1px;
  padding-bottom: 0px;
}


/********************************************************
  Secondary Toolbar
********************************************************/

#ToolbarSecondary {
  height: 24px;
  background-image: url(images/toolbarSubBackground.png);
  background-position: bottom;
  z-index: 2;
}

#ToolbarSecondary span.jxButtonContainer {
  padding: 1px 2px 0px 2px;
}

#ToolbarSecondary a.jxButton {
  padding: 0px 0px 0px 4px; /* makes room for the left of the button bg */
  background-image: url(images/toolbarSubButton.png);
}

#ToolbarSecondary span.jxButtonContent {
  padding: 4px 4px 3px 0px; /* makes room for the right of the button bg */
  background-image: url(images/toolbarSubButton.png);
}

#ToolbarSecondary span.jxButtonLabel {
  padding-top: 0px;
  padding-bottom: 0px;
}

/********************************************************
  FileMenu
********************************************************/

#FileMenu {
  z-index: 3;
  background-color: #fff;
  background-image: none;
}

#FileMenu ul.jxToolbar {
  margin-top: 10px;
}

#FileMenu span.jxButtonContainer {
  padding: 1px 2px 1px 2px;
}

#FileMenu a.jxButton {
  padding: 0px 0px 0px 4px; /* makes room for the left of the button bg */
  background-image: url(images/fileMenuButton.png);
}

#FileMenu span.jxButtonContent {
  padding: 2px 4px 2px 0px; /* makes room for the right of the button bg */
  background-image: url(images/fileMenuButton.png);
}

#FileMenu span.jxButtonLabel {
  color: #000;
  padding: 0 4px 0 4px;
  background-image: none;
}


/********************************************************
  Status bar
********************************************************/

#StatusbarContainer {
  border-top: 1px solid #000000;
  background-color: #fffebe;
  color: #ffffff;
  line-height: 22px;
  font-size: 10px;
  vertical-align: middle;
}

#Statusbar .jxSplitBarHorizontal {
  width: 1px;
  background-color: #313131;
  cursor: 'col-resize';
  margin-top: 4px;
  height: 13px;
}

#Statusbar .spanCursorPosition,
#Statusbar .spanViewSize,
#Statusbar .spanSelectionInfo {
  padding: 4px 10px;
  color: #000000;
}

.inputEditableScale {
  border: 1px solid #E7E6A3;
  background-color: #fff;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#pbmg {
  position: absolute;
  right: 1px;
  padding-top: 1px;
}

/********************************************************
  Sidebar
********************************************************/

#Sidebar {
  padding-left: 8px;
}

#Sidebar .jxSplitBarVertical {
  height: 0px;
}

#Sidebar .jxSplitArea {
  border-top: 1px solid #000;
}

#Sidebar .jxBarTop .jxBarControls,
#Sidebar .jxBarBottom .jxBarControls{
  display: none;
}

#SidebarCollapse {
  position: absolute;
  width: 8px;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

#SidebarCollapseContent {
  position: absolute;
  width: 8px;
  height: 100%;
  background: url(images/sidebarCollapseBackground.png) repeat-y #000;
  top: -2px;
  z-index: 1;
}

#SidebarCollapseTop {
  position: absolute;
  height: 2px;
  width: 8px;
  top: 0px;
  background: url(images/sidebarCollapseTop.png) no-repeat;
  z-index: 2;
}

#SidebarCollapseBottom {
  position: absolute;
  height: 2px;
  width: 8px;
  bottom: 0px;
  background: url(images/sidebarCollapseBottom.png) no-repeat;
  z-index: 2;
}

#SidebarCollapseButton {
  display: block;
  width: 8px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  height: 100%;
  font-size: 1px;
}

.jxSnapOpened #SidebarCollapseButton {
  background-image: url(images/sidebarCloseButton.png) center no-repeat;
}

.jxSnapClosed #SidebarCollapseButton {
  background-image: url(images/sidebarOpenButton.png) center no-repeat;
}

/**********************************************************
  Sidebar Tabs
**********************************************************/

#Sidebar .jxTabSetContainer {
  background-color: #fcc500;
  padding-left: 3px;
}

#Sidebar .jxTabItem {
  margin: 0px 1px 0px 0px;
}

#Sidebar .jxToolItem {
  margin: 0px 2px 0px 0px;
}

#Sidebar .jxBarTop a.jxTab:hover,
#Sidebar .jxBarTop a.jxTab:active {
  text-decoration: underline;
}

#Sidebar .jxBarTop a.jxTab span.jxTabLabel {
  font-weight: bold;
}

/**********************************************************
  Sidebar Panels
**********************************************************/

#Legend {
  background-color: #fff;
  background-image: none;
}

#SelectionPanel {
  background-color: #fff;
}

#OverviewMap {
  background-color: #fcc500;
  border: 1px solid #fefefe;
  margin: 0px 3px 3px 0px;
}

#OverviewMap .olControlOverviewMapElement {
  background-color: #fff;
}

#Navigator {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  z-index: 100;
}
/* ====================== */
/* OVERRIDE BUTTON STYLES */
/* ====================== */

/* focus button */
ul.jxToolbar .jxButton:focus,
.jxButton:focus {
  background-position: left -96px;
}

ul.jxToolbar .jxButton:focus span.jxButtonContent,
.jxButton:focus span.jxButtonContent {
  background-position: right -96px;
}

/* focus active button */
ul.jxToolbar .jxButtonActive:focus,
.jxButtonActive:focus {
  background-position: left -72px;
}

ul.jxToolbar .jxButtonActive:focus span.jxButtonContent,
.jxButtonActive:focus span.jxButtonContent {
  background-position: right -72px;
}

span.jxButtonContent span {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.jxButtonEditCombo input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: transparent;
}

/* ====================== */
/* OVERRIDE CHROME STYLES */
/* ====================== */

.jxChromeTL img {
  width: 500px;
  height:500px;
}

.jxChromeTR img {
  width: 500px;
  height:500px;
}

.jxChromeBL img {
  width: 500px;
  height:500px;
}

.jxChromeBR img {
  width: 500px;
  height:500px;
}

/* ====================== */
/* OVERRIDE DIALOG STYLES */
/* ====================== */

.jxDialog .jxChrome {
  background-image: url(images/dialog_chrome.png);
}

.jxDialogContentContainer {
  border: none;
}

.jxDialogModal {
  /* Base setup */
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background-color: #000;
  opacity: .2;
  -ms-filter: "Alpha(opacity=20)";
}

.jxDialogTitle {
  /* this makes the dialog draggable by the title bar in IE
   * Without it, only the label is draggable
   */
  background-image: url(images/a_pixel.png);

  /* note: height is hard coded into jx.js Jx.Dialog initialize function - change there as well as here */
  height: 16px;

  margin: 10px 10px 0px 10px;
}

.jxDialogIcon {
  left: 10px;
  top: 0px;
}

.jxDialogLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height:15px;
  display:block;
  top: 0px;
}

.jxDialogControls {
  top: 0px;
}

.jxDialogControls img {
  background-image: url('images/dialog_controls.png');
}


/* ======================= */
/* OVERRIDE JX GRID STYLES */
/* ======================= */

.jxGridTable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ======================= */
/* OVERRIDE JX MENU STYLES */
/* ======================= */

a.jxMenuItem {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.jxMenuItemContent {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ======================== */
/* OVERRIDE JX PANEL STYLES */
/* ======================== */

.jxPanelContentContainer {
  background-image: url(images/panelBackground.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-color: #f0f0f0;
}

.jxPanelContent {
  background-color: transparent;
}

.jxPanelTitle {
  background-image: url(images/panelbar.png);
  background-repeat: repeat-x;
  background-position: left top;
  text-align: left;
}

/* JX PANELSET STYLE FOR TITLE BAR */
.jxPanelBar {
  background-color: transparent;
}

.jxPanelLabel {
  /* make room for the loading spinner */
  padding-left: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  /* line-height vertically aligns the label in the containing div. */
  line-height:21px;
  color: #fff;
  white-space: nowrap;
}

.jxPanelControls {
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
}

.jxPanelControls img {
  background-image: url('images/panel_controls.png');
  background-repeat: no-repeat;
}

/* ================================= */
/* OVERRIDE BASE TAB (BUTTON) STYLES */
/* ================================= */

span.jxTabLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ======================== */
/* OVERRIDE SPLITTER STYLES */
/* ======================== */

.jxSplitBarHorizontal {
  width: 2px;
  background-color: transparent;
}

.jxSplitBarVertical {
  width: 2px;
  background-color: transparent;
}

.jxSplitterMask { 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(images/a_pixel.png);
  z-index: 1; 
} 

.jxSplitArea {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
  z-index: 0;
}

/* ================================================ */
/* OVERRIDE HORIZONTALTAB BAR - TOP and BOTTOM TABS */
/* ================================================ */

.jxTabBarTop .jxBarWrapper, 
.jxTabBarBottom .jxBarWrapper {
  padding-left: 0px;
}

.jxBarTop div.jxTabContainer,
.jxBarBottom div.jxTabContainer {
  /* Base setup */
  float: left;
  padding: 2px 0px;
}

.jxBarTop a.jxTab,
.jxBarTop span.jxTabContent {
  background-image: url(images/tab_top.png);
}

.jxBarBottom a.jxTab,
.jxBarBottom span.jxTabContent {
  background-image: url(images/tab_bottom.png);
}

.jxBarTop a.jxTabClose,
.jxBarBottom a.jxTabClose {
  top: 3px;
  right: 3px;
}

.jxBarTop a.jxTab,
.jxBarBottom a.jxTab {
  float: left;
}

.jxBarTop span.jxTabContent,
.jxBarBottom span.jxTabContent {
  float: left;
}

.jxBarTop a.jxTab:hover,
.jxBarBottom a.jxTab:hover {
  background-position: left -96px;
}

.jxBarTop a.jxTab:hover span.jxTabContent,
.jxBarBottom a.jxTab:hover span.jxTabContent {
  background-position: right -96px;
}

.jxBarTop a.jxTab:active,
.jxBarBottom a.jxTab:active {
  background-position: left -48px;
}

/* Focus Active tab */
.jxBarTop a.jxTabActive:focus,
.jxBarBottom a.jxTabActive:focus {
  background-position: left -48px; 
}

.jxBarTop a.jxTabActive:focus span.jxTabContent,
.jxBarBottom a.jxTabActive:focus span.jxTabContent {
  background-position: right -48px; 
}

.jxBarTop a.jxTab:active span.jxTabContent,
.jxBarBottom a.jxTab:active span.jxTabContent {
  background-position: right -48px;
}


.jxBarTop img.jxTabIcon,
.jxBarBottom img.jxTabIcon {
  float: left;
}

.jxBarTop span.jxTabLabel,
.jxBarBottom span.jxTabLabel {
  float: left;
}

/* ======================= */
/* OVERRIDE TOOLBAR STYLES */
/* ======================= */

.jxBarTop,
.jxBarBottom {
  background-image: url(images/toolbar.png);
  background-repeat: repeat-x;
  background-position: 0px 0px;
}

.jxBarTop .jxBarScroller,
.jxBarBottom .jxBarScroller {
  position: absolute;
  /* much bigger than its container */
  width: 10000%;
  overflow: hidden;
}

.jxBarTop  li.jxToolItem  span.jxBarSeparator,
.jxBarBottom  li.jxToolItem  span.jxBarSeparator {
  /* width/height should be defined */
  width: 8px;
  height: 20px;
  background-image: url(images/toolbar_separator_h.png);
}

.jxBarLeft  li.jxToolItem  span.jxBarSeparator,
.jxBarRight  li.jxToolItem  span.jxBarSeparator {
  /* width/height should be defined */
  width: 20px;
  height: 8px;
  background-image: url(images/toolbar_separator_v.png);
}

.jxBarTop .jxBarScrollLeft img.jxButtonIcon,
.jxBarBottom .jxBarScrollLeft img.jxButtonIcon {
  background-image: url(images/emblems.png);
  background-position: 0px -80px;
}

.jxBarTop .jxBarScrollRight img.jxButtonIcon,
.jxBarBottom .jxBarScrollRight img.jxButtonIcon {
  background-image: url(images/emblems.png);
  background-position: 0px -96px;
}

.jxBarTop .jxBarControls .jxButtonContainer,
.jxBarBottom .jxBarControls .jxButtonContainer,
.jxBarTop .jxBarScroller .jxBarWrapper .jxToolbar .jxToolItem .jxButtonContainer,
.jxBarBottom .jxBarScroller .jxBarWrapper .jxToolbar .jxToolItem .jxButtonContainer{
  z-index: 1;
  padding: 2px;
  margin-left: -1px;
}

/* trick here:  hide disabled buttons */
.jxBarTop .jxBarControls .jxDisabled span.jxButtonContent span,
.jxBarBottom .jxBarControls .jxDisabled span.jxButtonContent span,
.jxBarTop .jxBarControls .jxDisabled span.jxButtonContent span,
.jxBarBottom .jxBarControls  .jxDisabled span.jxButtonContent span,
.jxBarTop .jxBarControls .jxDisabled .jxButton,
.jxBarBottom .jxBarControls .jxDisabled .jxButton,
.jxBarTop .jxBarControls .jxDisabled .jxButton,
.jxBarBottom .jxBarControls  .jxDisabled .jxButton{
  visibility:hidden;
  cursor: default; 
}

.jxTabBox .jxTabBarTop {
  background-image: url(images/tabbar.png);
  background-position: 0px bottom;
}

/* ==================== */
/* OVERRIDE TREE STYLES */
/* ==================== */

a.jxTreeItem {
  font-family: Verdana,Arial,Helvetica,sans-serif;
}