<% var isFirst = true; 
   relation.linkedCards.forEach (function(childCard, childCardIndex) {  %>
       <tr class="card__relation__nested-record">
           <td class="column-0 <%= isFirst ? "card__nested-card-first" : "" %>">
               <a href="#" data-card-id="<%=childCard.id%>" class="card__nested-card">
                   <%= (childCard.name || 'Без наименования') + " : " + childCard.typeName %>
               </a>
           </td>
           <td class="column-1 <%= isFirst ? "card__nested-card-first" : "" %>">
               <button 
                   data-dojo-type="dijit/form/Button"
                   type="button" 
                   class="card-action">
                   <span
                       class="card-action__data-elem"
                       data-action="card-unbind" 
                       data-obj-relation-id="<%= childCard.objRelationId %>"
                       data-relation-id="<%= relation.relationId %>">
                       Отвязать
                   </span>
               </button>
           </td>
       </tr>
       <% isFirst = false 
   }); %>