<select id="<%=selectId%>" 
    data-dojo-type="dijit/form/Select">
	<% for(var i=0; i<cardTypes.length; i++) { %>
    <option value="<%=cardTypes[i].groupId || i%>"><%=cardTypes[i].groupName || cardTypes[i].name%></option>
    <% } %>
</select>