<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:false" id="card-table">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:false" id="card-table-ctrl">
    	<div class="card-table__control clearspace">
            <span>Тип объектов:</span>
            <%- selectHtml %>
        </div>
        
        <div class="card-table__control clearspace">
            <span>Слой:</span>
            <span id="card-table-layer-groups-select-container"></span>
        </div>
        
        <div class="card-table__control">
            <button data-dojo-type="dijit/form/Button" id="cardTableRetrieveButton">
                <i class="fa fa-refresh"></i> Перезагрузить таблицу
            </button>
    	</div>
        
        <div class="card-table__control">
            <button data-dojo-type="dijit/form/Button" id="cardTableSaveButton">
                <i class="fa fa-save"></i> Сохранить
            </button>            
        </div>
    </div>
    <div id="card-table-container" 
        data-dojo-type="dijit/layout/ContentPane" 
        data-dojo-props="region:'center', splitter:false" ></div>
</div>