<div
    data-dojo-type="dijit/layout/TabContainer"
    data-dojo-attach-point="card-table-tabs"
    data-dojo-props="region:'center'"

    id="card-table-tabs">
        <% if(layers){
        	 layers.forEach(function(layer, layerId) {
                if(layer.groupId == groupId) {%>
                    <div
                        data-dojo-type="dijit/layout/ContentPane"
                        title="<%=layer.name%>"
                        id="cardTable-tab-<%=layer.id%>">
                            <div
                                data-dojo-type="dijit/layout/BorderContainer">
                                <!-- grid controls-->
                                <div
                                    data-dojo-type="dijit/layout/ContentPane"
                                    data-dojo-props="region: 'top', splitter: false">
                                    <form name='filterTableForm' class="card-table__filter-form" onsubmit="return false;">
                                        <div style="float:left">
                                            <p>
                                                <input
                                                    style="width: 400px"
                                                    placeholder="Например: общежитие%"
                                                    data-dojo-type="wgs45/controllers/ClearableTextBox"
                                                    class="card-table__filter"/>
                                            </p>
                                            <!-- <p style="margin: 10px 0">
                                                Искать в:
                                                <input type="radio" name="filterDB" data-dojo-type="dijit/form/RadioButton" class="card-table__filter-radiobutton" checked/>
                                                ГИС ТУСУР
                                                <input type="radio" name="filterDB" data-dojo-type="dijit/form/RadioButton" class="card-table__filter-radiobutton"/>
                                                АИС "Контингент"
                                            </p> -->
                                        </div>
                                        <button type="submit" data-dojo-type="dijit/form/Button" class="card-table__filter-button card-table__toolbar-button">
                                            <i class="fa fa-search"></i> Поиск
                                        </button>
                                        <button type="button" id="excel-<%= layer.id %>" data-dojo-type="dijit/form/Button" class="card-table__filter-button card-table__toolbar-button">
                                            <i class="fa fa-file-excel-o"></i> Экспорт в Excel
                                        </button>

                                        <% if(cardType.id == 4 || cardType.id == 7){ %>
                                            <button
                                                data-dojo-type="dijit/form/Button"
                                                    class="card-table__show-map-<%= layer.id %> card-table__toolbar-button">
                                                    <i class="fa fa-map-marker"></i> На карте
                                            </button>
                                        <% } %>

                                        <% if([3,4,7].indexOf(+cardType.id) != -1) { %>
                                            <div data-dojo-type="dijit/form/DropDownButton" class="card-table__toolbar-button">
                                                <span>Генерация документов...</span>
                                                <div data-dojo-type="dijit/DropDownMenu">
                                                    <% if(cardType.id == 3) { %>
                                                        <div
                                                            data-dojo-type="dijit/MenuItem"
                                                            class="card-table__report-<%=layer.id%>">
                                                            <i class="fa fa-print"></i> <span class="card-table__report__btn" data-action="replace-student">Приказ на выселение</span>
                                                        </div>

                                                        <div
                                                            data-dojo-type="dijit/MenuItem"
                                                            class="card-table__report-<%=layer.id%>">
                                                            <i class="fa fa-print"></i> <span class="card-table__report__btn" data-action="place-student">Приказ на заселение</span>
                                                        </div>
                                                    <% } %>
                                                    <% if(cardType.id == 4 || cardType.id == 7){ %>
                                                    <div
                                                        data-dojo-type="dijit/MenuItem"
                                                        class="card-table__report-<%=layer.id%>">
                                                        <i class="fa fa-print"></i> <span class="card-table__report__btn" data-action="election" data-group="<%= groupId %>">Список на выборы</span>
                                                    </div>
                                                    <div
                                                        data-dojo-type="dijit/MenuItem"
                                                        class="card-table__report-<%=layer.id%>">
                                                        <i class="fa fa-print"></i> <span class="card-table__report__btn" data-action="rectorat" data-group="<%= groupId %>">Решение ректората</span>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        <% } %>
                                    </form>
                                </div>
                                <!-- grid itself -->
                                <div
                                    class="card-table__grid-content-pane"
                                    data-dojo-type="dijit/layout/ContentPane"
                                    data-dojo-props="region: 'center', splitter: false">
                                </div>
                            </div>

                    </div>
        <%      }
            });
        }%>
</div>
