.PrintDialogForm {
    padding: 5px;
}
.PrintDialogForm select, .PrintDialogForm .inputText {
  width: 300px;
}

.PrintDialogForm .block {
  display: block;
	float: none;
}

.PrintDialogForm label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
