.claro .card-dialog {
    width: 700px;
    height: 80%;
    padding-bottom: 20px;
    
    
    
    
    
}
.flat .card-dialog{
    width: 700px;
    height: 650px;
    top: 10%;
    
    max-height: 100%;
    max-width: 100%;
}
.flat .card-dialog.cart-table {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card-dialog.dojoxFloatingPane {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
    z-index: 99;
    top: 0;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card-dialog .dojoxFloatingPaneTitle {
    background: #CFE5FA;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}
.card-dialog .dojoxFloatingPaneCanvas {
    
}
.card__property-label__title{
    float: left;
    width: 200px;
    display: block;
    margin-left: -100%;
    padding: 5px 0;
}
.card__property-label__input-wrapper{
    margin-left: 210px;
    display:block;
}
.card__property-label__input-wrapper .dijitTextBox{
    width: 100%;
    box-sizing: border-box;
    
    border: solid 1px #ccc;
    border-radius: 2px;
}
.card__property-label__input-wrapper .dijitTextBox.dijitDateTextBox{
    width: auto;
}
.card-dialog ul li {
    margin: 5px 0;
}
.card__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    background: #efefef;
}
.card-dialog form {
    padding-bottom: 50px;
}
.bottom-panel .dojoxDock {
    position: static;
    border: none;
}
.flat .card-dialog .dojoxFloatingPaneTitle {
    background: #007AC2 ;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-bottom: 0;
}
.flat .card-dialog .dojoxFloatingPaneCanvas .dijitContentPane {
    padding: 8px;
}
.flat .card-dialog .dojoxFloatingPaneCanvas .dijitBorderContainer > .dijitContentPane {
    padding: 0;
    border: none;
}
.flat .card-dialog form {
    padding-bottom: 10px;
}
.flat .dojoxFloatingCloseIcon, .flat .dojoxFloatingMaximizeIcon, .flat .dojoxFloatingRestoreIcon, .flat .dojoxFloatingMinimizeIcon {
    width: 20px;
    height: 20px;
      line-height: 20px;
      text-align: center;
      position: absolute;
      top: 8px;
      right: 12px;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      text-decoration: inherit;
      vertical-align: bottom;
      opacity: 0.65;
      background: none;
      
}
.flat .dojoxFloatingCloseIcon::before {
    content: "";
    color: white;
}
.flat .dojoxFloatingMinimizeIcon {
    right:26px;
    top: 9px;
}
.flat .dojoxFloatingMinimizeIcon::before {
    content: "";
    position: relative;
    top: 3px;
}
.card-table__control {
    float: left;
    padding: 0;
    white-space: nowrap;
    margin: 0.2em;
}
.card-table__control .dijitButtonNode *{
    
}
.card-table__control .dijitButton {
    margin: 0;
}
.card-table__control.clearspace {
    padding: 0 1rem 0 0;
}
.card-table__control .fa {
    color: #007ac2;
}
.card__buttons__reset {
    margin-left: 0;
}
.card__buttons__ok {
    margin-right: 0;
}
.card__buttons__save, .card__buttons__ok{
    float: right;
    
}
.card__buttons__ok .dijitButtonNode {
    background: #007ac2;
    color: white;
    font-weight: bold;
    text-shadow: none;
}
.card-table__toolbar-button.dijitButton,
.card-table__toolbar-button.dijitDropDownButton{
    margin: 0 10px;
}
.flat .dijitTextBoxReadOnly, .flat .dijitTextBoxDisabled {
    color: #555;
    background: #f7f7f7;
}