.card__relation__list, .card__relation__actions {
    width: 100%;
}
.card__relation__wrapper::after {
    display: block;
    
    content:" ";
    padding-top:7px;
    margin-bottom:7px;
}
.card__relation__list th, .card__relation__actions th {
    border-bottom: solid 1px #ccc;
    padding: 5px 0;
    font-style: oblique;
    font-size: 0.9rem;
    color: #007ac2;
    font-weight: bold;
}
.card__relation__list td, .card__relation__actions td {
    padding: 3px 0;
    vertical-align: middle;
}
.card__relation__list td.card__nested-card-first,
.card__relation__actions td.card__relation__actions__first{
    padding: 10px 0 3px;
}
.card__relation__list .dijitButton, .card__relation__actions .dijitButton {
    margin: 0;
}
.card__relation__list .dijitButton .dijitButtonNode, .card__relation__actions .dijitButton .dijitButtonNode {
    padding: 2px 5px;
}
.card__relation__actions .dijitComboBox .dijitButtonNode{
    padding: 2px 5px;
}
.card__relation__actions .dijitTextBox .dijitInputInner,
.card__relation__actions .dijitTextBox .dijitInputField .dijitPlaceHolder{
    padding: 2px;
}
.card__relation__list a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: solid 1px black;
}
.card__relation__actions .dijitTextBox {
    width: 100%;
    box-sizing: border-box;
}
.card__relation__list .column-1,
.card__relation__actions .column-1 {
    width: 100px;
}
.card__relation__actions .column-0,
.card__relation__actions .card__relation__actions__first.column-0{
    padding: 3px 15px 3px 0;
}
.card__relation__actions .card__relation__actions__first.column-0{
    padding: 10px 15px 3px 0;
}
