
.flat .davidwalshClearBox { 
	padding-right: 25px; 
	position: relative; 
}
.flat .davidwalshClearBox a.davidwalshClear {
	width: 12px;
	height: 12px;
	display: block;
	overflow: hidden;
	text-indent: -5000px;
	position: absolute;
	top: 30%;
	right: 5px;
	background: url("/wgs4/icons/gis-0.1/closeButtonSprite.png") 0 0 no-repeat;
	z-index: 2000;
	cursor: pointer; 
}
.flat .davidwalshClearBox a.davidwalshClear:hover {
	background-position:-12px 0; 
}
.dj_ie .flat .davidwalshClearBox a.davidwalshClear {
	top:2px; 
}