.dgrid {
  border: 1px solid #d0d0d0;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
}
.dgrid-grid {
   width: 100%;
}
.ui-widget-header,
.ui-widget-header .dgrid-cell,
.dgrid-footer,
.dgrid-footer .dgrid-cell {
  line-height: 20px;
}
.ui-widget-header, .ui-widget-header th, .ui-widget-header td {
  font-weight: bold;
}
.ui-widget-header {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.ui-widget-header .dgrid-cell:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  transition: all 0.1s;
  background: #e1e1e1;
  background: linear-gradient(#f6f6f6, #e1e1e1);
}
.ui-widget-header .dgrid-cell:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  transition: none;
  outline: none;
  background: #d0d0d0;
  background: linear-gradient(#f5f5f5, #f5f5f5);
}
.ui-widget-header .dgrid-cell-padding {
  padding: 8px;
}
.dgrid-footer {
  border-top: 1px solid #d0d0d0;
}
.dgrid-spacer-row .dgrid-cell {
    padding:0;
}
.dgrid-cell {
  border-color: #dcdcdc;
  padding: 4px 8px;
  vertical-align: middle;
}
.ui-state-default {
  transition-duration: 0.1s;
  transition-property: background, border-color;
}
.ui-state-default:hover {
  background: #f5f5f5;
}
.ui-state-active {
  background: #e9e9e9;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.15);
}
.ui-state-active:hover,
.ui-state-active:active {
  background: #e9e9e9;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.15);
}
.ui-state-active .dijit {
  color: #333;
}
.dgrid-no-data,
.dgrid-loading {
  margin: 50px;
  text-align: center;
  color: #9a9b9f;
}
.dgrid-list .ui-state-default {
  line-height: 20px;
  padding: 4px;
}
