#helper-container {
  background-color: #F5F5F5;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  height: 38px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 1px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
#helper-container img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
#helper-container:hover {
  background-color: #fff;
}
.dijitTooltipBelow {
    margin-top: 3px;
}
