.wgs-overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}
.map__progress {
    position: absolute;
    right: 0;
    top: 10px;
    
    
    
    
}
.wgs-progress {
}
.wgs-progress__progress {
    width: 30px;
    height: 30px;
    float: left;
    background:  transparent url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 0 0;
}
.wgs-progress__progress.wgs-progress__progress-wp {
    background:  transparent url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 5px 5px;
}
.wgs-progress__message {
    color: #333;
    float: left;
    line-height: 20px;
    padding: 5px;
    font-size: 0.9rem;
}
.app-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,0.2);
    display: none;
}
.app-loader__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  #fff url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 5px 5px;
    height: 30px;
    width: 70px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 10px;
}
