
.map__legend {
    display: none;
}
.map__legend.visible {
    display: block;
}
table.wgs-legend__select {
    width: 100%;
    box-sizing: border-box;
}
.claro .dijitSelect .dijitArrowButton {
    width: 18px;
}
.map__legend .fusionLegendCheckboxInput {
    display: none;
}
.map__legend .fusionLegendCheckboxContainer {
    width: auto ;
    margin-right: 5px;
}
.map__legend .fusionLegendCheckboxContainer,
.map__legend a.jxTreeItem {
    height: 25px;
    line-height: 25px;
}
.map__legend a.jxTreeItem.fusionCheckboxItem {
    padding-left: 45px;
}
.map__legend .fusionCheckboxItem .jxTreeIcon {
    top: 50%;
    left: 20px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.map__legend .jxTreeLeaf {
    height: 25px;
    line-height: 25px;
}
.wgs-legend__folder-floorplan > img,
.wgs-legend__folder-floorplan > span,
.wgs-legend__folder-floorplan > input,
.wgs-legend__folder-floorplan > a{
    display: none;
}
.wgs-legend__folder-floorplan > .jxTreeNest {
    background-image: none;
}
.wgs-legend__folder-floorplan > .jxTreeNest > .jxTreeContainer {
    margin-left: 0;
}
.map__legend a.jxTreeItem,
.map__legend a.jxTreeItem.jxHover,
.map__legend a.jxTreeItem:hover {
    background-image: none;
}
.wgs-legend__folder {
    position: relative;
}
.wgs-legend__folder__tree-placeholder-first,
.wgs-legend__folder__tree-placeholder-second {
    position: absolute;
    border-left: dotted 1px #ccc;
    height:20px;
    left: 8px;
}
.wgs-legend__folder__tree-placeholder-first {
    top: 0;
    width: 15px;
    border-bottom: dotted 1px #ccc;
}
.wgs-legend__folder__tree-placeholder-second {
    top: 20px;
}
.jxTreeLeafLast > .wgs-legend__folder__tree-placeholder-second,
.jxTreeBranchLastOpen > .wgs-legend__folder__tree-placeholder-second,
.jxTreeBranchLastClosed > .wgs-legend__folder__tree-placeholder-second {
    display: none;
}
.jxTreeContainer:not(.wgs-legend__theme) + .wgs-legend__theme {
  margin-top: 35px;
  position: relative;
}
.jxTreeContainer:not(.wgs-legend__theme) + .wgs-legend__theme:before {
    
    
    border-bottom: solid 2px;
    box-sizing: border-box;
    color: #666;
    font-weight: bold;
    content: "Тематические отчеты";
    display: block;
    font-size: 1rem;
    line-height: 100%;
    padding: 5px 5px 5px 0;
    position: absolute;
    top: -26px;
    left: 8px;
    right: 12px;
}
 .flat .map__legend span.jxTreeLabel {
    vertical-align: top;
}
.flat .map__legend .fusionLegendCheckboxContainer {
    left: 20px;
}
.flat .map__legend .jxTreeLeaf {
    height: 40px;
    line-height: 40px;
}
.flat .map__legend .fusionLegendCheckboxContainer, .flat .map__legend a.jxTreeItem {
    height: 40px;
    line-height: 40px;
}
.flat .map__legend a.jxTreeItem.fusionCheckboxItem {
    padding-left: 55px;
}
.flat .map__legend .fusionCheckboxItem .jxTreeIcon {
    top: 50%;
    left: 35px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.flat .map__legend .jxTreeLeaf {
    height: 40px;
    line-height: 40px;
}
.map__legend li.jxTreeContainer a.jxSelected {
    background: none;
    border: none;
}
.leftCol__inner-container {
  border: none;
}
