@import "/wgs4/js/dojox/layout/resources/FloatingPane.css";
@import "/wgs4/js/dojox/layout/resources/ResizeHandle.css";

html {
    font-size: 14px;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#appLayout {
    height: 100%;
}
#leftCol {
    width: 260px;
    border-bottom: 1px solid #ccc;
}
#logo-container {
    width: 100%;
    max-width: 250px;
}
#logo-container img {
    width: 100%;
}
.claro .dijitBorderContainer-dijitContentPane.center-panel,
.claro .dijitBorderContainer-dijitContentPane.bottom-panel,
.flat .dijitTabContainerTop-dijitContentPane.map__map-pane{
    padding: 0;
}
.claro .dijitBorderContainer-dijitContentPane.top-panel {
    padding: 0;
    height: auto;
}
.claro .dijitAccordionTitle, .claro .tabLabel {
    font-size: 1.1rem;
}
.claro .dijitMenuItemLabel, .claro .dijitButtonText {
    font-size: 0.95rem;
}
.map__legend a.jxTreeItem {
    font-size: 0.95rem;
}
.clearfix::after {
    display: block;
    clear: both;
    content: " ";
}
.flat #map-tab-container .dijitTabListWrapper,
.flat .dojoxFloatingPane .dijitTabListWrapper{
    left:0!important;
}
.flat .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25) inset;
}
.flat .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.flat .dijitToolbar .dijitButtonHover .dijitButtonNode{
    background: transparent;
}
#cont-update-welcome p{
    margin: 10px 0;
}
#cont-update-info table{
    width: 100%;
}
#cont-update-progress-message {
    font-size: 12px;
    clear:left;
    padding-top: 3px;
    width: 250px;
}
#cont-update-progress {
    float: left;
    margin-top: 3px;
}
.cont-update-info .cont-update-info__value {
    width: 100px;
}
#cont-update-with-delete-container {
    width: 100%;
}
.wgs-overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}
.map__progress {
    position: absolute;
    right: 0;
    top: 10px;
    
    
    
    
}
.wgs-progress {
}
.wgs-progress__progress {
    width: 30px;
    height: 30px;
    float: left;
    background:  transparent url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 0 0;
}
.wgs-progress__progress.wgs-progress__progress-wp {
    background:  transparent url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 5px 5px;
}
.wgs-progress__message {
    color: #333;
    float: left;
    line-height: 20px;
    padding: 5px;
    font-size: 0.9rem;
}
.app-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,0.2);
    display: none;
}
.app-loader__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  #fff url('//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 5px 5px;
    height: 30px;
    width: 70px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 10px;
}
.map__map-widget {
    position: absolute;
    top: 43px;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;
    bottom: 22px;
}
.map__map-widget.active {
    width: 100%;
    height: 100%;
}
.mode-bar {
    display:none;
}
.claro .dijitTabContainerTop-dijitContentPane.map__map-pane {
    padding: 0;
}
.map__toolbar__button .dijitButtonNode *{
    vertical-align: middle;
}
.map__toolbar__button i.fa {
    font-size: 0.9em;
    vertical-align: baseline;
}
.map__zoom-toolbar {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 40px;
    transform: translateY(-50%);
}
@media (max-width: 1345px) {
    .map__toolbar__button__min-mode .dijitButtonText {
        display: none;
    }
}
.claro .card-dialog {
    width: 700px;
    height: 80%;
    padding-bottom: 20px;
    
    
    
    
    
}
.flat .card-dialog{
    width: 700px;
    height: 650px;
    top: 10%;
    
    max-height: 100%;
    max-width: 100%;
}
.flat .card-dialog.cart-table {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card-dialog.dojoxFloatingPane {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75); 
    z-index: 99;
    top: 0;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card-dialog .dojoxFloatingPaneTitle {
    background: #CFE5FA;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}
.card-dialog .dojoxFloatingPaneCanvas {
    
}
.card__property-label__title{
    float: left;
    width: 200px;
    display: block;
    margin-left: -100%;
    padding: 5px 0;
}
.card__property-label__input-wrapper{
    margin-left: 210px;
    display:block;
}
.card__property-label__input-wrapper .dijitTextBox{
    width: 100%;
    box-sizing: border-box;
    
    border: solid 1px #ccc;
    border-radius: 2px;
}
.card__property-label__input-wrapper .dijitTextBox.dijitDateTextBox{
    width: auto;
}
.card-dialog ul li {
    margin: 5px 0;
}
.card__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    background: #efefef;
}
.card-dialog form {
    padding-bottom: 50px;
}
.bottom-panel .dojoxDock {
    position: static;
    border: none;
}
.flat .card-dialog .dojoxFloatingPaneTitle {
    background: #007AC2 ;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-bottom: 0;
}
.flat .card-dialog .dojoxFloatingPaneCanvas .dijitContentPane {
    padding: 8px;
}
.flat .card-dialog .dojoxFloatingPaneCanvas .dijitBorderContainer > .dijitContentPane {
    padding: 0;
    border: none;
}
.flat .card-dialog form {
    padding-bottom: 10px;
}
.flat .dojoxFloatingCloseIcon, .flat .dojoxFloatingMaximizeIcon, .flat .dojoxFloatingRestoreIcon, .flat .dojoxFloatingMinimizeIcon {
    width: 20px;
    height: 20px;
      line-height: 20px;
      text-align: center;
      position: absolute;
      top: 8px;
      right: 12px;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      text-decoration: inherit;
      vertical-align: bottom;
      opacity: 0.65;
      background: none;
      
}
.flat .dojoxFloatingCloseIcon::before {
    content: "";
    color: white;
}
.flat .dojoxFloatingMinimizeIcon {
    right:26px;
    top: 9px;
}
.flat .dojoxFloatingMinimizeIcon::before {
    content: "";
    position: relative;
    top: 3px;
}
.card-table__control {
    float: left;
    padding: 0;
    white-space: nowrap;
    margin: 0.2em;
}
.card-table__control .dijitButtonNode *{
    
}
.card-table__control .dijitButton {
    margin: 0;
}
.card-table__control.clearspace {
    padding: 0 1rem 0 0;
}
.card-table__control .fa {
    color: #007ac2;
}
.card__buttons__reset {
    margin-left: 0;
}
.card__buttons__ok {
    margin-right: 0;
}
.card__buttons__save, .card__buttons__ok{
    float: right;
    
}
.card__buttons__ok .dijitButtonNode {
    background: #007ac2;
    color: white;
    font-weight: bold;
    text-shadow: none;
}
.card-table__toolbar-button.dijitButton,
.card-table__toolbar-button.dijitDropDownButton{
    margin: 0 10px;
}
.flat .dijitTextBoxReadOnly, .flat .dijitTextBoxDisabled {
    color: #555;
    background: #f7f7f7;
}
.card__relation__list, .card__relation__actions {
    width: 100%;
}
.card__relation__wrapper::after {
    display: block;
    
    content:" ";
    padding-top:7px;
    margin-bottom:7px;
}
.card__relation__list th, .card__relation__actions th {
    border-bottom: solid 1px #ccc;
    padding: 5px 0;
    font-style: oblique;
    font-size: 0.9rem;
    color: #007ac2;
    font-weight: bold;
}
.card__relation__list td, .card__relation__actions td {
    padding: 3px 0;
    vertical-align: middle;
}
.card__relation__list td.card__nested-card-first,
.card__relation__actions td.card__relation__actions__first{
    padding: 10px 0 3px;
}
.card__relation__list .dijitButton, .card__relation__actions .dijitButton {
    margin: 0;
}
.card__relation__list .dijitButton .dijitButtonNode, .card__relation__actions .dijitButton .dijitButtonNode {
    padding: 2px 5px;
}
.card__relation__actions .dijitComboBox .dijitButtonNode{
    padding: 2px 5px;
}
.card__relation__actions .dijitTextBox .dijitInputInner,
.card__relation__actions .dijitTextBox .dijitInputField .dijitPlaceHolder{
    padding: 2px;
}
.card__relation__list a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: solid 1px black;
}
.card__relation__actions .dijitTextBox {
    width: 100%;
    box-sizing: border-box;
}
.card__relation__list .column-1,
.card__relation__actions .column-1 {
    width: 100px;
}
.card__relation__actions .column-0,
.card__relation__actions .card__relation__actions__first.column-0{
    padding: 3px 15px 3px 0;
}
.card__relation__actions .card__relation__actions__first.column-0{
    padding: 10px 15px 3px 0;
}

.map__status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: #efefef;
    border-top: solid 1px #B5BCC7;
}
.map__status-bar__item {
    float: left;
    padding: 2px 10px;
    border-right: solid 1px #B5BCC7;
    text-align: left;
    height: 1.2rem;
}
.map__status-bar__item .inputEditableScale {
    
    
}
.map__status-bar__item .spanViewSize, .map__status-bar__item .spanCursorPosition {
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map__status-bar__item .spanCursorPosition {
    width: 200px;
}
.map__status-bar__item .wgs-version,
.map__status-bar__item .spanViewSize,
.map__status-bar__item .spanCursorPosition,
.map__status-bar__item .spanSelectionInfo,
.map__status-bar__item .inputEditableScalePrefix,
.map__status-bar__item .inputEditableScale{
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.1rem 0;
    border: none;
    margin: 0;
}
.map__status-bar__item.wgs-version-container {
    float:right;
    font-size: 0.7rem;
    line-height: 1.2rem;
    padding-right: 5px;
}
.map__status-bar__item .inputEditableScale{
    padding: 0;
}
.map__status-bar__item .spanViewSize,
.map__status-bar__item .spanCursorPosition {
    
}
.map__legend {
    display: none;
}
.map__legend.visible {
    display: block;
}
table.wgs-legend__select {
    width: 100%;
    box-sizing: border-box;
}
.claro .dijitSelect .dijitArrowButton {
    width: 18px;
}
.map__legend .fusionLegendCheckboxInput {
    display: none;
}
.map__legend .fusionLegendCheckboxContainer {
    width: auto ;
    margin-right: 5px;
}
.map__legend .fusionLegendCheckboxContainer,
.map__legend a.jxTreeItem {
    height: 25px;
    line-height: 25px;
}
.map__legend a.jxTreeItem.fusionCheckboxItem {
    padding-left: 45px;
}
.map__legend .fusionCheckboxItem .jxTreeIcon {
    top: 50%;
    left: 20px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.map__legend .jxTreeLeaf {
    height: 25px;
    line-height: 25px;
}
.wgs-legend__folder-floorplan > img,
.wgs-legend__folder-floorplan > span,
.wgs-legend__folder-floorplan > input,
.wgs-legend__folder-floorplan > a{
    display: none;
}
.wgs-legend__folder-floorplan > .jxTreeNest {
    background-image: none;
}
.wgs-legend__folder-floorplan > .jxTreeNest > .jxTreeContainer {
    margin-left: 0;
}
.map__legend a.jxTreeItem,
.map__legend a.jxTreeItem.jxHover,
.map__legend a.jxTreeItem:hover {
    background-image: none;
}
.wgs-legend__folder {
    position: relative;
}
.wgs-legend__folder__tree-placeholder-first,
.wgs-legend__folder__tree-placeholder-second {
    position: absolute;
    border-left: dotted 1px #ccc;
    height:20px;
    left: 8px;
}
.wgs-legend__folder__tree-placeholder-first {
    top: 0;
    width: 15px;
    border-bottom: dotted 1px #ccc;
}
.wgs-legend__folder__tree-placeholder-second {
    top: 20px;
}
.jxTreeLeafLast > .wgs-legend__folder__tree-placeholder-second,
.jxTreeBranchLastOpen > .wgs-legend__folder__tree-placeholder-second,
.jxTreeBranchLastClosed > .wgs-legend__folder__tree-placeholder-second {
    display: none;
}
.jxTreeContainer:not(.wgs-legend__theme) + .wgs-legend__theme {
  margin-top: 35px;
  position: relative;
}
.jxTreeContainer:not(.wgs-legend__theme) + .wgs-legend__theme:before {
    
    
    border-bottom: solid 2px;
    box-sizing: border-box;
    color: #666;
    font-weight: bold;
    content: "Тематические отчеты";
    display: block;
    font-size: 1rem;
    line-height: 100%;
    padding: 5px 5px 5px 0;
    position: absolute;
    top: -26px;
    left: 8px;
    right: 12px;
}
 .flat .map__legend span.jxTreeLabel {
    vertical-align: top;
}
.flat .map__legend .fusionLegendCheckboxContainer {
    left: 20px;
}
.flat .map__legend .jxTreeLeaf {
    height: 40px;
    line-height: 40px;
}
.flat .map__legend .fusionLegendCheckboxContainer, .flat .map__legend a.jxTreeItem {
    height: 40px;
    line-height: 40px;
}
.flat .map__legend a.jxTreeItem.fusionCheckboxItem {
    padding-left: 55px;
}
.flat .map__legend .fusionCheckboxItem .jxTreeIcon {
    top: 50%;
    left: 35px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.flat .map__legend .jxTreeLeaf {
    height: 40px;
    line-height: 40px;
}
.map__legend li.jxTreeContainer a.jxSelected {
    background: none;
    border: none;
}
.leftCol__inner-container {
  border: none;
}
.map__message-container {
    position:absolute; 
    z-index:1000; 
    padding:10px; 
    border:solid 2px #ECECEC; 
    background:#FFFFBB; 
    vertical-align:middle;
}
.map__message-container table td{
    vertical-align: middle;
}
.map__message-container table td img{ 
    display: block;   
}
.dijitMenu i.fa {
    width: 1.4em;
    font-size: 0.95em;
}
.dgrid {
  border: 1px solid #d0d0d0;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
}
.dgrid-grid {
   width: 100%;
}
.ui-widget-header,
.ui-widget-header .dgrid-cell,
.dgrid-footer,
.dgrid-footer .dgrid-cell {
  line-height: 20px;
}
.ui-widget-header, .ui-widget-header th, .ui-widget-header td {
  font-weight: bold;
}
.ui-widget-header {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.ui-widget-header .dgrid-cell:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  transition: all 0.1s;
  background: #e1e1e1;
  background: linear-gradient(#f6f6f6, #e1e1e1);
}
.ui-widget-header .dgrid-cell:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  transition: none;
  outline: none;
  background: #d0d0d0;
  background: linear-gradient(#f5f5f5, #f5f5f5);
}
.ui-widget-header .dgrid-cell-padding {
  padding: 8px;
}
.dgrid-footer {
  border-top: 1px solid #d0d0d0;
}
.dgrid-spacer-row .dgrid-cell {
    padding:0;
}
.dgrid-cell {
  border-color: #dcdcdc;
  padding: 4px 8px;
  vertical-align: middle;
}
.ui-state-default {
  transition-duration: 0.1s;
  transition-property: background, border-color;
}
.ui-state-default:hover {
  background: #f5f5f5;
}
.ui-state-active {
  background: #e9e9e9;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.15);
}
.ui-state-active:hover,
.ui-state-active:active {
  background: #e9e9e9;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.15);
}
.ui-state-active .dijit {
  color: #333;
}
.dgrid-no-data,
.dgrid-loading {
  margin: 50px;
  text-align: center;
  color: #9a9b9f;
}
.dgrid-list .ui-state-default {
  line-height: 20px;
  padding: 4px;
}
.theme-list-window_underlay, .theme-edit-window_underlay, .theme-setup-window_underlay, .theme-layer-edit-window_underlay {
  opacity: 0;
}
.theme-list-window, .theme-edit-window, .theme-setup-window, .theme-layer-edit-window {
  box-shadow: 3px 3px 5px 0 #999;
}
.theme-list-window {
}
.theme-setup-window {
  width: 700px;
}
.theme-layer-edit-window {
  width: 800px;
}
.theme-window-control-pane, .theme-layers-control-pane {
 
  padding: 7px 0;
}
.theme-map-title {
  color: #007AC2;
  margin: 5px 0;
  font-weight: bold;
}
.theme-empty-message {
  color: #007AC2;
  margin: 5px 0;
  font-weight: bold;
}
.theme-list-control-item  {
  display: inline-block;
  margin-right: 15px;
}
.theme-list-record {
  padding: 8px 0;
  display: block;
  border-bottom: 1px dashed #999;
}
.theme-list-record:after, .theme-layer-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}
.theme-list-item {
  float: right;
  margin-left: 15px;
}
.theme-list-item i, .theme-list-control-item i {
  font-size: 24px;
  color: #007AC2;
}
.theme-list-item i:hover, .theme-list-control-item:hover i {
  color: #007A62;
  cursor: pointer;
}
.theme-list-control-item:hover {
  cursor: pointer;
}
.theme-layer-name {
  display: inline-block;
  max-width: 350px;
}
.theme-edit-container {
  padding: 20px 0;
}
input#theme-name, input.theme-layer-label.tl-name {
    border-color: #999;
    border-style: solid;
    border-width: 0 0 1px;
    height: 20px;
    padding-left: 15px;
    width: 250px;
}
button#theme-edit-submit-button {
}
.theme_submit_panel {
  text-align: right;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #999;
}
.theme_submit_panel > span {
  margin: 0;
}
.theme-layer-wrapper {
  padding: 5px 0;
   border-bottom: 1px dashed #999;
}
.theme-layer-style-preview {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: bottom;
}
.theme-layer-control {
 display: inline-block;
  float: right;
}
.theme-layer-info {
  float: left;
  position: relative;
}
.theme-layer-label-panel {
  
}
.theme-layer-label {
 
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.theme-layer-label.label, .theme-layer-condition {
  font-style: italic;
  font-weight: bold;
}
.theme-layer-value, .theme-layer-condition {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
 
}
.theme-layer-label.style {
  width: 65px;
}
.theme-layer-label.name, .theme-layer-value.name {
  width: 145px;
}
.theme-layer-label.featurelayer, .theme-layer-value.featurelayer {
  width: 225px;
}
.theme-layer-label.objecttype, .theme-layer-value.objecttype {
  width: 150px;
}
.theme-layer-label.theme-name {
  width: 450px;
}
.theme-layer-label.theme-control {
  width: 100px;
}
.theme-layer-label.tl-name, input.theme-layer-label.tl-name {
  padding-left: 0;
  width: 150px;
}
.theme-layer-label.tl-featurelayer {
  width: 300px;
}
.theme-layer-label.tl-objecttype {
  width: 150px;
}
.theme-layer-label.tl-geometry {
  width: 150px;
}
.theme-layer-condition.property {
  width: 210px;
}
.theme-layer-condition.condition {
  width: 210px;
}
.theme-layer-condition.value {
  width: 210px;
}
div#style-preview {
  border: 2px solid #000;
  border-radius: 2px;
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 100px;
}
 .theme-list-window .dijitDialogTitleBar,
 .theme-edit-window .dijitDialogTitleBar,
 .theme-setup-window .dijitDialogTitleBar,
 .theme-layer-edit-window .dijitDialogTitleBar {
  background-color: #007ac2;
  color: white;
 }
.map-widget__stats-panel {
	display: none;
	background: white none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
}
.map-widget__room-stats-panel {
	display: inline-block;
	background: white none repeat scroll 0 0;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
}
.student-list__item {
   padding-top: 5px;  
}
#stats-Map-tusur__container {
	display: none;
}
.dgrid__control-link {
    color: #666;
}
.dgrid-row.ui-state-active {
    box-shadow: none;
}
.dgrid-row-table .dgrid-cell {
    vertical-align: top;
}
.dgrid-column-set-0 {
    width: 400px;
}
.dgrid .dgrid-cell {
    width: 150px;
}
.dgrid .field-typeName {
    width: 0;
    padding: 0;
    border: none;
}
.dgrid .field-edit_user {
    width: 600px;
}
.dgrid .field-relation {
    width: 500px;
}
.dgrid .field-action {
    width: 250px;
}
.dgrid .field-property-12 {
    width: 250px;
}
.dgrid .dijitSelect, .dgrid .dijitTextBox {
    width: 100%;
    box-sizing: border-box;
}
.dgrid .dijitSelect .dijitArrowButton {
    vertical-align: middle;
    padding-top: 5px
}
.card-table__relation-field__content {
    width: 490px;
}
.card-table__relation-field__content a {
    color: #666;
}
.card-table__relation-field__content a:hover {
    color: #111;
}
.card-table__relation-field__content__action {
    width: 100px;
}
.dgrid .dgrid-cell-editing{
    padding: 0;
}
.dgrid .dijitTextArea {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: solid 1px rgba(255,255,255,0);
    box-shadow: none;
}
.dgrid-cell .dijitFocused.dijitTextArea {
    border: solid 1px #007ac2;
}
.dgrid .dijitTextBox input:focus {
    outline: none;
}
.dgrid-sort-up .dgrid-sort-arrow::before {
    content: "";
}
.dgrid-sort-down .dgrid-sort-arrow::before {
    content: "";
}
.dgrid-sort-up .dgrid-sort-arrow {
    background-position: 0px -16px;
}
.dgrid-sort-down .dgrid-sort-arrow {
    background-position: 0px -16px;
}
.wgs-icon {
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;    
    background-size: 18px 18px;
    display: inline-block;
}
.wgs-icon-big {
    width: 24px;
    height: 24px;    
    background-size: 24px 24px;
    display: inline-block;
}
.action-select{
    background-image: url("/wgs4/icons/gis-0.1/mActionSelect.png");
}
.action-measure{
    background-image: url("/wgs4/icons/gis-0.1/mActionMeasure.png");
}
.action-pan{
    background-image: url("/wgs4/icons/gis-0.1/mActionPan.png");
}
.action-zoom-in{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomIn.png");
}
.action-zoom-out{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomOut.png");
}
.action-zoom-last{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomLast.png");
}
.action-zoom-full{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomFullExtent.png");
}
.action-select-polygon{
    background-image: url("/wgs4/icons/gis-0.1/mActionCapturePolygon.png");
}
.action-select-line{
    background-image: url("/wgs4/icons/gis-0.1/mActionCaptureLine.png");
}
.action-zoom-polygon{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomToSelected.png");
}
.action-card-open{
    background-image: url("/wgs4/icons/gis-0.1/mActionOpenTable.png");
}
#helper-container {
  background-color: #F5F5F5;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  height: 38px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 1px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
#helper-container img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
#helper-container:hover {
  background-color: #fff;
}
.dijitTooltipBelow {
    margin-top: 3px;
}
.flat .davidwalshClearBox { 
	padding-right: 25px; 
	position: relative; 
}
.flat .davidwalshClearBox a.davidwalshClear {
	width: 12px;
	height: 12px;
	display: block;
	overflow: hidden;
	text-indent: -5000px;
	position: absolute;
	top: 30%;
	right: 5px;
	background: url("/wgs4/icons/gis-0.1/closeButtonSprite.png") 0 0 no-repeat;
	z-index: 2000;
	cursor: pointer; 
}
.flat .davidwalshClearBox a.davidwalshClear:hover {
	background-position:-12px 0; 
}
.dj_ie .flat .davidwalshClearBox a.davidwalshClear {
	top:2px; 
}
.print-dialog_underlay {
  opacity: 0;
}
.print-dialog .dijitDialogTitleBar {
  background-color: #007ac2;
  color: white;
}
.print-dialog {
  width: 500px !important;
  height: 500px !important;
}
.print-dialog .taskPanePanel {
  height: 100%;
  width: 100%;
}
.print-dialog  .taskPanePanel > .jxPanel{
  height: 100% !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxPanelContentContainer {
  display: block !important;
  height: 465px !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxPanelContent {
  height: 100% !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxPanelContent iframe {
  height: 100% !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxBarTop {
  display: none;
}
