
.print-dialog_underlay {
  opacity: 0;
}
.print-dialog .dijitDialogTitleBar {
  background-color: #007ac2;
  color: white;
}
.print-dialog {
  width: 500px !important;
  height: 500px !important;
}
.print-dialog .taskPanePanel {
  height: 100%;
  width: 100%;
}
.print-dialog  .taskPanePanel > .jxPanel{
  height: 100% !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxPanelContentContainer {
  display: block !important;
  height: 465px !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxPanelContent {
  height: 100% !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxPanelContent iframe {
  height: 100% !important;
  width: 100% !important;
}
.print-dialog .taskPanePanel .jxBarTop {
  display: none;
}
