img.about { background-position: 0px 0px; }
img.buffer { background-position: -16px 0px; }
img.coordinate-tracker { background-position: -32px 0px; }
img.edit-copy { background-position: -48px 0px; }
img.edit-cut { background-position: -64px 0px; }
img.edit-duplicate { background-position: -80px 0px; }
img.edit-paste { background-position: -96px 0px; }
img.edit-xml { background-position: -112px 0px; }
img.error { background-position: -128px 0px; }
img.feature-info { background-position: -144px 0px; }
img.file-print { background-position: -160px 0px; }
img.file-save { background-position: -176px 0px; }
img.geolocation { background-position: -192px 0px; }
img.help { background-position: -208px 0px; }
img.iconNavigator { background-position: -224px 0px; }
img.info { background-position: -240px 0px; }
img.initial-center { background-position: -256px 0px; }
img.invoke-script { background-position: -272px 0px; }
img.invoke-url { background-position: -288px 0px; }
img.legend-DWF { background-position: -304px 0px; }
img.legend-layer { background-position: -320px 0px; }
img.legend-map { background-position: -336px 0px; }
img.legend-raster { background-position: -352px 0px; }
img.legend-theme { background-position: -368px 0px; }
img.maptip { background-position: -384px 0px; }
img.measure { background-position: -400px 0px; }
img.options { background-position: -416px 0px; }
img.out-of-range { background-position: -432px 0px; }
img.overview-map { background-position: -448px 0px; }
img.pan-east { background-position: -464px 0px; }
img.pan-north { background-position: -480px 0px; }
img.pan-south { background-position: -496px 0px; }
img.pan-west { background-position: -512px 0px; }
img.pan { background-position: -528px 0px; }
img.preview { background-position: -544px 0px; }
img.print { background-position: -560px 0px; }
img.query { background-position: -576px 0px; }
img.redline { background-position: -592px 0px; }
img.search { background-position: -608px 0px; }
img.select-centre { background-position: -624px 0px; }
img.select-clear { background-position: -640px 0px; }
img.select-features { background-position: -656px 0px; }
img.select-polygon { background-position: -672px 0px; }
img.select-radius { background-position: -688px 0px; }
img.select-zoom { background-position: -704px 0px; }
img.select { background-position: -720px 0px; }
img.theme { background-position: -736px 0px; }
img.view-back { background-position: -752px 0px; }
img.view-forward { background-position: -768px 0px; }
img.view-refresh { background-position: -784px 0px; }
img.warning { background-position: -800px 0px; }
img.zoom-dynamic { background-position: -816px 0px; }
img.zoom-full { background-position: -832px 0px; }
img.zoom-in-fixed { background-position: -848px 0px; }
img.zoom-in { background-position: -864px 0px; }
img.zoom-out-fixed { background-position: -880px 0px; }
