img.buffer { background-position: 0px 0px; }
img.edit-copy { background-position: -16px 0px; }
img.edit-cut { background-position: -32px 0px; }
img.edit-duplicate { background-position: -48px 0px; }
img.edit-paste { background-position: -64px 0px; }
img.edit-redo { background-position: -80px 0px; }
img.edit-undo { background-position: -96px 0px; }
img.file-open { background-position: -112px 0px; }
img.file-print { background-position: -128px 0px; }
img.file-save { background-position: -144px 0px; }
img.help { background-position: -160px 0px; }
img.legend-layer { background-position: -176px 0px; }
img.legend-map { background-position: -192px 0px; }
img.legend-raster { background-position: -208px 0px; }
img.legend-theme { background-position: -224px 0px; }
img.measure { background-position: -240px 0px; }
img.move-down { background-position: -256px 0px; }
img.move-up { background-position: -272px 0px; }
img.navigator { background-position: -288px 0px; }
img.pan-east { background-position: -304px 0px; }
img.pan-north { background-position: -320px 0px; }
img.pan-south { background-position: -336px 0px; }
img.pan { background-position: -352px 0px; }
img.search { background-position: -368px 0px; }
img.select-attribute { background-position: -384px 0px; }
img.select-centre { background-position: -400px 0px; }
img.select-clear { background-position: -416px 0px; }
img.select-features { background-position: -432px 0px; }
img.select-polygon { background-position: -448px 0px; }
img.select-query { background-position: -464px 0px; }
img.select-radius { background-position: -480px 0px; }
img.select-rectangle { background-position: -496px 0px; }
img.select-zoom { background-position: -512px 0px; }
img.select { background-position: -528px 0px; }
img.view-back { background-position: -544px 0px; }
img.view-forward { background-position: -560px 0px; }
img.view-refresh { background-position: -576px 0px; }
img.warning { background-position: -592px 0px; }
img.west { background-position: -608px 0px; }
img.zoom-full { background-position: -624px 0px; }
img.zoom-in-fixed { background-position: -640px 0px; }
img.zoom-in { background-position: -656px 0px; }
img.zoom-out-fixed { background-position: -672px 0px; }
img.zoom-out { background-position: -688px 0px; }
