
table.dijitComboButtonRtl .dijitStretch {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
table.dijitComboButtonRtl .dijitArrowButton {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-left-width: 1px;
  border-right-width: 0;
}
