<div  data-dojo-type="dojox/app/widgets/Container" class="bottom-nav-bar">
<ul data-dojo-type="dojox/mobile/TabBar" data-dojo-props="fixed:'bottom'" class="bottom-bar" id="panes-bar">
				<li data-dojo-type="dojox/mobile/TabBarButton"
					data-dojo-attach-point="mapButton"
					id="mapButton"
					data-dojo-props='icon:"/wgs4/icons/grey/map_4.png",
                       iconPos1: "0,0,128,128",
                       target:"map",  "label": "${nls.map}"'></li>
				<li data-dojo-type="dojox/mobile/TabBarButton"
					data-dojo-attach-point="legendButton"
					id="legendButton"
					data-dojo-props='icon:"/wgs4/icons/grey/layers_4.png",
                       iconPos1: "0,0,128,128",selected:true,
                       target:"leftView,legend", "label":"${nls.legend}"'></li>
				<li data-dojo-type="dojox/mobile/TabBarButton"
					data-dojo-attach-point="taskButton"					
					id="taskButton"					
					data-dojo-props='icon:"/wgs4/icons/grey/search_3.png",
                       iconPos1: "0,0,128,128",
                       target:"leftView,taskpane",label:"${nls.tasks}"'></li>
				<!--<li data-dojo-type="dojox/mobile/TabBarButton"
					id="bottom-themes-button"	
					data-dojo-attach-point="themeButton"										
					data-dojo-props='icon:"/wgs4/icons/white/theme_2.png",
                       iconPos1: "0,0,128,128",
                       target:"thematic"'>Thematic</li>-->

				<li	data-dojo-type="dojox/mobile/TabBarButton"
					data-dojo-attach-point="cardButton"
					id="cardButton" style="border: 0"
					data-dojo-props='icon:"/wgs4/icons/grey/card_3.png",
                       iconPos1: "0,0,145,145",
					   target: "leftView,card",label:"${nls.card}"'></li>
			</ul>
</div>
