﻿<div data-dojo-type="dojox/app/widgets/Container" class="wgs4_card">
	<div 		

		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">	
		
		<button id="SaveCardButton" data-dojo-attach-point="SaveCardButton"
		data-dojo-type="dojox/mobile/ToolBarButton" style="float:right"disabled='disabled' class="mblGreyButton"
		data-dojo-props="label :'<i class=\'fa fa-save\'></i>'"
		>   </button>

	</div>
	<div class="fixed-to-top">
		<div id="targetForCardCombobox" data-dojo-attach-point="targetForCardCombobox"></div>
		<div style="color: #007AFF; display:none; align: center" data-dojo-attach-point="cardChangesSaved" id="cardChangesSaved">Изменения были сохранены</div>
		<div style="color: #007AFF; align: center" data-dojo-attach-point="cardSelectAnything" id="cardSelectAnything">Выделите хотя бы один объект</div>
	</div>	
	<div style="background-color:white;" data-dojo-type="dojox/mobile/View" data-dojo-attach-point="cardDisplayContainer" id="cardDisplayContainer"
	style="top:42px" data-dojo-props="height:'auto'">
	
		<div id="targetForCardSwaps" data-dojo-attach-point="targetForCardSwaps"></div>
			
	</div>
	<div 
		data-dojo-type="dojox/mobile/SpinWheelDatePicker" 
		data-dojo-attach-point="datePicker" 
		data-dojo-props="_getDateAttr: this.getDateAttr, _disableEndDaysOfMonth: this.disableEndDaysOfMonth"></div>
	<div data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-attach-point="dateDialog" id="dateDialog">
	<div 
			data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'Выберите дату'">
			<button 
				class="mblBlueButton" 
				style="float:right" 
				data-dojo-type="dojox/mobile/Button" data-dojo-attach-point="dateSelectButton">Готово</button>
		</div>
	</div>

</div>
