<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,editor', transitionDir: -1"
            style="float:left"
            class="backButton">${nls.backToEm}</button>
	</div>
	<div 
		data-dojo-type="wgs4/wheelScrollableView" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:44px;left:0;bottom:0;position:absolute;right:0;"
		>
		<!--
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'Geometry info'"></div>		
		<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props="shadow:true">
			Select objects on map to view their geometric properties
		</div>
		-->
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" class="redline-label point-actions line-actions">${nls.insertFeature}</div>		
				
		<div class="redline-actions point-actions line-actions">
			
			<table>
				<tr>
					<th class="line-actions">
						№
					</th>
					<th class="first-td">
						X
					</th>
					<th class="last-td">
						Y
					</th>
					<th><!--<i class="fa fa-location-arrow"></i>--></th>
				</tr>
				
				<tr>
					<td class="line-actions">
						1:&nbsp;
					</td>
					<td class="first-td">
						<input type="text" id="add-point-x" data-dojo-type="dojox/mobile/TextBox" data-dojo-props="placeHolder: 'x'"/>
					</td>
					<td class="first-td last-td">
						<input type="text" id="add-point-y" data-dojo-type="dojox/mobile/TextBox" data-dojo-props="placeHolder: 'y'"/>			
					</td>
					<td class="last-td">
						<button data-dojo-type="dojox/mobile/Button" 
							class="redline-button mblGreyButton"
							id="getCoordPointBtn" 
							data-dojo-attach-point="getCoordPointBtn">
						<i class="fa fa-location-arrow"></i></button>
					</td>
				</tr>
				
				<tr class="line-actions second-line">
					<td class="line-actions">
						2:&nbsp;
					</td>
					<td class="first-td">
						<input type="text" id="add-point-x2" data-dojo-type="dojox/mobile/TextBox" data-dojo-props="placeHolder: 'x'"/>
					</td>
					<td class="first-td last-td">
						<input type="text" id="add-point-y2" data-dojo-type="dojox/mobile/TextBox" data-dojo-props="placeHolder: 'y'"/>			
					</td>
					<td class="last-td">
						<button data-dojo-type="dojox/mobile/Button" 
							class="redline-button mblGreyButton"
							id="getCoordPointBtn2" 
							data-dojo-attach-point="getCoordPointBtn2">
						<i class="fa fa-location-arrow"></i></button>
					</td>
				</tr>
			</table>
				
			<button data-dojo-type="dojox/mobile/Button" 
				class="point-actions redline-button mblBlueButton" id="coordPointBtn" data-dojo-attach-point="coordPointBtn">
				<i class="fa fa-plus"></i> ${nls.point}</button>
			
			<button data-dojo-type="dojox/mobile/Button" 
				class="line-actions redline-button mblBlueButton" id="coordLineBtn" data-dojo-attach-point="coordLineBtn">
				<i class="fa fa-plus"></i> ${nls.line}</button>
		</div>
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" class="redline-label">${nls.drawFeature}</div>
		<div class="redline-actions">	
			<div class="point-actions" style="display:none">
				<button data-dojo-type="dojox/mobile/Button" class="redline-button mblBlueButton" id="pointBtn" data-dojo-attach-point="pointBtn"	>
						<i class="fa fa-plus"></i> ${nls.drawPoint}</button>
			</div>
			<div class="line-actions" style="display:none">
				<button data-dojo-type="dojox/mobile/Button" class="redline-button mblBlueButton" id="lineBtn" data-dojo-attach-point="lineBtn" >
				<i class="fa fa-plus"></i> ${nls.drawLine}</button>
			</div>
				
			<div class="poly-actions" style="display:none">			
				<button data-dojo-type="dojox/mobile/Button" class="redline-button mblBlueButton" id="polygonBtn" data-dojo-attach-point="polygonBtn" >
					<i class="fa fa-plus"></i> ${nls.drawPoly}</button>
			</div>
		</div>	
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" class="redline-label">${nls.removeFeature}</div>
		<div class="redline-actions">
			<div class="redline-ckeckbox" style="" >
				<input data-dojo-type="dojox/mobile/CheckBox" type="checkbox" id="chkForDeleteBindedCards" />
				<label for="chkForDeleteBindedCards"></label><span>${nls.deleteBinded}</span>
			</div>
			<button data-dojo-type="dojox/mobile/Button" class="redline-button mblRedButton" id="deleteBtn" data-dojo-attach-point="deleteBtn"
					data-dojo-props="disabled: true"><i class="fa fa-trash-o"></i> ${nls.deleteSelected}</button>
			
		</div>
		
	
	</div>			
</div>
