<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,taskpane', transitionDir: -1"
            style="float:left"
            class="backButton">${nls.back}</button>
	</div>
	<div 
		data-dojo-type="wgs4/wheelScrollableView" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:44px;left:0;bottom:0;position:absolute;right:0;"
		>
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.helpTitle}'"></div>		
		<div data-dojo-type="dojox/mobile/Pane">
			${nls.help}
		</div>
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.layers}'"></div>
		<ul data-dojo-type="dojox/mobile/EdgeToEdgeList" data-dojo-attach-point = "layerList">
			
		</ul>
	
	</div>			
</div>
