﻿<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="RelationHeading"
		data-dojo-type="dojox/mobile/Heading">
				
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,card', transitionDir: -1"
            style="float:left"
            class="backButton">Назад</button>
			
			<div id = "RelationTitle" class="mblHeadingDivTitle" role="heading" aria-level="1">Связи
			</div>
		</span>
	</div>
	
	<div style="top:2px;left:0;bottom:0px;position:relative;right:0;background-color:white;"
		 data-dojo-type="wgs4/wheelScrollableView"
		 data-dojo-attach-point="RelationDisplayContainer" id="RelationDisplayContainer">
		 
		 
	</div>
</div>
