<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,taskpane', transitionDir: -1"
            style="float:left"
            class="backButton">${nls.back}</button>		
	</div>
	<div 
		data-dojo-type="wgs4/wheelScrollableView" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:42px;left:0;bottom:0;position:absolute;right:0;">
			<ul id="themes_list" data-dojo-type="dojox/mobile/EdgeToEdgeList"></ul>
			<div ></div>		
	</div>			
</div>
