<div>
	<div data-dojo-type="dojox/mobile/Heading" id="appHeading" data-dojo-props="label:'${nls.title}'">
		<button 
			id = "appMenu"
			data-dojo-type="dojox/mobile/ToolBarButton"
			data-dojo-attach-point="menuButton" style="float:left;">
			<i class="fa fa-bars"></i> ${nls.menu}			
		</button>
		<button 
			data-dojo-type="dojox/mobile/ToolBarButton"
			id = "appBack"
			data-dojo-attach-point="backButton" style="float:left"
			data-dojo-props="arrow: 'left', label: '<i class=\'fa fa-sign-out\'></i> ${nls.exit}'">
		</button>
		<button 
			data-dojo-type="dojox/mobile/ToolBarButton"
			id = "appShowMap"
			data-dojo-attach-point="appShowMap" style="float:right; display:none"
			data-dojo-props="label: 'show map'">
		</button>		
	</div>	
	<div id="dlg1" data-dojo-type="dojox/mobile/SimpleDialog" data-dojo-props='modal:false'>
		<div id="menu" style="width:274px;height:210px;"></div>
	</div>
</div>
