<div id="AddWMSLayerDialog" class="addWMSDialog">
  <div>
      WMS Server URL
      <input type="text" id="wmsServerName" style="width:300px;"/>
      <div id="listLayersButton"></div>
  </div>
  <span class="jxClearer">&nbsp;</span>
  <div id="AddWMSLayerList">
    Select a layer from the list
    <div id="AddWMSLayersContent" class=""></div>
  </div>
  <span class="jxClearer">&nbsp;</span>
</div>

