﻿<script src="http://yandex.st/jquery/1.5.0/jquery.min.js" type="text/javascript"></script>
<script>

	var templatePath="templates/report.docx";
	var templateArray= new Array ('%number%', '%name%', '%age%','%work_place%');
	var valueArray=new Array('123', 'Екатерина', '19','ТУСУР, каф.АОИ');
	var fileResult="result.docx";
	templateArray=JSON.stringify(templateArray);
	valueArray=JSON.stringify(valueArray);
	
	$.post(
    "CreateReport.php",
    {
        templatePath: templatePath,
		templateArray: templateArray,
		valueArray: valueArray,
		fileResult: fileResult,
       
    }
);
	
</script>