.dgrid-column-set {
	overflow: hidden;
	width: 100%;
	position: relative; 
}
.dgrid-column-set-cell {
	vertical-align: top;
}
.dgrid-column-set-scroller {
	position: absolute;
	bottom: 0px;
	overflow-x: auto;
	overflow-y: hidden;
}
.dgrid-column-set-scroller-content {
	position: relative;
	height: 1px;
}
html.has-mozilla .dgrid-column-set *:focus, html.has-safari .dgrid-column-set *:focus {
	
	border: 1px dotted black; 
	outline: 1px dotted black;
}
html.has-ie-7 .dgrid-column-set {
	
	width: auto;
}
html.has-quirks .dgrid-column-set {
	
	width: 100%;
}
#dgrid-css-columnset-loaded {
	display: none;
}