.dgrid-rtl-swap .dgrid-header-row {
  right: 0;
  left: 17px;
}
.dgrid-rtl-swap .dgrid-header-scroll {
  left: 0px;
  right: auto;
}
.dgrid-rtl .dgrid-cell {
  text-align: right;
  border-right-style: none;
  border-left-style: solid;
}
.dgrid-rtl .dgrid-header-row {
  right: 0;
}
.dgrid-rtl .dgrid-header-scroll {
  left: 0;
  right: auto;
}
.dgrid-rtl .dgrid-sort-arrow {
  float: left;
}
.dgrid-rtl .ui-icon-triangle-1-e:before {
  content: "\f0d9";
}
.dgrid-rtl .dgrid-hider-toggle {
  right: auto;
  left: 2.5px;
}
.dgrid-rtl .dgrid-hider-menu {
  right: auto;
  left: 18.5px;
}
.dgrid-rtl .dgrid-hider-menu-check {
  left: auto;
  right: 8px;
}
.dgrid-rtl .dgrid-hider-menu-label {
  padding-left: 0;
  padding-right: 24px; 
  text-align: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-status,
.dgrid-rtl .dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-navigation {
  float: left;
}
.dgrid-rtl .dgrid-autoheight .dgrid-header {
  left: 0;
}
#dgrid-css-dgrid_rtl-loaded {
  display: none;
}
