
.dgrid {
  position: relative;
  overflow: hidden; 
  border: 1px solid #d0d0d0;
  height: 30em;
  display: block;
}
.dgrid-header {
  background-color: #f5f5f5;
  position: absolute;
}
.dgrid-header-row {
  left: 0;
}
.dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
}
.dgrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dgrid-footer-hidden {
  display: none;
}
.dgrid-sortable {
  cursor: pointer;
}
.dgrid-header,
.dgrid-header-row,
.dgrid-footer {
  overflow: hidden;
  background-color: #f5f5f5;
}
.dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}
.dgrid-cell {
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #d0d0d0;
  border-top-style: none;
  border-left-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dgrid-cell-padding {
  padding: 4px;
}
.dgrid-content {
  position: relative;
  height: 99%;
}
.dgrid-scroller {
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  margin-top: 25px; 
  bottom: 0px;
  width: 100%;
}
.dgrid-preload {
  font-size: 0;
  line-height: 0;
}
.dgrid-loading {
  position: relative;
  height: 100%;
}
.dgrid-above {
  position: absolute;
  bottom: 0;
}
.ui-icon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
}
.ui-icon-triangle-1-e:before {
  content: "\f0da";
}
.ui-icon-triangle-1-se:before {
  content: "\f0dd";
}
.dgrid-expando-icon {
  width: 16px;
  height: 16px;
}
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.dgrid-sort-arrow {
  display: block;
  float: right;
  margin: 0 4px;
}
.dgrid-sort-arrow:before {
  content: "\f0d7";
}
.dgrid-sort-up .dgrid-sort-arrow:before {
  content: "\f0d8";
}
.dgrid-selected {
  background-color: #fff;
}
html.has-mozilla .dgrid *:focus,
html.has-opera .dgrid *:focus {
  outline: 1px dotted;
}
html.has-ie-6-7.has-no-quirks .dgrid-row-table {
  width: auto;
}
html.has-quirks .dgrid-row-table,
html.has-ie-6 .dgrid-row-table {
  height: auto;
}
html.has-quirks .dgrid-header-scroll,
html.has-ie-6 .dgrid-header-scroll {
  font-size: 0;
}
html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
#dgrid-css-dgrid-loaded {
  display: none;
}
