<div id="WgsTopmenu">

<div id="WgsLogo">
<img src="/images/logo.png"/>
</div>

<ul class="WgsMenu">
<list:list id="wgsMenu">
    <list:item>
    <li class="WgsMenuItem"><a name="WgsTopMenuLink" class="WgsTopMenuLink" id="Module-{$moduleId|default:0}" href="{$urlString|default:'#'}">{$label|uppercase}</a></li>
    </list:item>
</list:list>
<li class="WgsMenuItem"><a href="/authorization/logout">ВЫХОД</a></li>
</ul>

<list:list id="wgsNestedMenu">
<list:item>
<ul class="WgsNestedMenu" id="Nested:Module-{$moduleId|default:0}" style="display:none">
    <list:list from="wgsNestedMenuItems">
    <list:item>
    <li class="WgsNestedMenuItem"><a name="WgsTopMenuLink" class="WgsTopMenuLink" href="{$urlString|default:'#'}">{$label}</a></li>
    </list:item>
    </list:list>
</ul>
</list:item>
</list:list>

</div>

<script type="text/javascript">
Ext.onReady(WGS.Topmenu.init, WGS.Topmenu);
</script>
