/*
 * 
 */
.phone  .wgs4_card .scrollable-pane-100-height {
    bottom: 48px!important;
}

.RelationComboBox {
    font-weight: normal;

    width: 85%;
    height: 35px;
    margin: 15px;

    border: 1 solid #808080;
    border-bottom: 1 solid #808080;
}

.relationDiv {
    padding: 3px 10px 10px 25px;

    background: white;
}

.relationText {
    margin: 3px 15px 3px 15px;

    color: #555;
    background: white;
}

.textboxDiv {
    padding: 10px;

    border-top: 1px solid #c8c7cc;
}

.cardDiv {
    width: auto;
    padding: 3px 10px 10px 10px;

    border-bottom: 1px solid #c8c7cc;
    background: white;
}

.mblTextBox,
.textbox.mblTextBox,
.textbox {
    font-size: 1rem;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 5px;
}

.mblGreyButton {
    background-color: #999999;
    background-image: none;
    border-style: none;
    color: #ffffff;
}

#dateDialog.mblSimpleDialog .mblHeadingDivTitle {
    position: static;
}
#dateDialog.mblSimpleDialog {
    width: 314px;
}
.wgs4_card .mblSwapView .mblEdgeToEdgeList {
    padding: 0;

    border: none;
}
.wgs4_card .mblSwapView {
    border-right: 1 solid #c8c7cc;
    border-left: 1 solid #c8c7cc;;
}

.wgs4_card .mblView,
.pageIn {
    border: 1px;
    border-right: 1 solid #c8c7cc;
}

.wgs4_card .mblAccordion {
    border: 0 solid #c8c7cc;
    background: white;
}

.wgs4_card .mblAccordionTitle {
    font-weight: normal;
    line-height: 50px;

    height: 50px;
    margin-left: 0;

    border-right: 1px solid #a8a7ac;
    border-bottom: 1px solid #a8a7ac;
    background: #f9f9f9;
}
.mblAccordionTitleTextBox {
    overflow: hidden;

    width: 248px;

    text-overflow: ellipsis;
}

.comboBoxCard.dijitSelect {
    font-weight: normal;

    width: auto;
    height: 35px;
    padding: 0 10px 0 0;

    border: 1 solid #000;
    border-bottom: 1 solid #808080;
}

.comboBoxCardDomain {
    /*margin-top: 3px;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 10px;*/
    font-weight: normal;

    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 10px 10px 10px 10px;

    border: 1 solid #808080;
    border-bottom: 1 solid #808080;
}

.wgs4_card .ListItemLabel {
    font-size: 17px;

    padding: 5px 10px 0 10px;

    color: #6d6d72;
    border-bottom: 0 solid #c8c7cc;
}

.tablet .mblListItem {
    font-size: 16px;
}



.redline-input-wrapper,
.redline-actions {
    padding: 7px 10px 0 10px;
}


.redline-input .mblTextBox {
    font-size: 1rem;

    width: 100%;
    height: auto;
    padding: 5px;
}



.ButtonCard {
    width: 100%;

    border: 0 solid #eee;
}



.redline-label.mblRoundRectCategory {
    margin-top: 10px;
}

.redline .mblAccordionTitle {
    line-height: 50px;

    height: 50px;

    border-top: 1px solid #007aff;
    background: white;
}


.redline .mblAccordionTitle:first-child {
    border-top: none;
}

.redline  .mblAccordion,
.accordion.mblAccordion {
    border: none;
}

.wgs4_card .mblAccordionTitleSelected.mblAccordionTitle .redline-opener:before {
    position: absolute;
    top: 50%;
    right: 0;

    margin: -.5rem 15px 0 0;

    content: '\f102';
}


.wgs4_card .mblAccordionTitle .redline-opener:before {
    position: absolute;
    top: 50%;
    right: 0;

    margin: -.5rem 15px 0 0;

    content: '\f103';
}


.redline-title {
    font-weight: bold;

    padding: 10px 10px 10px 10px;
}


.redline-subtitle {
    font-size: .7rem;
    font-weight: bold;

    padding: 5px 10px 5px 10px;

    background-color: #ddd;
}


.redline-ckeckbox {
    position: relative;

    margin: 0 0 10px 3px;
}


.redline-ckeckbox label {
    position: absolute;
    top: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:    -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:      -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:     -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:         linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
       -moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
            box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}


.redline-ckeckbox label:after {
    position: absolute;
    top: 4px;
    left: 4px;

    width: 9px;
    height: 5px;

    content: '';
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);

    opacity: 0;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}


.redline-ckeckbox label:hover::after {
    opacity: .5;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
        filter: alpha(opacity=30);
}


.redline-ckeckbox input[type=checkbox]:checked + label:after {
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}



.redline-ckeckbox input {
    display: none;
}

.redline-ckeckbox span {
    margin-left: 24px;
}

.redline-container {
    padding: 10px;
}


/*#markupFeatures option{
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
}*/
