.check-status {
    float: right;
}

/*
 * Checkbox
 */ 
input[type=checkbox] {
    visibility: hidden;
}

/* SQUARED FOUR */
.mobile .squaredFour.legend-checkbox {
    left: 100%;

    margin: 10px 0 0 -50px;
}

.squaredFour {
    position: relative;

    width: 20px;
    margin: 20px auto;
}

.squaredFour label {
    position: absolute;
    top: -4px;
    right: -20px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border-radius: 4px;
    /*background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:    -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:      -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:     -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:         linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    */-webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
       -moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
            box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
    position: absolute;
    top: 8px;
    left: 7px;

    width: 14px;
    height: 6px;

    content: '';
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);

    opacity: 0;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}

/*.squaredFour label:hover::after
{
    opacity: .5;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
        filter: alpha(opacity=30);
}*/

.squaredFour input[type=checkbox]:checked + label:after {
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}




/* SLIDE THREE */
.mobile .slideThree.legend-checkbox {
    left: 100%;

    margin: 8px 0 0 -95px;
}
.mobile .slideThree {
    width: 84px;
    height: 26px;

    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    /*background: #ccc;
    */-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
}

.slideThree:after {
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;

    position: absolute;
    z-index: 0;
    right: 10px;

    content: 'OFF';

    color: #888;
    text-shadow: 1px 1px 0 rgba(255,255,255,.15);
}

.slideThree:before {
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;

    position: absolute;
    z-index: 0;
    left: 10px;

    content: 'ON';

    color: #000;
}

.slideThree.ru:before {
    content: 'Вкл';
}

.slideThree.ru:after {
    content: 'Откл';
}

.slideThree label,
.slideThree span {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;

    display: block;

    width: 38px;
    height: 20px;

    cursor: pointer;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;

    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:    -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:      -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:     -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:         linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /*-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
       -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	*/border: solid 1px #666;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}
