.mblIconMenu {
    background-color: rgba(160, 160, 160, .95);
}

.mblIconMenuItem.mblIconMenuItemLastColumn {
    width: 33%!important;
}

.fa-3 {
    font-size: 2rem;
}

/*
 * 
 */ 
.jxMenu {
    margin-bottom: 10px;

    border-radius: 5px;
}

.mobile .jxMenuItemContainer {
    /*line-height: 40px;
	height: 40px;*/
}

.mobile .jxMenuItemContainer .jxMenuItem,
.mobile .jxMenuItemContainer .jxMenuItem .jxMenuItemContent,
.mobile .jxMenuItemContainer .jxMenuItem .jxMenuItemContent .jxMenuItemLabel {
    line-height: 38px;

    height: 38px;

    background: none;
}

.jxMenuItemContainer .jxMenuItem .jxMenuItemContent .jxMenuItemIcon {
    line-height: 38px;

    margin-top: 10px;
}

.jxMenu li .jxMenuItem {
    margin: 0 5px;

    border-bottom: dashed 1px #ccc;
}

.jxMenu li.jxMenuItem .jxMenuSeparator {
    margin-top: -5px;
    margin-bottom: -5px;
}

.jxMenu li .jxMenuItem.jxMenuItemActive .jxMenuItemContent .jxMenuItemIcon {
    right: 0;
    left: auto;

    width: 20px;
    height: 29px;
    margin: 3px 0 0 5px;

    background-image: url('/wgs4/js/dojox/mobile/themes/common/domButtons/compat/mblDomButtonDarkBlueCheck.png');
    background-position: 0 0;
}

.jxMenuItemContainer .jxMenuItem .jxMenuItemContent .jxMenuItemLabel {
    font-size: 17px;

    padding: 0 3px 0 5px;
}

.jxMenu li:last-child .jxMenuItem {
    border-bottom: none;
}
