/*
 * Layout: top/left/right/bottom panes
 * TODO: remove !important  ?? this is because of Dojo & Fusion
 */ 
body#body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: auto;
    height: auto;
}

.scrollable-pane-100-height {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0!important;
    left: 0;

    height: auto!important;
}

.mobile.tablet .dijitAlignCenter.dijitLayoutContainer {
    right: 0!important;
    /*left: 290px!important;*/width: auto!important;
}

.mobile.tablet .dijitAlignLeft.dijitLayoutContainer {
    top: 43px!important;
    left: 0!important;

    width: 299px!important;

    border-right: solid 2px #c0c0c0;
}


.bottom-nav-bar.dijitAlignTop.dijitLayoutContainer {
    height: 48px;
    padding-bottom: 2px;

    border-bottom: dashed 1px #ccc;
}

/*
 * Sup doesn't influence line-height
 * */

sup {
    font-size: .75em;position: relative; top: -.25em;

    vertical-align: top;
}


/*
 * We can hide left views by applying left-hidden class
 */ 
.mobile.tablet.left-hidden .dijitAlignCenter.dijitLayoutContainer {
    left: 40px	!important;
}

.mobile.tablet.left-hidden .dijitAlignLeft.dijitLayoutContainer {
    width: 38px	!important;
}

.mobile.tablet.left-hidden .bottom-nav-bar {
    left: 40px !important;
}

.mobile.tablet .bottom-nav-bar .mblTabBarTabBar {
    background: white;
    /*left: 290px !important;*/
}


/*
 * We need to create this elements, but not to show them
 * 
 * */
#Redline,
#legend,
#MapMenu {
    display: none;
}


/*
 * Progress bar on the map
 */ 

#WgsProgressIndicator {
    position: absolute;
    top: auto;
    right: 52px;
    bottom: 1.5rem;
    left: auto;
}

.mblProgressIndicator {
    width: 32px	!important;
    height: 32px	!important;
    padding: 3px	!important;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: none repeat scroll 0 0 rgba(245, 245, 245, .85);
}




/*
 * Icons in the map context menu
 * */
.fa.fa-075 {
    font-size: .75rem;
}
.fa.margined {
    display: inline-block;

    width: 1rem;
    margin-right: 5px;
}

.fa.margined.fa-icon-sup {
    font-size: .6rem;

    position: relative;
    top: -12px;
    left: -26px;

    width: 0;
    margin-right: 0;

    color: navy;
}

/*
 *	Zoom in/out bar
 */ 
.right-bar {
    position: absolute;
    top: 50%;
    right: 5px;

    margin-top: -45px;
}


/*
 * Lists & trees
 */ 
.mblListItemRightText {
    line-height: 48px;

    margin-top: 0;

    color: #333;
}

.mobile img.jxTreeIcon {
    /* line-height: 50px; */
    /* height: 50px; */
    position: static;

    display: block;
    float: left;

    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right: 5px;
}

.mobile .jxTreeBranch > a.jxTreeItem > img.jxTreeIcon {
    display: none;
}




table.no-padding-100 td {
    padding: 0;
}
table.no-padding-100 {
    width: 100%;
}


.mblPane{
	padding-left:17px;
}


.mobile.tablet .dijitAlignLeft .mblToolBarButtonLabel{
	font-size: 12px;	
}

.mobile.tablet .dijitAlignLeft .uniteTitleAndBack .mblToolBarButtonLabel{
	font-size: 13px;
	text-transform: uppercase;
}

.mobile.tablet .dijitAlignLeft .mblHeading .mblHeadingDivTitle{
	font-size: 16px;
}

.mobile.tablet .dijitAlignLeft .hasBack .mblHeading .mblHeadingSpanTitle
{
	font-size: 13px; position: relative; bottom: 1px; display:inline;
}

.mobile.tablet .dijitAlignLeft .hasBack .mblHeading .mblHeadingDivTitle,
.mobile.tablet .dijitAlignLeft .hasBack.uniteTitleAndBack .mblHeading .mblHeadingSpanTitle{
	display: none;
}

.phone .mblHeadingSpanTitle{
	display:block;
	
	overflow: hidden;
	text-overflow: ellipsis;
}
.phone .mblHeadingDivTitle{
	display:none;
}

