.with-margin-top {
    margin-top: 0;
}
.finfo-layer-summary {
    margin-bottom: 5px;
    padding: 10px 0;

    border-bottom: solid 1px black;
}

.finfo-layer-summary .number {
    font-weight: bold;
}
#TaskPane .jxPanel,
#TaskPane .jxPanel .jxPanelContentContainer,
#TaskPane .jxPanel .jxPanelContentContainer iframe {
    position: absolute!important;

    display: block!important;

    width: 100%!important;
    height: 100%!important;
}

#TaskPane .jxPanel .jxPanelContentContainer .jxPanelContent {
    position: absolute!important;
    top: 0!important;
    bottom: 0;

    display: block!important;

    width: 100%;
}

#TaskPane .jxPanel .jxPanelContentContainer .jxBarScroller {
    width: 100%!important;
}

.jxBarContainer.jxToolbarAlignLeft.jxBarTop {
    display: none;
}

img.mblImageIcon.mblListItemIcon,
.mblListItemRightIcon {
    /*margin-top:-4px!important;*/
}

.listItemContent {
    font-size: .8rem;
    font-weight: normal;

    display: none;

    margin-top: 4px;
}
.listItemContent .number {
    font-style: normal;
}

.opened .listItemContent {
    display: block;

    padding: 5px 0;
}

.mblScrollablePane.left {
    height: auto!important;
}


.heightAuto {
    height: auto!important;
}
.mblListItemSelected {
    color: black; background: white;
}


.coordsTable th {
    font-weight: bold;

    padding: 4px 5px ;

    text-align: center;
}
.coordsTable td,
.resultTable td {
    padding: 2px 5px ;
}

.big-data .mblListItemLabel {
    overflow: visible;
}

.badge-container {
    font-size: .9rem;

    float: right;

    margin-right: 5px;
}

.variable-height {
    height: auto!important;
}

.expander {
    font-weight: normal;

    padding: 5px 0;

    border-bottom: dashed 1px #666;
}
.opened .expander.last-child{
	border-bottom: dashed 1px #666;
}
.expander.last-child{
	border-bottom: 0;
}
.listItemContent {
    padding-bottom: 5px;

    border-bottom: solid 1px #222;
}

.mblAccordion .mblEdgeToEdgeCategory {
    font-weight: normal;

    text-align: left;

    background: #eee;
}
