.inputEditableScale {
    margin: 2px;
    padding: 4px;
	border: 1px solid #bbb;
    background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

.inputEditableScalePrefix {
    display: -moz-inline-box;
    display: inline-block;
    padding: 2px;
    margin: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    background-color: transparent;
    color: #000;
    
}

.jxToolItem .inputEditableScalePrefix {
    padding: 6px 2px;
}