.x-grid3-check-col-inherit {
    width:100%;
    height:16px;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:transparent;
    background-image:url(images/inherit.gif);
}