/*
 * Ext JS Library 2.0.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

#images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
	background: #333333;
	padding: 1px;
}
#images-view .thumb img{
	height: 90px;
	width: 120px;
}
#images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(/js/extjs/resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#images-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#images-view .x-view-selected .thumb{
	background:transparent;
}

#images-view .loading-indicator {
	font-size:11px;
	background-image:url('/js/extjs/resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

#favorite-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#favorite-view .thumb{
    border:1px solid #e0e0e0;
    background: #ffffff;
    padding: 1px;
}
#favorite-view .thumb img{
    height: 200px;
    width: 257px;
}
#favorite-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#favorite-view .thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
}

#favorite-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(/js/extjs/resources/images/default/grid/row-over.gif) repeat-x left top;
    padding: 4px;
}

#favorite-view .x-view-selected{
    background: #eff5fb no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#favorite-view .x-view-selected .thumb{
    background:transparent;
}

#favorite-view .loading-indicator {
    font-size:11px;
    background-image:url('/js/extjs/resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

#plugin-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#plugin-view .thumb{
    border:1px solid #e0e0e0;
    background: #ffffff;
    padding: 1px;
}
#plugin-view .thumb img{
    height: 80px;
    width: 455px;
}
#plugin-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 3px;
}
#plugin-view .thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
}

#plugin-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(/js/extjs/resources/images/default/grid/row-over.gif) repeat-x left top;
    padding: 2px;
}

#plugin-view .x-view-selected{
    background: #eff5fb no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 2px;
}
#plugin-view .x-view-selected .thumb{
    background:transparent;
}

#plugin-view .loading-indicator {
    font-size:11px;
    background-image:url('/js/extjs/resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    font-size:13px;
    background-color:#fff !important;
}