/*
 * Ext JS Library 2.0.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.x-form-item .x-form-element .x-slider-hbar {
	border: solid 1px #B5B8C8;
	background: white;
	height: 1px;
	position: relative;
	top: 8px;
}
.x-form-item .x-form-element .x-slider-thumb {
	position: relative;
	width: 15px;
	height: 15px;
	top: -1px;
	left: 0px;
	background: transparent url(../../extjs/resources/images/gray/panel/tool-sprites.gif) no-repeat scroll 0px -75px;
	cursor: pointer;
}
.x-form-item .x-form-element .x-slider-thumb-over {
	background: transparent url(../../extjs/resources/images/gray/panel/tool-sprites.gif) no-repeat scroll -15px -75px;
}
