
.ext-ux-uploaddialogswf-state
{
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Queued */
.ext-ux-uploaddialogswf-state-0
{
    background-image: url('images/uncheck.gif');
}

/* Processing */
.ext-ux-uploaddialogswf-state-1
{
    background-image: url('images/file-uploading.gif'); 
}

/* Finished */
.ext-ux-uploaddialogswf-state-2
{
    background-image: url('images/check.gif');
}

/* Failed */
.ext-ux-uploaddialogswf-state-3
{
    background-image: url('images/failed.gif');
}

/* Failed */
.ext-ux-uploaddialogswf-state-4
{
    background-image: url('images/failed.gif');
}
