<% function renderProperty (propertyName, propertyValue, propertyId){ %>
<li>
    <label>
        <span>
            <%=propertyName %>
        </span>:
        <input value="<%=propertyValue %>" name="<%=propertyId%>" />
    </label>
</li>

<% } %>

<% function renderDomainProperty (propertyName, propertyValue, propertyValues, propertyId){ %>
<li>
    <label>
        <span>
            <%=propertyName %>
        </span>:
            <select name="<%=propertyId%>" data-dojo-type="dijit/form/Select">
            <% if (propertyValue == "") %>
                <option value="selectAnotherVariantValue" selected="selected" disabled="disabled">Выберите значение..</option>
            <% if(propertyValues) propertyValues.forEach (function(domain, domainId) { %>
                <option value="<%= domainId %>" <% if (domainId == propertyValue)%> selected="selected"><%= domain.value %></option>
            <% }); %>
            </select>
    </label>
</li>

<% } %>


    <div data-dojo-type="dijit/layout/TabContainer" style="width: 100px; height: 100px;">
        <div 
            data-dojo-type="dijit/layout/ContentPane" 
            title="ddfsdf" 
            id="card-pane-ddsf"
            data-dojo-props=""></div>
        <% for (var i=0; i < cards.length; i++) { %>
        <div 
            data-dojo-type="dijit/layout/ContentPane" 
            title="<%= cards[i].typeName %>" 
            id="card-pane-<%= cards[i].id || cards[i].objectTypeId %>"
            data-dojo-props="">
            <form name="<%= cards[i].id || cards[i].objectTypeId %>" oninput="console.log(event);console.log(event.target.form.attributes[1].value+event.target.name+event.target.value);">
                
                <!-- Основные описания -->
               <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Основные характеристики', open: true">
                    <ul>
                        <%=renderProperty("Наименование", ( cards[i].name || "Без наименования" ) + " - " + cards[i].typeName,'name') %>
                        <%=renderProperty("Краткое наименование", cards[i].shortName || cards[i].typeName,'shortName') %>
                        <%=renderProperty("Атрибутивное описание", cards[i].typeName,'typeName') %>
                        <% if(cards[i].createDate != undefined)
                            renderProperty("Дата изменения", cards[i].createDate, 'date') %>
                        <% if(cards[i].edit_user != undefined)
                            renderProperty("Пользователь", cards[i].edit_user, 'user') %>
                        <% if(cards[i].note != undefined)
                            renderProperty("Примечание", cards[i].note, 'note') %>
                        
                    </ul>
                </div>
                
                <!-- Группы характеристик -->
                <% cards[i].propertyGroups.forEach (function(group, groupId ) { %>
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<%= group.name %>', open: false">
                        <ul>
                            <% group.properties.forEach(function (property, id ) {
                                if(property.valueTypeId == 5)
                                    renderDomainProperty(property.name, property.value, property.domains, id);
                                else renderProperty(property.name, property.value, id);
                            }) %>
                        </ul> 
                    </div>
                <% }) %>
                
                <!-- Связи -->
                <% if(cards[i].relations) cards[i].relations.forEach (function(relation, relationId) { %>
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Связь: <%=relation.name %>', open:  false">
                        <ul>
                        <% relation.linkedCards.forEach (function(childCard, childCardIndex) { %>
                            <li>
                                <button data-card-id = "<%=childCard.id%>" onclick="console.log(event.target.dataset.cardId);
                                require(['wgs4/controllers/card'],function(Card){
                                    new Card([event.target.dataset.cardId]).show();
                                });
                                ">
                                    <%=childCard.name||childCard.typeName %>
                                </button>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                <% }); %>
            </form>
        </div>
        <% } %>
    </div>
