<div>
    <div data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" title="Здания" id="card-pane-1" data-dojo-props="">
            <form name="1" oninput="



            console.log(event);



            console.log(event.target.form.attributes[1].value+event.target.name+event.target.value);">
                <!-- Основные описания -->
                <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Основные характеристики', open: true">
                    <ul>
                        <li>
                            <label> <span>            Наименование        </span>:
                                <input value="Без наименования - Здания" name="name" />
                            </label>
                        </li>
                        <li>
                            <label> <span>
            Краткое наименование
        </span>:
                                <input value="Здания" name="shortName" />
                            </label>
                        </li>
                        <li>
                            <label> <span>
            Атрибутивное описание
        </span>:
                                <input value="Здания" name="typeName" />
                            </label>
                        </li>
                        <li>
                            <label> <span>



            Дата изменения



        </span>:
                                <input value="2015-06-15 11:28:23" name="date" />
                            </label>
                        </li>
                        <li>
                            <label> <span>



            Пользователь



        </span>:
                                <input value="" name="user" />
                            </label>
                        </li>
                        <li>
                            <label> <span>



            Примечание



        </span>:
                                <input value="" name="note" />
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- Группы характеристик -->
                <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Адресные', open: false">
                    <ul>
                        <li>
                            <label> <span>



            Улица



        </span>:
                                <input value="" name="1" />
                            </label>
                        </li>
                    </ul>
                </div>
                <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Конструктивные', open: false">
                    <ul>
                        <li>
                            <label> <span>



            Этажность



        </span>:
                                <input value="" name="2" />
                            </label>
                        </li>
                        <li>
                            <label> <span>



            Район



        </span>:
                                <input value="" name="3" />
                            </label>
                        </li>
                        <li>
                            <label> <span>



            Номер дома



        </span>:
                                <input value="" name="4" />
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- Связи -->
            </form>
        </div>
    </div>
</div>