<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,finfo', transitionDir: -1"
            style="float:left"
            class="backButton">${nls.back}</button>
		
	</div>
	<div 
		data-dojo-type="wgs4/wheelScrollableView" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:44px;left:0;bottom:0;position:absolute;right:0;"
		>
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'${nls.selectCs}'"></div>		
		<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props="shadow:true">
			Select coordinate system from the list below
		</div>
		<div data-dojo-attach-point="welcome" data-dojo-type="dojox/mobile/Pane"></div>
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'${nls.availableCs}'"></div>
		<ul data-dojo-attach-point="csList" data-dojo-type="dojox/mobile/RoundRectList" data-dojo-props="select:'single'">
			<li data-cs="wgs" data-dojo-attach-point="isWgs" data-dojo-type="dojox/mobile/ListItem" data-dojo-props = "label: '${nls.wgs}'"></li>
			<li data-cs="pm" data-dojo-attach-point="isPm" data-dojo-type="dojox/mobile/ListItem" data-dojo-props = "label: '${nls.mercator}'"></li>
			<li data-cs="pu" data-dojo-attach-point="isPu" data-dojo-type="dojox/mobile/ListItem" data-dojo-props = "label: '${nls.pu}'"></li>
			<li data-cs="pz" data-dojo-attach-point="isPz" data-dojo-type="dojox/mobile/ListItem" data-dojo-props = "label: '${nls.pz}'"></li>
		</ul>		
	</div>
</div>
