<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="
				arrow: 'left', 
				target: 'leftView,taskpane', 
				transitionDir: -1"
            style="float:left"
            class="backButton">${nls.backToFm}</button>
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="menuButton"
            data-dojo-props="target: 'leftView,cs', transitionDir: 1"
            style="float:right"
            class="backButton">${nls.menu}</button>
	</div>
	<div 
		data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:44px;left:0;bottom:0;position:absolute;right:0;"
		>
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.helpTitle}'"></div>		
		<div data-dojo-type="dojox/mobile/Pane" >
			${nls.help}
		</div>
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.coordSystem}'"></div>
		<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
			<div 
				data-dojo-attach-point="welcome" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="target:'leftView,cs',clickable:true"></div>
		</ul>
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.selected}'"></div>		
		
		<ul style="" data-dojo-type="dojox/mobile/TabBar">
		  <li data-dojo-type="dojox/mobile/TabBarButton"
				data-dojo-attach-point="goToPoint"
			  data-dojo-props=''>Points</li>
		  <li data-dojo-type="dojox/mobile/TabBarButton"
		  data-dojo-attach-point="goToLine"
			  data-dojo-props=''>Lines</li>
		  <li data-dojo-type="dojox/mobile/TabBarButton"
		  data-dojo-attach-point="goToPolygon"
			  data-dojo-props=''>Polygones</li>
		</ul>
		<div id="finfo-empty" data-dojo-type="dojox/mobile/Pane">${nls.emptySelection}</div>
		<div id="finfo-accordion" 
			data-dojo-attach-point="accordion" 
			data-dojo-type="dojox/mobile/Accordion" 
			data-dojo-props='singleOpen: true, roundRect: false, animation: true'>		
		</div>		
	</div>	
</div>
