<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,taskpane', transitionDir: -1"
            style="float:left"
            >${nls.back}</button>
		<!--<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="menuButton"
            data-dojo-props="target: 'leftView,cs', transitionDir: 1"
            style="float:right"
            >${nls.menu}</button>-->
	</div>
	<div 
		data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer" class=""
		style="top:42px;left:0;bottom:0;position:absolute;right:0;"
		>
		<!--
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'Geometry info'"></div>		
		<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props="shadow:true">
			Select objects on map to view their geometric properties
		</div>
		-->
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.coordSystem}'"></div>
		<ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
			<div 
				data-dojo-attach-point="welcome" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="target:'leftView,cs',clickable:true"></div>
		</ul>
		
		
		<div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'${nls.objects}'"></div>		
		<div data-dojo-attach-point="accordion" data-dojo-type="dojox/mobile/EdgeToEdgeList" data-dojo-props=''>
			<div class="" 
				data-dojo-attach-point="isLine" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="
					clickable: true, 
					label :'${nls.lines}', 
					rightText: 0, 
					target: 'leftView,fdetails', 
					transitionOptions: {params : {type: 'Line'} }"></div>
			<div class="" 
				data-dojo-attach-point="isPolygon" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="
					clickable: true, 
					label :'${nls.polygones} ', 
					rightText: 0, 
					target: 'leftView,fdetails',
					transitionOptions: {params : {type: 'Polygon'} }"></div>
			<div class="" 
				data-dojo-attach-point="isPoint" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="
					clickable: true, 
					label :'${nls.points}', 
					rightText: 0, 
					target: 'leftView,fdetails', 
					transitionOptions: {params : {type: 'Point'} }"></div>
		</div>
	</div>			
</div>
