<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,settings', transitionDir: -1"
            style="float:left"
            class="backButton">${nls.back}</button>
	</div>
	<div 
		data-dojo-type="wgs4/wheelScrollableView" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:44px;left:0;bottom:0;position:absolute;right:0;"
		>
		<!--
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'Geometry info'"></div>		
		<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props="shadow:true">
			Select objects on map to view their geometric properties
		</div>
		-->
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'${nls.language}'"></div>
		<ul data-dojo-type="dojox/mobile/RoundRectList" data-dojo-props="select: 'single'">
			<!--<div 
				data-dojo-attach-point="systemDefault" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="label: '${nls.systemDefault}', checked: true"></div>-->
			<div 
				data-dojo-attach-point="en-us" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="label: 'English'"></div>
			<div 
				data-dojo-attach-point="ru-ru" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="label: 'Русский'"></div>
			<div 
				data-dojo-attach-point="uk-ua" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="label: 'Український'"></div>
		</ul>
	
	</div>			
</div>
