<div  data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
	</div>
	<div 
		data-dojo-attach-point="viewContainer" style="top:42px" data-dojo-props="height:'auto'"
		data-dojo-type="dojox/mobile/ContentPane">
	</div>	
</div>
