<div id="map" data-dojo-type="dojox/mobile/View">
		<div 
			data-dojo-attach-point="viewContainer"
			data-dojo-type="dojox/mobile/Pane" class="map-view">
			<div style="position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden">
				<div id="Map" style="position:absolute;height:120%;width:120%;left:-10%;top:-10%"></div>
			</div>
			
			<div 
				id = "WgsProgressIndicator"
				data-dojo-attach-point="WgsProgressIndicator"
				data-dojo-props="size:32, center: false" 
				data-dojo-type="dojox/mobile/ProgressIndicator">
			</div>
				
			<div id="Toolbar" >
				<div class = "toolbar-container mobile-bar" id="ToolbarVertical"></div>
				<!--<div id="Geolocation"></div>-->
					
			</div>
			<div style="display:none" id="Topbar" class="toolbar-container"></div>			
				
			
			<div class="right-bar mobile-bar">
				<div class = "toolbar-button" id="ZoomInFixed"></div>
				<div class = "toolbar-button" id="ZoomOut"></div>
			</div>
			<div id = "toolbar-parent" class="full">
				<div class="map-button-bar mobile-bar hidden">
					<div id="MoreToolsContainer" alt="Показать/Скрыть панель инструментов" class="css3Button" >
						<button id="MoreTools"><i class="fa"></i></button>
					</div>
				
					<div id="NextView"></div>
					<div id="vertInitialMapView"></div>
					<div id="PreviousView"></div>
					<div class="splitter">&nbsp;</div>
								
					<div id="Geolocation"></div>
					<div id="MapMenu"></div>
					<div id="ClearSelection"></div>
					<div class="splitter">&nbsp;</div>
				
					<div id="BasemapSwitcher"></div>				
					<div id="OpenLayersEnabler" style="display: none" alt="" class="css3Button" ><button id="EnableOpenLayers"><i class="fa"></i></button></div>
				
					<!--<div id="SelectRadiusValue"></div>-->
				</div>
			</div>
			<div style="display:none">
				<div id="QuickPlot"></div>
				<div id="SelectRadius"></div>
				<div id="SelectPolygon"></div>
				<div id="Measure"></div>
				<div id="Redline"></div>
				<div id="FeatureInfo"></div>
			</div>
			<div id="TaskPane" style="width:100%;height:100%;display:none"></div>
			<!-- invisible elements-->
			<div id="legend"></div>
				<div class="bottom-panel">
					<div class="statusbar"  style="">
					
						<div id="StatusCoords"></div>
						<div id="StatusSelection"></div>
						<!--<div id="StatusViewSize"></div>					-->
						<div id="StatusScale"></div>
					</div>
				</div>
				
				<button 
					style="position: absolute;right: 8px;bottom: 1.5rem"
					data-dojo-type="dojox/mobile/Button" 
					title="${nls.reload}"
					data-dojo-props="onClick: function(){location.reload();}, label: '<i class=\'fa fa-refresh\'></i>'"></button>
			
					
				<span class="copyright">
					<span class="name">wgs4</span> 
					<span id="wgs-copyright-version" 
						onclick = "window.AppData.maybeDebug();" class="version">
					</span>
				</span>
		</div>		
		
	</div>
