<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.redlineTitle}'">
		<button data-dojo-type="dojox/mobile/ToolBarButton"
            data-dojo-attach-point="backButton"
            data-dojo-props="arrow: 'left', target: 'leftView,taskpane', transitionDir: -1"
            style="float:left"
            class="backButton">${nls.tasks}</button>
	</div>
	<div 
		data-dojo-type="dojox/mobile/ContentPane" 
		data-dojo-attach-point="viewContainer"
		style="position: absolute; left: 0px; top: 44px; bottom: 0; right: 0px;">
		
	</div>	
	
</div>
