<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
	</div>
	<div 
		data-dojo-type="wgs4/wheelScrollableView" data-dojo-props="height:'auto'"
		data-dojo-attach-point="viewContainer"
		style="top:44px;left:0;bottom:0;position:absolute;right:0;"
		>
		<!--
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'Geometry info'"></div>		
		<div data-dojo-type="dojox/mobile/RoundRect" data-dojo-props="shadow:true">
			Select objects on map to view their geometric properties
		</div>
		-->
		<div data-dojo-type="dojox/mobile/RoundRectCategory" data-dojo-props="label:'${nls.personal}'"></div>
		<ul data-dojo-type="dojox/mobile/RoundRectList">
			<div 
				data-dojo-attach-point="welcome" 
				data-dojo-type="dojox/mobile/ListItem" 
				data-dojo-props="target:'leftView,language', clickable:true, label: '${nls.language}'"></div>
		</ul>
	</div>			
</div>
