<div data-dojo-type="dojox/app/widgets/Container">
	<div 
		data-dojo-attach-point="heading"
		data-dojo-type="dojox/mobile/Heading" data-dojo-props="label:'${nls.title}'">
	</div>
	<div 
		data-dojo-type="dojox/mobile/ContentPane" 
		data-dojo-attach-point="viewContainer"
		style="position: absolute; left: 0px; top: 0; bottom: 0; right: 0px;">
		<div 
			data-dojo-type="dojox/mobile/ContentPane" 
			data-dojo-attach-point="displayContainer">
			<div
				data-dojo-type="dojox/mobile/EdgeToEdgeCategory"
				data-dojo-props="label: '${nls.editorTitle}'"
			></div>
			<ul
				data-dojo-type="dojox/mobile/EdgeToEdgeList">
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="redlineActivator"
					data-dojo-props="clickable: true, target: 'leftView,editor', label :'<i class=\'fa margined fa-edit\'></i> ${nls.redline}'">
				</li>
			</ul>
			<div
				data-dojo-type="dojox/mobile/EdgeToEdgeCategory"
				data-dojo-props="label: '${nls.analysys}'"
			></div>
			<ul
				data-dojo-type="dojox/mobile/EdgeToEdgeList">
				
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="fInfoActivator"
					data-dojo-props="clickable: true, target: 'leftView,fdetails', label :'<i class=\'fa margined fa-road\'></i> ${nls.featureInfo}'">					
				</li>
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="measurementActivator"
					data-dojo-props="clickable: true, target: 'leftView,redline', label :'<i class=\'fa margined fa-arrows-h\'></i> ${nls.measure}', transitionOptions: {params : {widget: 'me'}}">
				</li>
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="themesActivator"
					data-dojo-props="clickable: true, target: 'leftView,thematic', label :'<i class=\'fa margined fa-bar-chart-o\'></i> ${nls.themes}'">
				</li>				
			</ul>
			<div
				data-dojo-type="dojox/mobile/EdgeToEdgeCategory"
				data-dojo-props="label: '${nls.administration}'"
			></div>
			<ul
				data-dojo-type="dojox/mobile/EdgeToEdgeList">
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="installApplication"
					data-dojo-props="clickable: true, label :'<i class=\'fa margined fa-download\'></i> ${nls.installApplication}'">					
				</li>
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="projAdminActivator"
					data-dojo-props="clickable: true, href: '/projectadmin', hrefTarget: '_blank', label :'<i class=\'fa margined fa-users\'></i> ${nls.projectadmin}', rightText: '<i class=\'fa fa-desktop fa-075\'></i>'">					
				</li>
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="objAdminActivator"
					data-dojo-props="clickable: true, href: '/objectadmin', hrefTarget: '_blank', label :'<i class=\'fa margined fa-briefcase\'></i> ${nls.objectadmin}', rightText: '<i class=\'fa fa-desktop fa-075\'></i>'">
				</li>
				<li 
					data-dojo-type="dojox/mobile/ListItem"
					data-dojo-attach-point="oldMapActivator"
					data-dojo-props="clickable: true, href: '/map', hrefTarget: '_blank', label :'<i class=\'fa margined fa-globe\'></i> ${nls.oldMap}', rightText: '<i class=\'fa fa-desktop fa-075\'></i>'">
				</li>		
			</ul>
		</div>
	</div>	
</div>
