 <div class="theme-window-control-pane">
	<a href="#" id="theme-add-new-button">Добавить новый отчет</a>
 </div>
 <div class="theme-list-wrapper">
	<% for (var i =0; i < themeList.length; i++) {%>
		<div class="theme-list-record">
			<span><%= themeList[i].NAME ? themeList[i].NAME : "Без наименования"%></span>
			<span data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-show-button"> Отобразить </span>
		</div>
	<% } %>
 </div>