
body#MeasurementWidgetResults  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#MeasurementWidgetResults p {
    font-size: 11px;
    margin: 0px;
    padding: 10px;
}

.divMeasureMarker {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  z-index: 200;
}

.divMeasureTotal {
  z-index: 201;
}

#MeasurementWidgetResults table, 
#MeasurementWidgetResults tbody, 
#MeasurementWidgetResults thead, 
#MeasurementWidgetResults tfoot, 
#MeasurementWidgetResults tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#MeasurementWidgetResults td, 
#MeasurementWidgetResults th {
  text-align: left;
  font-size: 11px;
  padding: 2px 10px;
  margin: 0px;
  border: 0px;
}

#MeasurementWidgetResults th {
  font-weight: bold;
}

#MeasurementWidgetResults h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
}
