<div class="theme-layers-edit-wrapper">
  
  <div class="theme-layer-main-wrapper">
    <div class="theme-layer-label-pane">
      <span class="theme-layer-label label tl-name">Наименование</span>
      <span class="theme-layer-label label tl-featurelayer">Слой геоданных</span>
      <span class="theme-layer-label label tl-objecttype">Описание</span>
      <span class="theme-layer-label label tl-geometry">Геометрия</span>
    </div>
    <div>
      <input class="theme-layer-label tl-name" name="theme-layer-name" value="<%= themeLayersParams.currentTheme ? themeLayersParams.currentTheme.name : "" %>"  data-theme-id="<%= themeLayersParams.themeId %>" placeholder="Наименование слоя..."/>
      <div class="theme-layer-label tl-featurelayer" id="featurelayer-select"></div>
      <div class="theme-layer-label tl-objecttype" id="objecttype-select"></div>
      <div class="theme-layer-label tl-geometry" id="geometry-select"></div>
    </div>
  </div>
  

  <hr/>

  <button id="theme-layer-condition-add" data-dojo-type='dijit/form/Button'><i class="fa fa-plus"></i> Добавить условие</button>
  <div class="theme-layer-condition-label-pane">
      <span class="theme-layer-condition property">Характеристика</span>
      <span class="theme-layer-condition condition">Условие</span>
      <span class="theme-layer-condition value">Значение</span>
  </div>
  <div id="theme-layer-condition-container" data-dojo-type="dijit.layout.ContentPane">
   
  </div>
  
  <br/>
    
    
  <div id="style-preview" style="background-color: #<%= themeLayersParams.currentTheme ? themeLayersParams.currentTheme.style.Fill_ForegroundColor : "0099CC" %>" data-foreground-color="#<%= themeLayersParams.currentTheme ? themeLayersParams.currentTheme.style.Fill_ForegroundColor : "0099CC" %>">
  </div>
  <button data-dojo-type="dijit/form/DropDownButton">
    <span>Цвет заливки</span>
     <div data-dojo-type="dijit/TooltipDialog">
        <span id="foreground-color"></span>  
     </div>
  </button>
   
  <div class="theme_submit_panel">
    <button id="theme-layer-edit-button-submit" data-theme-layer-action="<%= themeLayersParams.action %>" data-dojo-type='dijit/form/Button'>Сохранить</button>
  </div>

</div>