<div class="theme-layers-control-pane">
  <button id="add-theme-layer-button" data-dojo-type='dijit/form/Button' role="new"><span data-action="new"><i class="fa fa-plus"></i> Добавить слой</span></button>
</div>

<% if (!themeLayersParams.themeLayers.length) {%>
    <div class="theme-empty-message">На данный момент не добавлено ни одного слоя для тематического отчета</div>
<% } else { %>

  <div class="theme-layer-label-panel">
    <span class="theme-layer-label label style">Стиль</span>
    <span class="theme-layer-label label name">Наименование</span>
    <span class="theme-layer-label label featurelayer">Слой геоданных</span>
    <span class="theme-layer-label label objecttype">Описание</span>
  </div>
  <div class="theme-layers-list-wrapper">
    <% for (var i=0; i<themeLayersParams.themeLayers.length; i++) { 
      var themeStyle = JSON.parse(themeLayersParams.themeLayers[i].style).Fill_ForegroundColor;
      %>
      <div class="theme-layer-wrapper">
        
       

        <div class="theme-layer-info">
          <div class="theme-layer-style-preview" style="background-color: #<%= themeStyle ? themeStyle : "fff"%>">
            
          </div>
          <span class="theme-layer-value name" name="theme-layer-<%= themeLayersParams.themeLayers[i].id %>"><%= themeLayersParams.themeLayers[i].name %></span>
      
          <% for (var j=0; j<themeLayersParams.featureLayers.length; j++) {
               if (+themeLayersParams.featureLayers[j].id == + themeLayersParams.themeLayers[i].featureLayer) { %>
                  
                  <span class="theme-layer-value featurelayer"><%= themeLayersParams.featureLayers[j].name %></span>
                  <% for (var k=0; k<themeLayersParams.featureLayers[j].objectTypes.length; k++) {%>
                    <% if (+themeLayersParams.themeLayers[i].featureType == +themeLayersParams.featureLayers[j].objectTypes[k].id) { %>
                
                      <span class="theme-layer-value objecttype"><%= themeLayersParams.featureLayers[j].objectTypes[k].name %></span>
                  
                    <% } %>
                  <% } %>
               <% }            
           } %>
        </div>
          
          <div class="theme-list-item" title="Удалить" data-action="delete-theme-layer" data-theme-id="<%= themeLayersParams.themeId %>" data-theme-layer-id="<%= themeLayersParams.themeLayers[i].id %>"><span><i class="fa fa-times"></i></span></div>
          <div class="theme-list-item" title="Редактировать" data-action="edit-theme-layer" data-theme-id="<%= themeLayersParams.themeId %>" data-theme-layer-id="<%= themeLayersParams.themeLayers[i].id %>"><span><i class="fa fa-pencil-square-o"></i></span></div>
         
     
       
      </div>
    <% } %>
  </div>
<% } %>