<%
function findMap(map, arr) {
  for (var i=0; i<=arr.length-1; i++) {
    if (arr[i].mapName == map) {
      return arr[i];
    }
  }
}

var maps = window.WGS_APP.getMaps();
 %>
<div class="theme-window-control-pane">
  <button data-dojo-type='dijit/form/Button' id="add-theme-button" role="new">
    <span data-action="new">
      <i class="fa fa-plus"></i>
      Создать новый отчет</span>
  </button>
<!-- <div data-action="new" class="theme-list-control-item"><span><i class="fa fa-plus"></i> Добавить</span></div>
    <div data-action="refresh" class="theme-list-control-item"><span><i class="fa fa-refresh"></i> Обновить</span></div> -->
</div>
<% if (!themeList.length) {%>
    <div class="theme-empty-message">На данный момент не создано ни одного тематического отчета</div>

<% } else {
  var currentMap; %>
  <div data-dojo-type="dijit/layout/TabContainer" style="width: 600px; height: 400px;">
    <% for (var i=0; i < themeList.length; i++) {

      if (!currentMap || (currentMap.mapName!=themeList[i].MAP)) {
        if (currentMap) { %>
          </div>
        <% } %>
        <% currentMap = findMap(themeList[i].MAP, maps);
          if (!currentMap) continue; %>

        <div data-dojo-type="dijit/layout/ContentPane" title="<%= currentMap.title %>" class="theme-list-wrapper">
          <!-- <div class="theme-map-title"><%= currentMap.title %></div> -->
          <div class="theme-layer-label-panel">
            <span class="theme-layer-label label theme-name">Наименование отчета</span>
            <span class="theme-layer-label label theme-control">Управление</span>
          </div>
      <% } %>
  		<div class="theme-list-record">
  			<span class="theme-layer-name"><%= themeList[i].NAME ? themeList[i].NAME : "Без наименования"%></span>
        <div data-action="delete" title="Удалить" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"><span><i class="fa fa-times"></i></span></div>
        <div data-action="setup" title="Настроить слои" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"><span><i class="fa fa-cogs"></i></span></div>
        <div data-action="edit" title="Редактировать" data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"><span><i class="fa fa-pencil-square-o"></i></span></div>
        <div data-action="show" title="Отобразить" data-theme-map="<%= themeList[i].MAP ? themeList[i].MAP : 0 %>"  data-theme-id="<%= themeList[i].THEME_ID ? themeList[i].THEME_ID : 0 %>" class="theme-list-item"><span><i class="fa fa-globe"></i></span></div>
  		</div>
  	<% } %>
    </div>
    </div>
    </div>
  </div>
<% } %>
