
	<section id="map" data-title="Работа с картой" class="manual-paragraph navigation-anchor">
    	
		<h2 class="manual-main-title">Работа с картой</h2>

		<article id="map-overview" data-title="Общий вид модуля 'Карта'" class="navigation-anchor-sub manual-paragraph">
			<h3>Общий вид модуля "Карта"</h3>
			<p>Основная работа с приложением происходит в модуле «Карта». Общий вид данного модуля показан на рисунке ниже:</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-overview-1.jpg" alt="Общий вид модуля 'Карта'" />
				<figcaption >Общий вид модуля «Карта»</figcaption>
			</figure>
			<p>Условно, данное окно приложения можно разделить на следующие состовляющие:</p>
			<ul>
				<li><b>Карта</b> - Центральная область окна приложения, отображающая как карту зданий ТУСУР, так и поэтажные планы конкретного здания.</li>
				<li><b>Меню</b> - Меню приложения. Предоставляет доступ к другим модулям системы, а также к ее функциональным возможностям.</li>
				<li><b>Панель открытых карт (Карты)</b> - интрумент, позволяющий видеть, какие карты открыты с системе и осуществлять переключение между ними с помощью вкладок.</li>
				<li><b>Панель слоев</b> - Отображает список слоев текущей открытой карты. </li>
				<li><b>Панель инструментов</b> - Содержит часто используемые функции системы, такие как навигация и работа с картой и доступ к атрибутивному описанию объекта.</li>
				<li><b>Строка состояния</b> - Показывает масштаб и размеры текущей открытой карты.</li>
			</ul>
		</article >

		<article id="map-floorplans" data-title="Поэтажные планы" class="navigation-anchor-sub manual-paragraph">
			<h3>Поэтажные планы</h3>
			<p>Включает в себя список всех доступных поэтажных планов зданий ТУСУР. Является одним из способов быстрого перехода к поэтажному плану здания. Также переход возможен непосредственно при выделении конкретного объекта. Для этого пользователю нужно нажать на ссылку во всплывающем окне, рядом со зданием. Каждый из способов представлен на рисунках ниже:</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-floorplans-1.jpg" alt="Список поэтажных планов" />
				<figcaption >Список поэтажных планов</figcaption>
			</figure>
			<figure class="manual-paragraph__image">
				<img src="image/map-floorplans-2.jpg" alt="Всплывающее окно со ссылкой на поэтажный план" />
				<figcaption >Всплывающее окно со ссылкой на поэтажный план</figcaption>
			</figure>
			<p>При переходе на поэтажный план здания автоматически открывается один из этажей. Для перехода на другой этаж необходимо выбрать его из выпадающего списка. Функции панели инструментов работают так же, как и на обычной карте.</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-floorplans-3.jpg" alt="Поэтажный план здания" />
				<figcaption >Поэтажный план здания</figcaption>
			</figure>
			<p>Переключение между этажами здания осуществляется путем выбора соответствующего значения из выпадающего списка панели слоев. Переключение между поэтажными планами происходит путем выбора соответствующей вкладки под панелью инструментов.</p>
		</article >

		<article id="map-tools" data-title="Панель инструментов" class="navigation-anchor-sub manual-paragraph">
			<h3>Панель инструментов</h3>
			<ul>Далее выделим и опишем функции панели инструментов:
			<li><b>Навигация</b> - Позволяет перемещать, приближать и отдалять карту. Так же регулировать приближение и отдаление карты возможно с помощью колесика мыши.</li>
			<li><b>Масштабирование</b> - Увеличение области карты. Чтобы увеличить определенную область карты, необходимо, удерживая левую клавишу мыши в нажатом положении, выделить нужную область. При этом произойдет приближение к выделенной области.</li>
			<li><b>Вся карта</b> - Возвращает первоначальный вид карты.</li>
			<li><b>Выделение</b> - Позволяет нажатием левой клавиши мыши выбрать объект на карте. Удержание клавиши <kbd>Shift</kbd> позволяет выделять на карте сразу несколько объектов. При удержании левой клавиши мыши происходит выбор объектов в пределах прямоугольной области. Выбранные объекты будут выделены синим цветом, а их количество отобразится в строке состояния.</li>
			<li><b>Выбор объектов полигоном</b> - Позволяет выбрать объекты карты в пределах полигона. Двойное нажатие левой клавиши мыши означает окончание рисование полигона и выбор объектов.</li>
			</ul>
			<figure class="manual-paragraph__image">
				<img src="image/map-tools-1.jpg" alt="Выбор объектов" />
				<figcaption >Выбор объектов</figcaption>
			</figure>
			<figure class="manual-paragraph__image">
				<img src="image/map-tools-2.jpg" alt="Выбор объектов полигоном" />
				<figcaption >Выбор объектов полигоном</figcaption>
			</figure>
		</article >

		<article id="map-card" data-title="Карточка объекта" class="navigation-anchor-sub manual-paragraph">
			<h3>Карточка объекта</h3>
			<p>Доступ к атрибтивному описанию (карточке) объекта осуществляется посредством соответствующей функции на панели инструментов. Чтобы открыть карточку объекта, необходимо с помощью инструмента "Выделение" выделить объект на карте и кликнуть по кнопке "Карточка объекта" на панели инструментов. Перед Вами возникнет форма с карточкой объекта (см. рисунок)</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-card-1.jpg" alt="Карточка объекта" />
				<figcaption >Карточка объекта</figcaption>
			</figure>
			<p>Каждый объект может иметь до нескольких атрибутивных описаний либо не иметь ни одного. Если у объекта нет атрибутивного описания, его можно создать на форме с карточкой либо через функцию панели интсрументов (см. следующий раздел). </p>
			<p>Все атрибутивные характеристики объекта будут представлены на форме в виде закладок. Текущая карточка объекта показывается первой. Каждая карточка имеет набор основных и набор пользовательских характеристик, указанных в администрировании и сгруппированных администратором по группам.</p>
			<p>Редактирование карточки объекта происходит в этой же форме. По окончании редактирования, для сохраниения изменений нажмите кнопку "Сохранить". Нижняя панель в карточке предоставляет следующие возможности:</p>
			<ul>
				<li><b>Сбросить изменения</b> - Отменяет текущие изменения до состояния на момент открытия карточки.</li>
				<li><b>Печать</b> - печать карточки объекта. Формируется документ PDF.</li>
				<li><b>Удалить</b> - удаляет карточку текущего описания у объекта. Карточки других типов не удаляются.</li>
				<li><b>Сохранить</b> - сохраняет значения характеристик карточки, не закрывает окно карточки.</li>
				<li><b>Ок</b> - сохраняет значения характеристик карточки и закрывает окно карточки.</li>
			</ul>
		</article>

		<article id="map-multiple-card" data-title="Множественное заполнение" class="navigation-anchor-sub manual-paragraph">
			<h3>Множественное заполнение</h3>
			<p>При выделении множества объектов на карте и вызова функции "Карточка" открывается единая карточка для всех выделенных объектов (см. рисунок). При редактировании карточки в таком режиме, значения измененных характеристик сохраняются для всех карточек данного типа выделенных объектов.</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-multiple-card-1.jpg" alt="Множественное заполнение" />
				<figcaption >Множественное заполнение</figcaption>
			</figure>
			<p>В заголовке типа карточки Вы можете увидеть количество карточек данного типа для выделеных объектов. Среди значений характеристик Вы можете наблюдать следующие значения:</p>
			<ul>
				<li><b>Пустое значение</b> - Для данной характеристики нет значений ни в одной из выделенных карточек данного типа.</li>
				<li><b>Заполненное значение</b> - Данная характеристика имеет это значение во всех выделенных карточек.</li>
				<li><b>"<...>"</b> - Характеристика имеет различные значения в веделеных карточках.</li>
			</ul>
			<p>Чтобы задать единое значение характеристики для всех выделенных карточек, необходимо изменить его значение и нажать кнопку "Сохранить", точно также, как и при обычной работе с карточкой.</p>
		</article>

		<article id="map-card-manager" data-title="Управление карточками" class="navigation-anchor-sub manual-paragraph">
			<h3>Управление карточками</h3>
			<p>Как упоминалось выше, каждый объект может иметь произвольное количество карточек. Для того, чтобы добавить карточку к объекту, необходимо произвести его выделение на карте, затем нажать кнопку "Добавить карточку" на панели инструментов, выбрать доступную карточку в выпадающем меню и нажать кнопку "Добавить".</p>
			<figure class="manual-paragraph__image">
				<img src="image/map-card-manager-1.jpg" alt="Добавление карточки" />
				<figcaption >Добавление карточки</figcaption>
			</figure>
			<p>Удаление карточки происходит при открытой карточке, нажатием кнопки "Удалить".</p>
		</article>

		<article id="map-theme" data-title="Тематические отчеты" class="navigation-anchor-sub manual-paragraph">
			<h3>Тематические отчеты</h3>
			<p>Тематический отчеты представляют из себя отчеты графического типа, состоящие из уже существующих слоев пространственных данных, объекты которых раскрашенны в различные цвета в зависимости от значений их атрибутивных описаний.</p>
			<p>Классическим примером тематического отчета может служить карта высот местности, где в зависимости от высоты поверхности земли над уровнем моря соответсвующая область карты раскрашена в определенный цвет.</p>
			<p>В настоящем приложении тематические отчеты призваны визуально отобразить количество свободных мест в жилом помещений (от зеленого цвета - 4 свободных места, до красного - свободных мест нет), половую принадлежность прожавающих (синий цвет комнаты - мальчики, розовый - девочки), либо визуализировать цветом любую другую информацию, описывающую помещения.</p>
			<p>Для доступа к функциям тематических отчетов необходимо выбрать соответствующий пункт в меню "Инструменты" (см. рисунок).</p>
			<p><strong>Внимание.</strong> Созданные отчеты доступны для всех пользователей, имеющих доступ к карте, для которой отчет был создан. Удаление отчета также приводит к его удалению для всех пользователей.</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-1.jpg" alt="Выбор инструмента 'Тематические отчеты'" />
						<figcaption >Выбор инструмента "Тематические отчеты"</figcaption>
			</figure>
			<p>После выбора инструмента перед Вами появится окно с доступными для Вашего пользователя тематическими отчетами, группированными по картам и отсортированными по названию. Новый тематический отчет можно создать, нажав соответсвую кнопку на экранной форме (см. рисунок). </p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-2.jpg" alt="Список тематических отчетов" />
						<figcaption >Список тематических отчетов</figcaption>
			</figure>
			<p>Вам будет предложено ввести имя нового тематического отчета, а также выбрать карту, на которой данный отчет будет отображаться. Нажав на кнопку "Добавить", Вы вновь увидите форму со списком отчетов, а созданный Вами отчет будет находить во вкладке с картой, которую Вы указали при создании. Следует отметить, что форма редактирования отчета совпадает с данной формой, поэтому отредактировать отчет у Вас не составит труда, необходимо лишь изменить параметры и нажать кнопку "Сохранить". На экранной форме ниже представлен пример создания отчета "Этаж 6, пустые комнаты" для общежития 4, призванный визаульно показать, какие комнаты на 6-ом этаже находятся в настоящее время без жильцов (см. рисунок). </p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-3.jpg" alt="Создание и редактирование параметров отчета" />
						<figcaption >Создание и редактирование параметров отчета</figcaption>
			</figure>
			<p>У каждого тематического отчета существует набор управляющих элементов (см. рисунок - выделено красным). Каждая иконка имеет подсказку при наведении и выполняет одну из следующих функций (слева направо):</p>
			<ul>
				<li><b>Отобразить</b> - отображает соответствующий отчет на карте.</li>
				<li><b>Редактировать</b> - вызывает форму редактирования параметров отчета, таких как наименование и карта.</li>
				<li><b>Настроить</b> - позволяет настроить слои отчета.</li>
				<li><b>Удалить</b> - Удаляет текущий отчет для всех пользователей.</li>
			</ul>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-4.jpg" alt="Управляющие элементы тематического отчета" />
						<figcaption >Управляющие элементы тематического отчета</figcaption>
			</figure>
			<p>Для настройки содержимого отчета необходимо нажать иконку "Настроить" среди управляющих элементов. Вам откроется экранная форма со слоями, включенными в отчет. Если слоев в отчете нету, экранная форма Вам об этом сообщит (см. рисунок).</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-5.jpg" alt="Экранная форма списка слоев отчета" />
						<figcaption >Экранная форма списка слоев отчета</figcaption>
			</figure>
			<p>Ключевым элементом тематического отчета является набор его слоев, которые будут отображены в отчете. Слои отчета представляют собой слои карты, на которые наложены фильтры по атрибутивным описаниям и указан стиль отображения отчета. Таким образом, тематический слой в отчете - это ни что иное, как слой объектов карты (например, слой помещений третьего этажа общежития номер пять), на который наложена фильтрация, чтобы отобрать из слоя объекты с удовлетворяющими условиям фильтрации характеристиками и раскрасить их в определенный цвет. Поэтому и процесс добавления слоя в отчет условно разделен на два этапа:</p>
			<ol>
				<li>Выбор слоя карты с объектами, который ляжет в основу тематического слоя. Выбор атрибутивного описания, на основании характеритик которого будет осуществляться фильтрация объектов. Указание типа объектов слоя (точка, линия или полигон).</li>
				<li>Выбор характеристик атрибутивного описания и их значений, которым должны удовлетворять объекты слоя. Выбор цвета отображаемых объектов.</li>
			</ol>
			<p>На рисунке ниже представлена экранная форма добавления нового тематического слоя в отчет. В верхней секции необходимо ввести наименование слоя, как он будет представлен в отчете, выбрать слой, который ляжет в основу тематического слоя, выбрать атрибутивное описание и тип объектов. В нижней секции мы указываем характеристики и условия равенства значениям (Например, ""этажность меньше 9" оставит в слое только те объекты, значение характеристики "Этажность" которых меньше 9). Если нужно выделить объекты на основании нескольких условий, воспользуйтесь кнопкой "Добавить условие".</p>
			<p><strong>Внимание.</strong> Выбор нескольких условий осуществляется через из конъюнкцию (логиеское "И"), таким образом, если у вас выбрано 2 уловия, то фильтрацию пройдут только те объекты, которые удовлетворяют обоим условиям одновременно.</p>
			<p>На рисунке ниже добавим в отчет слой "Пустые комнаты", который отобразит синим цветом помещения, в которых количество жильцов равно нулю.</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-6.jpg" alt="Форма добавления тематического слоя" />
						<figcaption >Форма добавления тематического слоя</figcaption>
			</figure>
			<p>Как и отчет, каждый тематический слой имеет свои управляющие элементы: редактирование текущего слоя и его удаление.</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-7.jpg" alt="Управляющие элементы тематического слоя" />
						<figcaption >Управляющие элементы тематического слоя</figcaption>
			</figure>
			<p>Нажав иконку "Отобразить" напротив тематического отчета, произойдет его отображение на соответствующей карте, а пояснения к отчету будут добавлены в панель слоев. На рисунке ниже представлено отображение отчета с пустыми комнатами 6-го этажа общежития 4, таким образом, Вы наглядно можете видеть все комнаты, в которых нет жильцов.</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-theme-8.jpg" alt="Пример отображенного отчета" />
						<figcaption >Пример отображенного отчета</figcaption>
			</figure>
		</article>



		<article id="map-card-table" data-title="Табличное представление" class="navigation-anchor-sub manual-paragraph">
			<h3>Табличное представление</h3>
			<p>Для более комфортной работы со множеством атрибутивных описаний, а также для поиска среди значений характеристик существует специальный инструмент "Табличное представление". Доступ к данному функционалу осуществляется через пункт "Инструменты" панели меню. По умолчанию открывается таблица с данными по студентам, либо с данными, которые Вы просматривали во время текущей сессии. Общий вид экранной формы представлен ниже (см. рисунок).</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-cardtable-1.jpg" alt="Общий вид экранной формы 'Табличное представление'" />
						<figcaption >Общий вид экранной формы "Табличное представление"</figcaption>
			</figure>
			<p>На общем виде Вы можете увидеть следующие функциональные элементы (слева-направо, сверху-вниз):</p>
			<ul>
				<li><b>Тип объектов</b> - выбор атрибутивного описания, с которым будет осуществляться текущая работа. Карточки данного описания будут отображены в таблице.</li>
				<li><b>Слой</b> - выбор слоя, карточки которого будут показаны в таблице. Для карточек "Студенты" и "Сотрудники" параметров слоя нет, поскольку эти карточки не имеют своего непосредственного пространственного объекта, а являются дочерними карточками для карточки "Жилое помещение".</li>
				<li><b>Перезагрузить таблицу</b> - позволяет обновить содержимое таблицы, если по каким-то причинам произошел сбой в ее работе.</li>
				<li><b>Сохранить</b> - сохраняет отредактированные поля карточек.</li>
				<li><b>Вкладки</b> - переключение между этажами зданий при работе с карточками.</li>
				<li><b>Поиск</b> - осуществялет поиск по <b><i>текущему</i></b> открытому атрибутиному описанию. Для студентов позволяет искать по базе данных ГИС ВУЗ 
				    (ФИО, другие локальные характеристики), 
				    либо по персональным данным из АИС Контингент (Группа, факультет, и т.п.). Результаты поиска отображаются в таблице. 
				    <ol><li>Поиск по базе данных ГИС ТУСУР является регистронезависимым (записи "Иванов" и "иванов" <b>равнозначны</b>), а специальный символ <kbd>%</kbd> позволяет расширить результаты поиска, означая, что вместо этого символа может быть любая строка (например, "Иван%", найдет как Ивановых, так и Иванченко и людей по имени Иван, в то время как "Иван" найдет только те записи, характеристики у которых совпадают со строкой "Иван").</li>
				    <li>Поиск по базе данных АИС Контингент регистрозависим (записи "Иванов" и "иванов" <b>НЕравнозначны</b>), для поиска требуется точное совпадение введенной строки с одной из характеристик студента (специальный символ <kbd>%</kbd> не поддерживается).</li></ol></li>
				<li><b>На карте</b> - позволяет перейти к карте и отметить на ней выделенные объекты. Доступно только для описаний "Помещение" и "Жилое помещение".</li>
				<li><b>Генерация документов</b> - формирование шаблонов документов для жилых помещений (Список на выборы, решение ректората) и для студентов (Приказы на выселение и заселение). Перед печатью приказов на выселение и заселение необходимо выделить в таблице записи, соответствующие студентам, включаемым в приказ</li>
				<li><b>Таблица</b> - непосредственно таблица с выбранными карточками. Редактирование можно осуществлять в ячейках таблицы.</li>
			</ul>
			<p>Некоторые поля таблицы можно скрыть. Для этого в правом верхнем углу таблицы нужно нажать символ "+" и галочками выставить, какие поля необходимо отображать (см. рисунок).</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-cardtable-2.jpg" alt="Выбор отображаемых полей" />
						<figcaption >Выбор отображаемых полей</figcaption>
			</figure>
			<p>На рисунке ниже представлена экранная форма для работы с описаниями помещений. Как можно увидеть, в поле "Слой" выбирается карта, для которой будут показаны карточки, а вкладки позволяют быстро переключаться между этажами здания. </p>
			<p>Для удобства из таблицы можно быстро открыть карточку в отдельном окне, для более удобного редактирования и для привязки/отвязки студентов или сотрудников. Для доступа к карточке необходимо выбрать соответствующий пункт рядом с наименованием. Также, нажатие символа "X" возле кнопки вызова карточки приведет к удалению этой карточки у данного объекта.</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-cardtable-3.jpg" alt="Навигация по зданиям и этажам" />
						<figcaption >Навигация по зданиям и этажам</figcaption>
			</figure>
			<p>Каждый студент или сотрудник имеет рядом с полем "Наименование" список шаблонных документов, при клике на которые система произведет формирование документации и предложит Вам либо сохранить документ, либо открыть его в Вашем редакторе MS Office. Документация формирует на основании актуальных данных АИС Контингент.</p>
			<p>При формировании шаблонов приказов на выселение и заселение существует необходимость выделить нескольких студентов. Для этого нужно зажать клавишу <kbd>Shift</kbd> и кликнуть на линии со студентами. Выделенные карточки будут подсвечены темным цветом (см. рисунок).</p>
			<figure class="manual-paragraph__image">
						<img src="image/map-cardtable-4.jpg" alt="Выделение нескольких записей в таблице" />
						<figcaption >Выделение нескольких записей в таблице</figcaption>
			</figure>
		</article>


		<article id="map-bdupdate" data-title="Обновление Базы данных" class="navigation-anchor-sub manual-paragraph">
			<h3>Обновление Базы данных</h3>
			<p><strong>Внимательно отнеситесь к процессу обновления базы данных, поскольку этот процесс необратим.</strong></p>
			<p>Для открытия мастера обновлений выберите пункт меню "Админстрирование", далее "Обновление БД из АИС Контингент...". Перед вами появится окно мастера обновлений (см. рисунок).</p>
			<p><strong>Во время процесса обновления будут загружена только информация о существовании студента. Данные по студентам, такие как "факультет" и т.п. в обновлении не нуждаются!!!</strong></p>

			<figure class="manual-paragraph__image">
				<img src="image/map-bdupdate-1.jpg" alt="Окно приветствия мастера обновления" />
				<figcaption >Окно приветствия мастера обновления</figcaption>
			</figure>
			<p>Перед запуском обновления необходимо получить актуальные данные по состоянию базы данных. Для этого необходимо нажать кнопку "Загрузить сведения об обновлении" и дождаться выполнения операции.</p>
			<p>В появившемся окне Вы увидите количество студентов в ГИС ТУСУР, количество студентов в АИС Контингент и дату последнего ообновления базы данных. Мы рекомендуем обновлять базу данных в сентябре, когда должники и выпускники отчислены, а новые студенты уже занесены в АИС Контингент.</p>

			<figure class="manual-paragraph__image">
				<img src="image/map-bdupdate-2.jpg" alt="Настрока параметров обновления" />
				<figcaption >Настрока параметров обновления</figcaption>
			</figure>
			<p>Во время запуска информация по существующим активным студентам будет обновлена (фамилия, имя, отчество). Перед запуском обновления убедитесь что следующие параметры выставлены с верным значением:</p>
			<ul>
				<li><b>Удалить неактивных студентов</b> - если параметр установлен, из базы данных ГИС ТУСУР будут удалены все студенты, которые в настоящее время имеют статус "неактивный" в АИС Контингент. Это, как правило отчисленные и выпустившиеся студенты. Студенты будут удалены, а комнаты, которые они занимали в системе, будут освобождены.</li>
				<li><b>Загрузить данные по комнатам для вновь загруженных студентов</b> - если параметр установлен, все НОВЫЕ студенты, которых нет в ГИС ТУСУР, при загрузке будут привязаны к комнатам, указанным в качестве места проживания в АИС Контингент. Студенты, которые существуют в ГИС ТУСУР останутся без изменений. <strong>ГИС ТУСУР не несет ответственности за согласованность данных своей базы данных и данных, полученных из АИС Контингент. Может возникнуть ситуация, что новый студент, на основании данных АИС Контингент будет привязан к комнате, которая в ГИС ТУСУР уже имеет максимальное количество жителей, таки образов вызвав "Перенаселение". Также, может оказаться что фактическое проживание и проживание на основании АИС Контингент может отличаться. Данную ситуацию необходимо разрешать в ручном режиме.</strong></li>
				<li><b>Перезаписать данные по комнатам для обновленных студентов</b> - настоятельно рекомендуется отнестись к этому режиму со всей осторожностью. Если параметр установлен, то информация во проживанию всех уже существующих и расселенных по комнатам  студентов будет браться из АИС Контингент. Таким образом, если АИС Контингент содержит информацию по комнате проживания студента, то независимо от того, в какую комнату заселен студент в ГИС ТУСУР и заселн ли вообще, он будет переселен в комнату, указанную в АИС Контингент, если таковое указание существует.</li>
			</ul>
			<p>После нажатия кнопки "Обновить" начнется обновление базы данных на основании выставленных параметров. Процедура может длиться от 15-20 минут до нескольких часов, в зависимости от актуальности данных и скорости ответа АИС Континент. Во время обновления ГИС ТУСУР доступна для работы через новую вкладку браузера, однако рекомендуется выполнять обновление, когда в ГИС ТУСУР не проводится активной работы.</p>


		</article>

	</section>
