<section id="problems" data-title="Начало работы с системой" class="manual-paragraph navigation-anchor">
    <h2 class="manual-main-title">Начало работы с системой</h2>

    <article id="map-begin" data-title="Начало работы и авторизация" class="navigation-anchor-sub manual-paragraph">
        <h3>Начало работы и авторизация</h3>
        <p>Для работы с приложением необходим веб-браузер <b>Mozilla Firefox</b> или <b>Google Chrome</b> последней версии.</p>
        <p>Чтобы начать работу, с помощью Вашего веб-браузера необходимо перейти на адрес <b><i>gis.tusur.ru</i></b>.
        На странице появится форма авторизации:</p>
        <figure class="manual-paragraph__image">
            <img src="image/map-begin-1.jpg" alt="Форма авторизации пользователя" />
            <figcaption >Форма авторизации пользователя</figcaption>
        </figure>
        <p>Для авторизации необходимо ввести Имя пользователя и пароль в соответствующие поля формы и нажать кнопку "Вход в систему". При неверно введенных данных система выдаст соответствующее сообщение. При верно введенных данных пользователю будет предоставлена форма с информацией, на которой будет представлено меню работы с проектом, располагающееся в верхнем правом углу рабочей зоны</p>
        <p>
            Для перехода в раздел администрирования или работы с картой необходимо выбрать соответствующий пункт меню
        </p>
        <figure class="manual-paragraph__image">
            <img src="image/map-begin-2.jpg" alt="Начальное окно приложения" />
            <figcaption >Начальное окно приложения</figcaption>
        </figure>
    </article>

    <article id="problems-begin" data-title="Возможные проблемы и их решения" class="navigation-anchor-sub manual-paragraph">
        <h3>Возможные проблемы и их решения</h3>
        <ul>
            <li>
                <b>Не удается выполнить вход в систему</b>. 
                <p>
                    <i>Решение проблемы</i>
                </p>
                <ol>
                    <li>
                        Если на экран выведено сообщение <span style="color: red">"Сервис недоступен"</span>, обратитесь к администратору или в службу технической поддержки системы.
                    </li>
                    <li>
                        Если на экран выведено сообщение <span style="color: red">"Неверно имя пользователя/пароль"</span>, проверьте правильность введенного вами пароля.
                        В случае если пароль введен верно, но выполнить вход в систему не удается, обратитесь к администратору или в службу технической поддержки системы.
                    </li>
                    <li>
                        Если на экран не выводится ни одно из сообщений выше, но выполнить вход в систему не удается, попробуйте выполнить вход в систему с использованием одного из поддерживаемых браузеров
                    </li>
                </ol>
            </li>
            <li>
                <b>Не удается открыть карточку объекта и на экран выводится сообщение:</b>
                <figure class="manual-paragraph__image">
                    <img src="image/cont-error-card.png" alt="Ошибка связи с АИС Контингент" />
                    <figcaption >Ошибка при открытии карточки</figcaption>
                </figure>
                <p>
                    <i>Решение проблемы</i>: отсутствует связь с АИС "Контингент". 
                    Необходимо выбрать пункт меню "Администрирование" - "Перезагрузить сервер" и выполнить перезапуск служб ГИС ТУСУР. 
                    Если необходимый пункт меню отсутствует, обратитесь к администратору системы.</p>
            </li>
            <li>
                <b>Не удается открыть табличное представление атрибутивных данных и на экран выводится следующее сообщение:</b>
                <figure class="manual-paragraph__image">
                    <img src="image/cont-error.png" alt="Ошибка связи с АИС Контингент" />
                    <figcaption >Ошибка при открытии табличного представления атрибутивных данных</figcaption>
                </figure>
                <p>
                    <i>Решение проблемы</i>: отсутствует связь с АИС "Контингент". 
                    Необходимо выбрать пункт меню "Администрирование" - "Перезагрузить сервер" и выполнить перезапуск служб ГИС ТУСУР. 
                    Если необходимый пункт меню отсутствует, обратитесь к администратору системы.</p>
            </li>
            <li>
                <b>Другие проблемы.</b>
                <p>
                    <i>
                        При возникновении других проблем в работе с системой возможным решением являются следующие действия
                    </i>
                </p>
                <ul>
                    <li>
                        Попробуйте обновить страницу приложения в браузере.
                    </li>
                    <li>
                        Попробуйте повторно выполнить вход в систему.
                    </li>
                    
                    <li>
                        Попробуйте выбрать пункт меню "Администрирование" - "Перезагрузить сервер" и выполнить перезапуск служб ГИС ТУСУР.
                    </li>
                    <li>
                        Обратитесь в службу технической поддержки системы.
                    </li>
                </ul>
            </li>
        </ul>
    </article>

</section>    