	<section id="projectadmin" data-title="Управление проектом" class="manual-paragraph navigation-anchor">
		<h2 class="manual-main-title">Управление проектом</h2>

		<article id="projectadmin-users" data-title="Управление пользователями и ролями" class="navigation-anchor-sub manual-paragraph">
			<h3>Управление пользователями и ролями</h3>
			<p>
				Для создания пользователя необходимо перейти в раздел «Пользователи» подсистемы управления проектом и нажать кнопку «Создать». В появившейся форме необходимо указать логин (поле «Название»), информацию о пользователе, например, Ф.И.О. (поле «Описание»), пароль, и назначить роли проекта.
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/project-1.png" alt="Форма создания пользователя" />
				<figcaption >Форма создания пользователя</figcaption>
			</figure>
			<p>
				Создание ролей проекта выполняется аналогичным образом: в разделе «Роли» подсистемы управления проектом нажать кнопку «Создать». В появившейся форме указать наименование роли, информацию о роли (поле «Описание»), например, подразделение предприятия, назначить роль пользователям и добавить дочерние роли проекта.
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/project-2.png" alt="Форма создания роли" />
				<figcaption >Форма создания роли</figcaption>
			</figure>
			<p>
				В системе ГИС ТУСУРа предустановленны следующие роли для доступа к данным:
			</p>
			<ul>
				<li><b>Администратор ГИС ВУЗ</b> - Данному пользователю доступны все карты, предусмотренные в системе, администрирование проекта, обновление базы данных по студентам и перезагрузка сервера.</li>
				<li><b>Пользователь ГИС ВУЗ</b> - Доступны все карты, но привилегии администрировать проект, обновлять базу данных и перезагружать сервер не имеет. Иммет следующий список доерних ролей, которые наследуют все привилегии "Пользователя ГИС ВУЗ", но имеют дополнительные ограничения:
				 	<ul>
						<li><b>Зав. %ЗДАНИЕМ%</b> - Имеет доступ только к указанному в наименовании зданию.</li>
						<li><b>Ректорат</b> - Имеет доступ ко всем поэтажным планам в системе.</li>
					</ul>
				</li>
			</ul>
		</article >


		<article id="projectadmin-params" data-title="Параметры доступа" class="navigation-anchor-sub manual-paragraph">
			<h3>Параметры доступа</h3>
			<p><strong>В настоящее время ведется доработка функционирования данного раздела под задачи ГИС ТУСУР. Рекомендуется не менять параметры данного раздела</strong></p>
<!--			<ul class="manual-paragraph-text__link">Назначение параметров доступа ролям к объектам проекта доступно в двух режимах:
				<li>Режим назначения прав через объекты. Рекомендуется использовать в случае, если необходимо назначить нескольким ролям права на один объект.</li>
				<li>Режим назначения прав через роли. Рекомендуется использовать в случае, если необходимо назначить одной роли права на несколько объектов.</li>
			</ul>
			<ul class="manual-paragraph-text__link__checkBox">Назначение прав осуществляется присвоением привилегий доступа:
			<li><img class="clearfix manual-paragraph-text__link__image" src="image/project-3.png"> - назначить привилегию (например, «доступ к слою»);</li>
 			<li><img class="clearfix manual-paragraph-text__link__image" src="image/project-4.png"> - снять привилегию;</li>
 			<li><img class="clearfix manual-paragraph-text__link__image" src="image/project-5.png"> - наследовать этот параметр от родительской роли.</li>
			</ul>
			<p class="manual-paragraph-text">
				Для того чтобы изменения вступили в силу, необходимо нажать кнопку «Сохранить».
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/project-6.png" alt="Назначение прав через объекты" />
				<figcaption >Назначение прав через объекты</figcaption>
			</figure>
			<figure class="manual-paragraph__image">
				<img src="image/project-7.png" alt="Назначение прав через роли" />
				<figcaption >Назначение прав через роли</figcaption>
			</figure>-->
		</article >


		<!--<article id="projectadmin-area" data-title="Задание области карты для доступа" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Задание области карты для доступа</h3>
			<p class="manual-paragraph-text">
				Задание происходит в разделе “Администрирование” -> “Управление проектом” с назначением прав через роли. С помощью нажатия кнопки «Задать доступную область», указывается область карты электронного генерального плана, которая будет доступна пользователю с данной ролью.
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/project-8.jpeg" alt="Задание доступной области для роли пользователя" />
				<figcaption >Задание доступной области для роли пользователя</figcaption>
			</figure>
		</article >


		<article id="projectadmin-cardChoise" data-title="Выбор карт по умолчанию" class="navigation-anchor-sub manual-paragraph">
			<h3 class="manual-paragraph-title">Выбор карт по умолчанию</h3>
			<p class="manual-paragraph-text">
				Проект может содержать несколько видов представлений пространственной информации (карт). Для того чтобы выбрать выводимую пользователям карту по умолчанию, необходимо в разделе «Параметры доступа» нажать кнопку «Выбрать карту по умолчанию», для общего вида – «Выбрать карту для общего вида».
			</p>
			<figure class="manual-paragraph__image">
				<img src="image/project-9.png" alt="Форма выбора карты по умолчанию" />
				<figcaption >Форма выбора карты по умолчанию</figcaption>
			</figure>
			<figure class="manual-paragraph__image">
				<img src="image/project-10.png" alt="Форма выбора карты для общего вида" />
				<figcaption >Форма выбора карты для общего вида</figcaption>
			</figure>
		</article >-->
	</section>
