body { font-family: Arial, Helvetica, sans-serif; }
ul { list-style-type: none; }
.epsgcode { 
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: -10px;
}
.coords { 
    font-size: 0.7em;
    margin-top: 2px; 
}