
.dijitAccordionContainer {
  border: 0 none;
  border-radius: 2px;
}
.dijitAccordionInnerContainer {
  background: transparent;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  transition-property: background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.dijitAccordionInnerContainer +.dijitAccordionInnerContainer {
  margin-top: 0px;
  position: relative;
}
.dijitAccordionTitle {
  padding: 4px 12px;
  border-radius: 2px;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  border: 1px solid #d0d0d0;
  background: #f5f5f5;
  background: linear-gradient(#f5f5f5, #f5f5f5);
  border: 0 none;
  border-radius: 2px;
}
.dijitAccordionTitle .arrowTextUp,
.dijitAccordionTitle .arrowTextDown {
  display: none;
  float: right;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  text-align: center;
  font-size: 0px;
}
.dijitAccordionTitle .arrowTextUp:before,
.dijitAccordionTitle .arrowTextDown:before {
  content: "\f078";
  font-size: 12px;
}
.dijitAccordionTitle .arrowTextUp {
  display: block;
}
.dijitAccordionTitle .arrowTextUp:before {
  content: "\f077";
}
.dijitAccordionInnerContainerHover .dijitAccordionTitle {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  transition: all 0.1s;
  background: #e1e1e1;
  background: linear-gradient(#f6f6f6, #e1e1e1);
}
.dijitAccordionInnerContainerActive .dijitAccordionTitle {
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  transition: none;
  outline: none;
  background: #d0d0d0;
  background: linear-gradient(#f5f5f5, #f5f5f5);
}
.dijitAccordionInnerContainerSelected {
  border: 0 none;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background: #007ac2;
  box-shadow: 0 1px 3px -2px rgba(0,0,0,0.3);
  border-radius: 2px 2px 0 0;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle .arrowTextUp {
  display: none;
}
.dijitAccordionInnerContainerSelected .dijitAccordionTitle .arrowTextDown {
  display: block;
}
.dijitAccordionContainer .dijitAccordionChildWrapper {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-top: 0 none;
  position: relative;
  z-index: 1;
  clear: both;
  border-radius: 0 0 2px 2px;
}
.dijitAccordionInnerContainer {
  border-radius: 0;
}
.dijitAccordionInnerContainer .dijitAccordionTitle {
  border-radius: 0;
}
.dijitAccordionInnerContainer:not(:last-child) .dijitAccordionChildWrapper {
  border-radius: 0;
}
.dijitAccordionInnerContainer +.dijitAccordionInnerContainer {
  border-top: 0 none;
}
.dijitAccordionInnerContainer +.dijitAccordionInnerContainerSelected:last-child .dijitAccordionTitle {
  border-radius: 0;
}
.dijitAccordionInnerContainer:first-child,
.dijitAccordionInnerContainer:first-child .dijitAccordionTitle {
  border-radius: 2px 2px 0 0;
}
.dijitAccordionInnerContainer:last-child,
.dijitAccordionInnerContainer:last-child .dijitAccordionTitle {
  border-radius: 0 0 2px 2px;
}
