
.dijitBorderContainer {
  padding: 5px;
}
.dijitSplitContainer-child,
.dijitBorderContainer-child {
  border: 1px solid #d0d0d0;
}
.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer {
  border: none;
}
.dijitBorderContainer-dijitBorderContainer {
  border: 0;
  padding: 0;
}
.dijitSplitterH,
.dijitGutterH {
  background: none;
  border: 0;
  height: 5px;
}
.dijitSplitterH .dijitSplitterThumb {
  background: #d0d0d0;
  height: 1px;
  top: 2px;
  width: 19px;
}
.dijitSplitterV,
.dijitGutterV {
  background: none;
  border: 0;
  width: 5px;
  margin: 0;
}
.dijitSplitterV .dijitSplitterThumb {
  background: #d0d0d0;
  height: 19px;
  left: 2px;
  width: 1px;
  margin: 0;
}
.dijitSplitterHHover,
.dijitSplitterVHover {
  font-size: 1px;
  background: #f5f5f5;
}
.dijitSplitterHHover .dijitSplitterThumb,
.dijitSplitterVHover .dijitSplitterThumb {
  background: #b8b8b8;
}
.dijitSplitterHActive,
.dijitSplitterVActive {
  font-size: 1px;
  background: #f5f5f5;
}
.dijitSplitterHActive .dijitSplitterThumb,
.dijitSplitterVActive .dijitSplitterThumb {
  background: #b8b8b8;
}
