
.dijitContentPane {
  background: #fff;
  padding: 0;
}
.dijitTabContainerTop-dijitContentPane,
.dijitTabContainerLeft-dijitContentPane,
.dijitTabContainerBottom-dijitContentPane,
.dijitTabContainerRight-dijitContentPane,
.dijitAccordionContainer-dijitContentPane {
  background: #fff;
  padding: 4px;
  left: 0 !important;
  top: 0 !important;
}
