
.dijitColorPalette {
  border: 1px solid #d0d0d0;
  background: #fff;
  border-radius: 2px;
}
.dijitColorPalette .dijitPaletteTable {
  padding: 4px;
}
.dijitColorPalette .dijitColorPaletteSwatch {
  height: 15px;
  width: 15px;
  border-radius: 2px;
}
.dijitColorPalette .dijitPaletteImg {
  border: 1px solid transparent;
  line-height: normal;
}
.dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg {
  border: 1px solid #d0d0d0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  border-radius: 2px;
  transform: scale(1.2);
}
.dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg,
.dijitColorPalette .dijitPaletteTable .dijitPaletteCellSelected .dijitPaletteImg {
  border: 1px solid #007ac2;
  box-shadow: 0 3px 3px rgba(0,0,0,0.25);
  border-radius: 2px;
  transform: scale(1.2);
}
