
.dijitDialog {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.dijitDialogPaneContent {
  background: #fff;
  border-radius: 0 0 2px 2px;
  padding: 8px;
  position: relative;
}
.dijitDialogPaneActionBar {
  padding-top: 8px;
  text-align: right;
  position: relative;
}
.dijitTooltipDialog .dijitDialogPaneActionBar {
  border-radius: 0 0 2px 2px;
  margin: 8px -8px -4px;
}
.dijitDialogPaneActionBar .dijitButton {
  float: none;
}
.dijitDialogTitleBar {
  border-bottom: 1px solid #efefef;
  padding: 8px 12px;
  border-radius: 2px 2px 0 0;
}
.dijitDialogTitle {
  font-size: 1.1em;
  font-weight: bold;
}
.dijitDialogCloseIcon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 8px;
  right: 12px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  opacity: 0.65;
}
.dijitDialogCloseIcon:before {
  content: "\f00d";
}
.dijitDialogCloseIcon .closeText {
  display: none;
}
.dijitDialogCloseIconHover,
.dijitDialogCloseIconActive {
  opacity: 1;
}
.dijitDialogUnderlay {
  background: #000;
  opacity: 0.8;
}
.dijitTooltip,
.dijitTooltipDialog {
  background: transparent;
}
.dijitTooltipContainer {
  background: #2b2e34;
  opacity: 0.8;
  padding: 4px 8px;
  border-radius: 2px;
}
.dijitTooltip .dijitTooltipContainer {
  color: #fff;
  border: 0 none;
}
.dijitTooltipConnector {
  z-index: 2;
  width: auto;
  height: auto;
  opacity: 0.8;
}
.dijitTooltipABRight .dijitTooltipConnector {
  left: auto !important;
  right: 8px;
}
.dijitTooltipBelow {
  padding-top: 4px;
}
.dijitTooltipBelow .dijitTooltipConnector {
  top: 0;
  left: 8px;
  border-bottom: 4px solid #2b2e34;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 0;
}
.dijitTooltipAbove {
  padding-bottom: 4px;
}
.dijitTooltipAbove .dijitTooltipConnector {
  bottom: 0;
  left: 8px;
  border-top: 4px solid #2b2e34;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0;
}
.dijitTooltipLeft {
  padding-right: 4px;
}
.dijitTooltipLeft .dijitTooltipConnector {
  right: 0;
  border-left: 4px solid #2b2e34;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 0;
}
.dijitTooltipRight {
  padding-left: 4px;
}
.dijitTooltipRight .dijitTooltipConnector {
  left: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #2b2e34;
}
.dijitTooltipDialog .dijitTooltipContainer {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  opacity: 1;
}
.dijitTooltipDialog.dijitTooltipBelow {
  padding-top: 6px;
}
.dijitTooltipDialog.dijitTooltipAbove {
  padding-bottom: 6px;
}
.dijitTooltipDialog.dijitTooltipLeft {
  padding-right: 6px;
}
.dijitTooltipDialog.dijitTooltipRight {
  padding-left: 6px;
}
.dijitTooltipDialog .dijitTooltipConnector {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
  opacity: 1;
}
.dijitTooltipDialog .dijitTooltipConnector:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector {
  border-color: #d0d0d0 transparent transparent;
  border-width: 7px 7px 0;
  border-style: solid;
}
.dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector:after {
  border-color: #fff transparent transparent;
  border-width: 6px 6px 0;
  border-style: solid;
  left: -6px;
  top: -7px;
}
.dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector {
  border-color: transparent transparent #d0d0d0;
  border-width: 0 7px 7px;
  border-style: solid;
}
.dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector:after {
  border-color: transparent transparent #fff;
  border-width: 0 6px 6px;
  border-style: solid;
  left: -6px;
  bottom: -7px;
}
.dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector {
  border-color: transparent transparent transparent #d0d0d0;
  border-width: 7px 0 7px 7px;
  border-style: solid;
}
.dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector:after {
  border-color: transparent transparent transparent #fff;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  top: -6px;
  left: -7px;
}
.dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector {
  border-color: transparent #d0d0d0 transparent transparent;
  border-width: 7px 7px 7px 0;
  border-style: solid;
}
.dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector:after {
  border-color: transparent #fff transparent transparent;
  border-width: 6px 6px 6px 0;
  border-style: solid;
  top: -6px;
  right: -7px;
}
