
.dijitEditor {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}
.dijitEditor .dijitEditorIFrameContainer {
  border: 1px solid transparent;
  border-top: 1px solid #d0d0d0;
  padding: 4px 8px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.dijitEditorHover .dijitEditorIFrameContainer,
.dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #007ac2;
}
.dijitEditorFocused .dijitEditorIFrameContainer {
  border: 1px solid #007ac2;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset;
}
.dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #007ac2;
}
.dijitEditorDisabled {
  border: 1px solid #d0d0d0;
  color: #9a9b9f;
  opacity: 0.65;
}
.dijitEditorDisabled .dijitEditorIFrame,
.dijitEditorDisabled .dijitEditorIFrameContainer,
.dijitEditorDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background: #f5f5f5;
  border: 1px solid transparent;
  box-shadow: none;
}
