
.dijitInlineEditBoxDisplayMode {
  border: 1px dashed transparent;
  padding: 4px 8px;
  border-radius: 2px;
}
.dijitInlineEditBoxDisplayModeHover {
  background: transparent;
  border: 1px dashed #007ac2;
}
.dijitInlineEditBoxDisplayModeDisabled {
  opacity: 0.65;
}
