
.dijitMenu {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  margin: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
.dijitMenuTable,
.dijitComboBoxMenu {
  padding: 8px 0;
}
.dijitComboBoxMenu {
  margin-left: 0;
  background-image: none;
}
.dijitMenuTable {
  border-collapse: separate;
  border-spacing: 0 0;
}
.dijitMenuItem,
.dijitMenuItem td {
  line-height: 20px;
  padding: 4px;
  white-space: nowrap;
}
.dijitMenuItemHover td,
.dijitMenuItemHover {
  color: #fff;
  background: #007ac2;
}
.dijitMenuItemActive td,
.dijitMenuItemActive {
  color: #fff;
  background: #007ac2;
}
.dijitMenuItemSelected td,
.dijitMenuItemSelected {
  color: #fff;
  background: #007ac2;
}
.dijitMenuSeparatorTop {
  height: auto;
  margin-top: 1px;
  border-bottom: 1px solid #d0d0d0;
}
.dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: 1px;
  border-top: 0 none;
}
td.dijitMenuItemIconCell {
  padding: 4px;
  margin: 0 0 0 4px;
}
.dijitMenuExpand {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
}
.dijitMenuExpand:before {
  content: "\f0da";
}
.dijitCheckedMenuItemIconChar {
  display: none;
}
.dijitCheckedMenuItemIcon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
}
.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon:before {
  content: "\f00c";
}
.dijitMenuPreviousButton,
.dijitMenuNextButton {
  font-style: italic;
}
.dijitMenuBar {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}
.dijitMenuBar .dijitMenuItem {
  padding: 8px 12px;
  margin: 0;
}
.dijitMenuBar .dijitMenuItemHover {
  background: #007ac2;
}
.dijitMenuBar .dijitMenuItemActive {
  background: #007ac2;
}
.dijitMenuBar .dijitMenuItemSelected,
.dijitMenuBar .dijitMenuItemHover.dijitMenuItemSelected,
.dijitMenuBar .dijitMenuItemActive.dijitMenuItemSelected {
  color: #fff;
  background: #007ac2;
}
.dijitMenuPopup {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dijitMenuPopup .dijitMenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dijitMenuPopup .dijitMenuItem,
.dijitMenuPopup .dijitMenuItem td {
  padding: 8px;
}
