
.dijitProgressBar {
  background: #9a9b9f;
  border: 0 none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dijitProgressBarTile {
  background: url("images/progressBarStrips.png") repeat-x top;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.dijitProgressBarFull {
  background: #007ac2;
  background: -webkit-linear-gradient(#0080cb, #007ac2);
  background: -moz-linear-gradient(#0080cb, #007ac2);
  background: -o-linear-gradient(#0080cb, #007ac2);
  background: -ms-linear-gradient(#0080cb, #007ac2);
  background: linear-gradient(#0080cb, #007ac2);
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  -ms-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dijitProgressBar.progress-bar-success .dijitProgressBarFull {
  background: #35ac46;
  background: -webkit-linear-gradient(#37b349, #35ac46);
  background: -moz-linear-gradient(#37b349, #35ac46);
  background: -o-linear-gradient(#37b349, #35ac46);
  background: -ms-linear-gradient(#37b349, #35ac46);
  background: linear-gradient(#37b349, #35ac46);
}
.dijitProgressBar.progress-bar-info .dijitProgressBarFull {
  background: #00b9f2;
  background: -webkit-linear-gradient(#00bffa, #00b9f2);
  background: -moz-linear-gradient(#00bffa, #00b9f2);
  background: -o-linear-gradient(#00bffa, #00b9f2);
  background: -ms-linear-gradient(#00bffa, #00b9f2);
  background: linear-gradient(#00bffa, #00b9f2);
}
.dijitProgressBar.progress-bar-warning .dijitProgressBarFull {
  background: #f89927;
  background: -webkit-linear-gradient(#f89c2d, #f89927);
  background: -moz-linear-gradient(#f89c2d, #f89927);
  background: -o-linear-gradient(#f89c2d, #f89927);
  background: -ms-linear-gradient(#f89c2d, #f89927);
  background: linear-gradient(#f89c2d, #f89927);
}
.dijitProgressBar.progress-bar-danger .dijitProgressBarFull {
  background: #da4d1e;
  background: -webkit-linear-gradient(#e05020, #da4d1e);
  background: -moz-linear-gradient(#e05020, #da4d1e);
  background: -o-linear-gradient(#e05020, #da4d1e);
  background: -ms-linear-gradient(#e05020, #da4d1e);
  background: linear-gradient(#e05020, #da4d1e);
}
.dijitProgressBarLabel {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
