
.dijitRadio,
.dijitRadioIcon {
  width: 14px;
  height: 14px;
  border: 1px solid #007ac2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  overflow: visible;
}
.dijitRadio:after,
.dijitRadioIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background: #007ac2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 7px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.dijitToggleButton .dijitRadioIcon {
  display: inline-block;
}
.dijitButtonNode .dijitRadioIcon {
  border: 1px solid #d0d0d0;
  position: relative;
  top: 2px;
}
.btn-alt .dijitButtonNode .dijitRadioIcon {
  border-color: #fff;
  border-color: rgba(255,255,255,0.85);
}
.btn-alt.dijitChecked .dijitRadioIcon:after {
  background: #fff;
}
.dijitRadioChecked，:after,
.dijitChecked .dijitRadioIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dijitRadioDisabled {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
