
.dijitSlider {
  background: transparent;
  border: 0 none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.dijitRuleLabelsContainer {
  color: #2b2e34;
}
.dijitSliderDisabled {
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.dijitRuleLabelsContainerH {
  padding: 0;
}
.dijitSliderBarH,
.dijitSliderBumperH {
  height: 6px;
}
.dijitSlider .dijitSliderLeftBumper {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-width: 1px 0 1px 1px;
  margin-left: 4px;
}
.dijitSlider .dijitSliderRightBumper {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-width: 1px 1px 1px 0;
  margin-left: -2px;
  margin-right: 4px;
}
.dijitSlider .dijitSliderProgressBarH,
.dijitSlider .dijitSliderLeftBumper {
  border-color: #0068a5;
  background-color: #007ac2;
  background-image: -webkit-linear-gradient(#0080cb, #007ac2);
  background-image: -moz-linear-gradient(#0080cb, #007ac2);
  background-image: -o-linear-gradient(#0080cb, #007ac2);
  background-image: -ms-linear-gradient(#0080cb, #007ac2);
  background-image: linear-gradient(#0080cb, #007ac2);
}
.dijitSlider .dijitSliderRemainingBarH,
.dijitSlider .dijitSliderRightBumper {
  border-color: #d0d0d0;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.075) inset;
}
.dijitSliderHover .dijitSliderProgressBarH,
.dijitSliderHover .dijitSliderLeftBumper {
  border-color: #005b92;
  background-color: #0070b2;
  background-image: -webkit-linear-gradient(#0084d2, #0070b2);
  background-image: -moz-linear-gradient(#0084d2, #0070b2);
  background-image: -o-linear-gradient(#0084d2, #0070b2);
  background-image: -ms-linear-gradient(#0084d2, #0070b2);
  background-image: linear-gradient(#0084d2, #0070b2);
}
.dijitSliderFocused .dijitSliderProgressBarH,
.dijitSliderFocused .dijitSliderLeftBumper {
  border-color: #0068a5;
}
.dijitRuleLabelsContainerV {
  padding: 0;
}
.dijitSliderBarV,
.dijitSliderBumperV {
  width: 6px;
}
.dijitSlider .dijitSliderTopBumper {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  border-width: 1px 1px 0 1px;
  margin-top: 4px;
  margin-bottom: -2px;
}
.dijitSlider .dijitSliderBottomBumper {
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px 1px;
  margin-bottom: 4px;
}
.dijitSlider .dijitSliderProgressBarV,
.dijitSlider .dijitSliderBottomBumper {
  border-color: #0068a5;
  background-color: #007ac2;
  background-image: -webkit-linear-gradient(left, #0080cb, #007ac2);
  background-image: -moz-linear-gradient(left, #0080cb, #007ac2);
  background-image: -o-linear-gradient(left, #0080cb, #007ac2);
  background-image: -ms-linear-gradient(left, #0080cb, #007ac2);
  background-image: linear-gradient(to right, #0080cb, #007ac2);
}
.dijitSlider .dijitSliderRemainingBarV,
.dijitSlider .dijitSliderTopBumper {
  border-color: #d0d0d0;
  background-color: #fff;
  -webkit-box-shadow: 1px -1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 1px -1px 1px rgba(0,0,0,0.075) inset;
}
.dijitSliderHover .dijitSliderProgressBarV,
.dijitSliderHover .dijitSliderBottomBumper {
  border-color: #005b92;
  background-color: #0070b2;
  background-image: -webkit-linear-gradient(left, #0084d2, #0070b2);
  background-image: -moz-linear-gradient(left, #0084d2, #0070b2);
  background-image: -o-linear-gradient(left, #0084d2, #0070b2);
  background-image: -ms-linear-gradient(left, #0084d2, #0070b2);
  background-image: linear-gradient(to right, #0084d2, #0070b2);
}
.dijitSliderFocused .dijitSliderProgressBarV,
.dijitSliderFocused .dijitSliderBottomBumper {
  border-color: #0068a5;
}
.dijitSliderImageHandle {
  background: #f5f5f5;
  background: -webkit-linear-gradient(#fdfdfd 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(#fdfdfd 0%, #f5f5f5 100%);
  background: -o-linear-gradient(#fdfdfd 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(#fdfdfd 0%, #f5f5f5 100%);
  background: linear-gradient(#fdfdfd 0%, #f5f5f5 100%);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #007ac2;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  position: absolute;
}
.dijitSliderImageHandle:after {
  content: "";
  display: block;
  background: #f5f5f5;
  background: -webkit-linear-gradient(#ddd, #fdfdfd 100%);
  background: -moz-linear-gradient(#ddd, #fdfdfd 100%);
  background: -o-linear-gradient(#ddd, #fdfdfd 100%);
  background: -ms-linear-gradient(#ddd, #fdfdfd 100%);
  background: linear-gradient(#ddd, #fdfdfd 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  left: 3px;
  top: 3px;
  position: absolute;
}
.dijitSliderHover .dijitSliderImageHandle:after,
.dijitSliderFocused .dijitSliderImageHandle:after {
  background: #007ac2;
  background: -webkit-linear-gradient(#0082cf 0, #0073b6 100%);
  background: -moz-linear-gradient(#0082cf 0, #0073b6 100%);
  background: -o-linear-gradient(#0082cf 0, #0073b6 100%);
  background: -ms-linear-gradient(#0082cf 0, #0073b6 100%);
  background: linear-gradient(#0082cf 0, #0073b6 100%);
  height: 6px;
  width: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd #f5f5f5 #fdfdfd;
}
.dijitSliderDisabled.dijitSliderFocused .dijitSliderImageHandle:after {
  display: none;
}
.dijitSliderDecrementIconH,
.dijitSliderIncrementIconH,
.dijitSliderDecrementIconV,
.dijitSliderIncrementIconV {
  border-style: solid;
  border-width: 1px;
  padding: 4px 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  border-color: #d0d0d0;
  background: #f5f5f5;
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(#f5f5f5, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #f5f5f5);
  background: linear-gradient(#f5f5f5, #f5f5f5);
  padding: 0;
  height: 20px;
  width: 20px;
}
.dijitSliderDecrementButtonHover,
.dijitSliderIncrementButtonHover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  background: #e1e1e1;
  background: -webkit-linear-gradient(#f6f6f6, #e1e1e1);
  background: -moz-linear-gradient(#f6f6f6, #e1e1e1);
  background: -o-linear-gradient(#f6f6f6, #e1e1e1);
  background: -ms-linear-gradient(#f6f6f6, #e1e1e1);
  background: linear-gradient(#f6f6f6, #e1e1e1);
}
.dijitSliderDecrementButtonActive,
.dijitSliderIncrementButtonActive {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  background: #d0d0d0;
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5);
  background: -moz-linear-gradient(#f5f5f5, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #f5f5f5);
  background: linear-gradient(#f5f5f5, #f5f5f5);
}
.dijitSliderReadOnly .dijitSliderDecrementIconH,
.dijitSliderDisabled .dijitSliderDecrementIconH,
.dijitSliderReadOnly .dijitSliderDecrementIconV,
.dijitSliderDisabled .dijitSliderDecrementIconV,
.dijitSliderReadOnly .dijitSliderIncrementIconH,
.dijitSliderDisabled .dijitSliderIncrementIconH,
.dijitSliderReadOnly .dijitSliderIncrementIconV,
.dijitSliderDisabled .dijitSliderIncrementIconV {
  cursor: default;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.dijitSliderButtonInner {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  height: 14px;
  width: 14px;
  margin: 3px;
  font-size: 0;
}
.dijitSliderIncrementIconH .dijitSliderButtonInner:before,
.dijitSliderIncrementIconV .dijitSliderButtonInner:before {
  content: "\f067";
  font-size: 14px;
}
.dijitSliderDecrementIconH .dijitSliderButtonInner:before,
.dijitSliderDecrementIconV .dijitSliderButtonInner:before {
  content: "\f068";
  font-size: 14px;
}
.dijitRuleMarkH,
.dijitRuleMarkV {
  border-left: 1px solid #9a9b9f;
  border-right: 1px solid #fff;
}
.dijitRuleMarkV {
  border-right: 0 none;
  border-bottom: 1px solid #fff;
}
.dijitRuleLabelContainerH {
  margin-top: 2px;
  margin-bottom: 2px;
}
.dijitRuleLabelContainerV {
  margin-left: 2px;
  margin-right: 2px;
}
