
.dijitTimePickerPopup {
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  height: 200px;
}
.dijitTimePicker {
  background: #fff;
  padding: 4px 0;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
}
.dijitTimePickerItem {
  margin: 0;
}
.dijitTimePickerTick {
  color: #9a9b9f;
  border: 0;
}
.dijitTimePickerMarker {
  background: #f5f5f5;
  white-space: nowrap;
  border: 0;
}
.dijitTimePickerTickHover,
.dijitTimePickerMarkerHover {
  background: #007ac2;
  color: #fff;
}
.dijitTimePickerMarkerSelected,
.dijitTimePickerTickSelected {
  background: #007ac2;
  color: #fff;
}
.dijitTimePickerTick .dijitTimePickerItemInner,
.dijitTimePickerMarker .dijitTimePickerItemInner {
  padding: 8px;
  margin: 0;
}
