
.dijitTitlePaneTitle {
  padding: 4px 12px;
  border-radius: 2px;
  box-shadow: none;
  line-height: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  border: 1px solid #d0d0d0;
  background: #f5f5f5;
  background: linear-gradient(#f5f5f5, #f5f5f5);
  border-radius: 2px 2px 0 0;
}
.dijitTitlePaneTitleHover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  transition: all 0.1s;
  background: #e1e1e1;
  background: linear-gradient(#f6f6f6, #e1e1e1);
  box-shadow: none;
}
.dijitTitlePaneTitleActive {
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  transition: none;
  outline: none;
  background: #d0d0d0;
  background: linear-gradient(#f5f5f5, #f5f5f5);
}
.dijitTitlePane .dijitArrowNode {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration: inherit;
  vertical-align: bottom;
  text-align: center;
}
.dijitTitlePane .dijitArrowNode:before {
  content: "\f078";
  font-size: 12px;
}
.dijitTitlePane .dijitClosed {
  border-radius: 2px;
}
.dijitTitlePane .dijitClosed .dijitArrowNode:before {
  content: "\f077";
}
.dijitTitlePaneContentOuter {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-top: none;
  border-radius: 0 0 2px 2px;
}
.dijitTitlePaneContentInner {
  padding: 8px;
}
.dijitTitlePaneTextNode {
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: text-top;
}
