
.dijitTreeIsRoot {
  background: transparent;
}
.dijitTreeRow,
.dijitTreeNode .dojoDndItemBefore,
.dijitTreeNode .dojoDndItemAfter {
  padding: 8px 0;
  border: 0 none;
  line-height: 20px;
  transition-property: background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}
.dijitTreeRowHover {
  background: #f5f5f5;
  border: 0 none;
  transition-duration: 0.15s;
}
.dijitTreeRowActive {
  background: #f5f5f5;
  border: 0 none;
}
.dijitTreeRowSelected,
.dijitTreeRowHover.dijitTreeRowSelected,
.dijitTreeRowActive.dijitTreeRowSelected {
  color: #fff;
  background: #007ac2;
  border: 0 none;
}
.dijitTreeExpando {
  font-family: FontAwesome;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}
.dijitTreeExpandoOpened:before {
  content: "\f078";
  cursor: pointer;
}
.dijitTreeExpandoClosed:before {
  content: "\f054";
  cursor: pointer;
}
.dijitTreeExpandoLoading:before {
  content: "\f021";
  animation: spinning 2s linear infinite;
}
.dj_ie8 .dijitTreeExpandoLoading,
.dj_ie9 .dijitTreeExpandoLoading {
  background: url("images/loadingAnimation.gif") no-repeat;
}
.dj_ie8 .dijitTreeExpandoLoading:before,
.dj_ie9 .dijitTreeExpandoLoading:before {
  content: "";
}
@-moz-keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
