html {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 260px;
    border-bottom: 1px solid #ccc;
}

#logo-container {
    width: 100%;
    max-width: 250px;
}

#logo-container img {
    width: 100%;
}

.claro .dijitBorderContainer-dijitContentPane.center-panel,
.claro .dijitBorderContainer-dijitContentPane.bottom-panel,
.flat .dijitTabContainerTop-dijitContentPane.map__map-pane{
    padding: 0;
}

.claro .dijitBorderContainer-dijitContentPane.top-panel {
    padding: 0;
    height: auto;
}


/**
*   FONT SIZES
*/
.claro .dijitAccordionTitle, .claro .tabLabel {
    font-size: 1.1rem;
}

.claro .dijitMenuItemLabel, .claro .dijitButtonText {
    font-size: 0.95rem;
}

.map__legend a.jxTreeItem {
    font-size: 0.95rem;

}

.clearfix::after {
    display: block;
    clear: both;
    content: " ";
}


.flat #map-tab-container .dijitTabListWrapper,
.flat .dojoxFloatingPane .dijitTabListWrapper{
    left:0!important;
}

.flat .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25) inset;
}

.flat .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.flat .dijitToolbar .dijitButtonHover .dijitButtonNode{
    background: transparent;

}

#cont-update-welcome p{
    margin: 10px 0;
}

#cont-update-info table{
    width: 100%;
}
#cont-update-progress-message {
    font-size: 12px;
    clear:left;
    padding-top: 3px;
    width: 250px;
}
#cont-update-progress {
    float: left;
    margin-top: 3px;
}

.cont-update-info .cont-update-info__value {
    width: 100px;
}

#cont-update-with-delete-container {
    width: 100%;
}
