.dgrid__control-link {
    color: #666;
}

.dgrid-row.ui-state-active {
    box-shadow: none;
}

.dgrid-row-table .dgrid-cell {
    vertical-align: top;
}

.dgrid-column-set-0 {
    width: 400px;
}

/*.dgrid .ui-state-active,*/
/*.dgrid .ui-state-active:active,*/
/*.dgrid .ui-state-active:hover{*/
/*    background: none;*/
/*}*/

/*
*  cell styles: width and hidden cells
*/

.dgrid .dgrid-cell {
    width: 150px;
}

.dgrid .field-typeName {
    width: 0;
    padding: 0;
    border: none;
}

.dgrid .field-edit_user {
    width: 600px;
}

.dgrid .field-relation {
    width: 500px;
}

.dgrid .field-action {
    width: 250px;
}

.dgrid .field-property-12 {
    width: 250px;
}




/*
*  Select widget styling
*/
.dgrid .dijitSelect, .dgrid .dijitTextBox {
    width: 100%;
    box-sizing: border-box;
}

.dgrid .dijitSelect .dijitArrowButton {
    vertical-align: middle;
    padding-top: 5px
}


.card-table__relation-field__content {
    width: 490px;
}

.card-table__relation-field__content a {
    color: #666;
}

.card-table__relation-field__content a:hover {
    color: #111;
}

.card-table__relation-field__content__action {
    width: 100px;
}

/*
   TextBox-inside-grid styling
*/
.dgrid .dgrid-cell-editing{
    padding: 0;
}

.dgrid .dijitTextArea {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: solid 1px rgba(255,255,255,0);
    box-shadow: none;
}

.dgrid-cell .dijitFocused.dijitTextArea {
    border: solid 1px #007ac2;
}

.dgrid .dijitTextBox input:focus {
    outline: none;
}

/*.dgrid .ui-state-active .dijitTextBox, */
/*.dgrid .ui-state-active .dijitTextArea{*/
/*    background: #eee;*/
/*}*/



.dgrid-sort-up .dgrid-sort-arrow::before {
    content: "";
}

.dgrid-sort-down .dgrid-sort-arrow::before {
    content: "";
}

.dgrid-sort-up .dgrid-sort-arrow {
    background-position: 0px -16px;
}
.dgrid-sort-down .dgrid-sort-arrow {
    background-position: 0px -16px;
}
