#helper-container {
  background-color: #F5F5F5;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  height: 38px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 1px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

#helper-container img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

#helper-container:hover {
  background-color: #fff;
}

.dijitTooltipBelow {
    margin-top: 3px;
}

/*
 info, error, debug, warning, success
 */


/*

  OLD
  Анимация окошек
 */
/* .helper-notification-show {
  animation-name: helper-notification-show;
  -webkit-animation-name: helper-notification-show;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  position: absolute;
  visibility: visible !important;
  opacity: 1;
}

.helper-notification-hide {
  animation-name: helper-notification-hide;
  -webkit-animation-name: helper-notification-hide;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  position: absolute;
  visibility: visible !important;
  opacity: 0;
}

@keyframes helper-notification-show {
 0% {
   transform: translateY(-100%);
   opacity: 0;
 }
 100% {
   transform: translateY(0%);
   opacity: 1;
 }
}

@keyframes helper-notification-hide {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
 */
