.wgs-icon {
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;    
    background-size: 18px 18px;
    display: inline-block;
}

.wgs-icon-big {
    width: 24px;
    height: 24px;    
    background-size: 24px 24px;
    display: inline-block;
}

.action-select{
    background-image: url("/wgs4/icons/gis-0.1/mActionSelect.png");
}

.action-measure{
    background-image: url("/wgs4/icons/gis-0.1/mActionMeasure.png");
}

.action-pan{
    background-image: url("/wgs4/icons/gis-0.1/mActionPan.png");
}

.action-zoom-in{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomIn.png");
}

.action-zoom-out{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomOut.png");
}


.action-zoom-last{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomLast.png");
}

.action-zoom-full{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomFullExtent.png");
}

.action-select-polygon{
    background-image: url("/wgs4/icons/gis-0.1/mActionCapturePolygon.png");
}

.action-select-line{
    background-image: url("/wgs4/icons/gis-0.1/mActionCaptureLine.png");
}

.action-zoom-polygon{
    background-image: url("/wgs4/icons/gis-0.1/mActionZoomToSelected.png");
}

.action-card-open{
    background-image: url("/wgs4/icons/gis-0.1/mActionOpenTable.png");
}