/**
*   Map status bar
*/

.map__status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: #efefef;
    border-top: solid 1px #B5BCC7;
}


.map__status-bar__item {
    float: left;
    padding: 2px 10px;
    border-right: solid 1px #B5BCC7;
    text-align: left;
    height: 1.2rem;
}

.map__status-bar__item .inputEditableScale {
    /*padding: 0 5px;*/
    /*margin: 0;*/
}

.map__status-bar__item .spanViewSize, .map__status-bar__item .spanCursorPosition {
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map__status-bar__item .spanCursorPosition {
    width: 200px;
}

.map__status-bar__item .wgs-version,
.map__status-bar__item .spanViewSize,
.map__status-bar__item .spanCursorPosition,
.map__status-bar__item .spanSelectionInfo,
.map__status-bar__item .inputEditableScalePrefix,
.map__status-bar__item .inputEditableScale{
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.1rem 0;
    border: none;
    margin: 0;
}

.map__status-bar__item.wgs-version-container {
    float:right;
    font-size: 0.7rem;
    line-height: 1.2rem;
    padding-right: 5px;
}
.map__status-bar__item .inputEditableScale{
    padding: 0;
}

.map__status-bar__item .spanViewSize,
.map__status-bar__item .spanCursorPosition {
    /*padding-top: 2px;*/
}