/**
*   Map message box
*/
.map__message-container {
    position:absolute; 
    z-index:1000; 
    padding:10px; 
    border:solid 2px #ECECEC; 
    background:#FFFFBB; 
    vertical-align:middle;
}

.map__message-container table td{
    vertical-align: middle;
}

.map__message-container table td img{ 
    display: block;   
}