
.map__map-widget {
    position: absolute;
    top: 43px;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;
    bottom: 22px;
}

.map__map-widget.active {
    width: 100%;
    height: 100%;
}

.mode-bar {
    display:none;
}

.claro .dijitTabContainerTop-dijitContentPane.map__map-pane {
    padding: 0;
}


/**
*   MAP BUTTON STYLES
*/
.map__toolbar__button .dijitButtonNode *{
    vertical-align: middle;
}
.map__toolbar__button i.fa {
    font-size: 0.9em;
    vertical-align: baseline;
}

.map__zoom-toolbar {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 40px;
    transform: translateY(-50%);
}



@media (max-width: 1345px) {
    .map__toolbar__button__min-mode .dijitButtonText {
        display: none;
    }
}
