.theme-list-window_underlay, .theme-edit-window_underlay, .theme-setup-window_underlay, .theme-layer-edit-window_underlay {
  opacity: 0;
}

.theme-list-window, .theme-edit-window, .theme-setup-window, .theme-layer-edit-window {
  box-shadow: 3px 3px 5px 0 #999;
}

/* MAIN */
.theme-list-window {

}

.theme-setup-window {
  width: 700px;
}

.theme-layer-edit-window {
  width: 800px;
}

.theme-window-control-pane, .theme-layers-control-pane {
 /*  border-bottom: 1px dashed #444; */
  padding: 7px 0;
/*  margin-bottom: 10px; */
}
.theme-map-title {
  color: #007AC2;
  margin: 5px 0;
  font-weight: bold;
}
.theme-empty-message {
  color: #007AC2;
  margin: 5px 0;
  font-weight: bold;
}

.theme-list-control-item  {
  display: inline-block;
  margin-right: 15px;
}

.theme-list-record {
  padding: 8px 0;
  display: block;
  border-bottom: 1px dashed #999;
}

.theme-list-record:after, .theme-layer-wrapper:after {
  content: ' ';
  clear: both;
  display: block;
}

.theme-list-item {
  float: right;
  margin-left: 15px;

}

.theme-list-item i, .theme-list-control-item i {
  font-size: 24px;
  color: #007AC2;
}

.theme-list-item i:hover, .theme-list-control-item:hover i {
  color: #007A62;
  cursor: pointer;
}

.theme-list-control-item:hover {
  cursor: pointer;
}


.theme-layer-name {
  display: inline-block;
  max-width: 350px;
}


/*  THEME EDIT  */
.theme-edit-container {
  padding: 20px 0;
}

input#theme-name, input.theme-layer-label.tl-name {
    border-color: #999;
    border-style: solid;
    border-width: 0 0 1px;
    height: 20px;
    padding-left: 15px;
    width: 250px;
}

button#theme-edit-submit-button {

}

.theme_submit_panel {
  text-align: right;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #999;
}

.theme_submit_panel > span {
  margin: 0;
}



/*  THEME SETUP FORM   */

.theme-layer-wrapper {
  padding: 5px 0;
   border-bottom: 1px dashed #999;
}

.theme-layer-style-preview {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 2px solid black;
  border-radius: 2px;
/*   background-color: #0099cc; */
  margin-right: 10px;
  vertical-align: bottom;
}

.theme-layer-control {
 display: inline-block;
  float: right;
}

.theme-layer-info {
  float: left;
  position: relative;
}

.theme-layer-label-panel {
  /*
  border-bottom: 1px solid #999;
 height: 20px; */
}
.theme-layer-label {
 /*  position: absolute; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

}

.theme-layer-label.label, .theme-layer-condition {
  font-style: italic;
  font-weight: bold;
}

.theme-layer-value, .theme-layer-condition {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
 /*  position: absolute;
  */
}

.theme-layer-label.style {
/*   left: 0; */
  width: 65px;
}

.theme-layer-label.name, .theme-layer-value.name {
/*   left: 70px; */
  width: 145px;
}

.theme-layer-label.featurelayer, .theme-layer-value.featurelayer {
/*   left: 200px; */
  width: 225px;
}

.theme-layer-label.objecttype, .theme-layer-value.objecttype {

  width: 150px;
}

.theme-layer-label.theme-name {
  width: 450px;
}
.theme-layer-label.theme-control {
  width: 100px;
}

/*   THEME LAYER EDIT FORM */

.theme-layer-label.tl-name, input.theme-layer-label.tl-name {
  padding-left: 0;
  width: 150px;
}

.theme-layer-label.tl-featurelayer {
  width: 300px;
}

.theme-layer-label.tl-objecttype {
  width: 150px;
}

.theme-layer-label.tl-geometry {
  width: 150px;
}


.theme-layer-condition.property {
  width: 210px;
}

.theme-layer-condition.condition {
  width: 210px;
}

.theme-layer-condition.value {
  width: 210px;
}

div#style-preview {
  border: 2px solid #000;
  border-radius: 2px;
  display: inline-block;
  height: 28px;
  vertical-align: middle;
  width: 100px;
}

/*

 STYLING DIJIT ELEMENTS

 */

 .theme-list-window .dijitDialogTitleBar,
 .theme-edit-window .dijitDialogTitleBar,
 .theme-setup-window .dijitDialogTitleBar,
 .theme-layer-edit-window .dijitDialogTitleBar {
  background-color: #007ac2;
  color: white;
 }
