.map-widget__stats-panel {
	display: none;
	background: white none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
}

.map-widget__room-stats-panel {
	display: inline-block;
	background: white none repeat scroll 0 0;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
}

.student-list__item {
   padding-top: 5px;  
}

#stats-Map-tusur__container {
	display: none;
}