
.mobile .mobile-bar.jxBarContainer,
.mobile .mobile-bar .jxButton,
.mobile .mobile-bar .jxButtonContent {
    border: none;
    background: none;
}
 
.mobile .map-button-bar.mobile-bar {
    position: absolute;
    top: 5px;
    right: 3px;
    margin-left: 70px;
} 
.mobile .map-button-bar.mobile-bar > div {
    position: relative;
    float: right;
    margin: 2px;
    padding: 0;
    color: #666;
    border-radius: 3px;
}
.mobile .map-button-bar.mobile-bar .jxButtonContainer {
    padding: 0;
}
.mobile .map-button-bar.mobile-bar .jxButtonContainer .jxButton span {
    background-image: none;
}
.mobile .map-button-bar.mobile-bar > div.css3Button button {
    line-height: 13px;
    width: 48px; height: 44px;
}
.mobile .full
	.map-button-bar .jxButtonContainer .jxButton,
#OpenLayersEnabler button {
    width: 80px;
}
.mobile .full .mobile-bar.map-button-bar span.jxButtonContent span.jxButtonLabel {
    font-size: 13px;
    top: -10px;
    margin: -2px 0 0 -6px;
}
 
.mobile-bar .toolbar-button .jxButton,
.mobile-bar.toolbar-container .jxToolItem .jxButton,
.mobile .map-button-bar .jxButtonContainer .jxButton,
.css3Button button {
    font-family: Arial;
    font-weight: bold;
    font-style: normap-viewmal;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    color: #777;
    border: 2px solid #666;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #eee;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 1px 0 0 #fff;
            box-shadow: inset 0 1px 0 0 #fff;
    text-shadow: 1px 1px 0 #fff;
}
.jxDisabled {
    opacity: .55;
}
.mobile span.icon-title {
    font-size: 10px;
    line-height: 10px;
    display: block;
    width: 80px;
    white-space: normal;
    text-transform: none;
    color: black;
}
.tablet
	.css3Button button .icon-title,
.full .css3Button button .icon-title {
    width: 60px;
}
.mobile .small span.icon-title {
    display: none;
}
.phone.mobile .icon-title.icon-title-show-always,
.mobile .small span.icon-title.icon-title-show-always {
    display: inline;
}
 
#MoreToolsContainer {
    position: relative;
    z-index: 10;
}
#MoreToolsContainer button {
    color: #333;
    border: solid 2px #666;
    background: #79bbff;
    -webkit-box-shadow: inset 0 1px 0 0 #caefab;
       -moz-box-shadow: inset 0 1px 0 0 #caefab;
            box-shadow: inset 0 1px 0 0 #caefab;
}
.hidden #MoreToolsContainer button {
    color: #777;
    border: 2px solid #666;
    background: #eee;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 1px 0 0 #fff;
            box-shadow: inset 0 1px 0 0 #fff;
}
#Toolbar {
    position: absolute;
    top: 5px;
    left: 5px;
}
#Toolbar div {
    display: inline-block;
}
.mobile .mblTabBarButtonIconArea {
    width: 20px;
    margin-bottom: 4px;
}
.jxDiscloser span.jxButtonContent span {
    padding-right: 0;
}
.mblTabBarTabBar .mblTabBarButtonIconArea {
    padding-top: 7px;
}
 
.mblTabBarTabBar .mblTabBarButtonLabel {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
}
.phone .mblTabBarTabBar .mblTabBarButtonLabel {
    font-size: 13px;
}
.phone .mblListItem {
    font-size: 17px;
}
.tablet .mblListItem {
    font-size: 14px;
}
.mobile .mblSpriteIconParent,
.mobile .mblSpriteIcon,
.mobile .mblSpriteIconWrapper > img {
    width: 20px!important;
    height: 20px!important;
}
.mobile .full span.jxButtonContent span.mblSpriteIconWrapper,
.mobile .full span.jxButtonContent span.mblSpriteIconWrapper > img {
    line-height: 12px!important;
    width: 12px!important;
    height: 12px!important;
}
.mobile .small span.jxButtonContent span.mblSpriteIconWrapper > img {
    line-height: 16px;
    width: 16px;
    height: 16px;
}
#toolbar-parent .fa {
    color: #007aff;
}
#toolbar-parent .jxDisabled .fa {
    color: #666;
}
 
.opened .opener:before {
    content: '\f102';
}
.opener:before {
    content: '\f103';
}
.opener {
    float: right;
}
.mobile-bar.toolbar-container .jxToolItem:hover  .jxButton {
    background: #79bbff;
}
.mobile-bar.toolbar-container .jxToolItem:active  .jxButton {
    position: relative;
    top: 1px;
}
.mobile-bar span.jxButtonContent span.jxButtonLabel {
    font-size: 17px;
    color: #777;
}
.mobile-bar.toolbar-container .jxToolItem .jxButton.jxButtonActive span.jxButtonContent span.jxButtonLabel {
    color: #333;
}
.mobile-bar.toolbar-container .jxToolItem :hover .jxButton span.jxButtonContent span.jxButtonLabel {
    color: #444;
}
.mobile-bar .toolbar-button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background-color: #dfdfdf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}
.mobile-bar .toolbar-button:active {
    position: relative;
    top: 1px;
}
.mobile-bar.toolbar-container .jxToolItem .jxButton.jxButtonActive {
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #79bbff;
    -webkit-box-shadow: inset 0 1px 0 0 #bbdaf7;
       -moz-box-shadow: inset 0 1px 0 0 #bbdaf7;
            box-shadow: inset 0 1px 0 0 #bbdaf7;
    text-shadow: 1px 0 0 #528ecc;
}
 
.hidden > div {
    display: none;
}
.hidden > div#MoreToolsContainer {
    display: block;
}
#MoreToolsContainer i.fa:before {
    content: '';
}
.hidden > div#MoreToolsContainer i.fa:before {
    content: '';
}
#MoreTools {
    font-size: 20px;
}
.small #MoreToolsContainer button {
    display: block;
}
.full #MoreToolsContainer button {
    display: none;
}
.small .splitter {
    width: 10px;
}
.small .splitter {
    clear: right;
    width: 52px;
    margin: 0;
}
.full .splitter br {
    display: none;
}
.without-border {
	border: none;
}
.redline-button{
	height: 42px;
	border-color: #007AFF;
}
.mblTextBox{
	border-color: #ccc;
}
.mblTextBox:disabled{
	border-bottom-color: #ccc;
}
