 
.mobile li.jxTreeContainer.jxTreeBranch {
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50px);
	background-position: top left;
    font-size: 14px;
}
.mobile li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen {
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50px);
    background-position: top left;
}
.mobile li.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem.mblListItem {
    font-size: 14px;
    background: none;
}
.mobile.phone li.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem.mblListItem {
    font-size: 17px;
}
.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before,
.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before {
    margin-right: .5em;
    content: '';
}
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before {
    margin-right: .5em;
    content: '';
}
a.jxTreeItem {
    font-size: 14px;
}
.mobile .jxTree li.jxTreeContainer a.jxTreeItem,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen a.jxTreeItem,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen a.jxTreeItem {
    font-size: 12px;
}
.mobile.phone .jxTree li.jxTreeContainer a.jxTreeItem,
.mobile.phone .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen a.jxTreeItem,
.mobile.phone .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen a.jxTreeItem {
    font-size: 15px;
}
.mobile .jxTree li.jxTreeContainer,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen {
    margin-left: 0;
    padding-left: 20px;
    
    border-top: 1px dashed #c0c0c0;
    background: #fff;
}
.mobile .jxTree .jxTreeContainer.jxTreeLeaf {
    
}
.jxTreeItem > .jxTreeLabel {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jxTreeItem.fusionCheckboxItem.mblListItem,
.jxTreeItem.fusionCheckboxItem.mblListItem.jxSelected,
.jxTreeItem.fusionCheckboxItem.mblListItem.jxHover {
    font-weight: normal;
    line-height: 43px;
    position: relative;
    overflow: hidden;
    height: 43px;
    margin: 0;
    padding: 0 8px 0 16px;
    list-style-type: none;
    color: #000;
    border: none;
    background-color: #fff;
}
.jxTreeContainer.jxTreeBranch {
    border-top: 1px solid #c0c0c0;
}
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastClosed,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen {
    border-bottom: 1px solid #c0c0c0;
}
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen .jxTreeItem.fusionCheckboxItem.mblListItem,
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxSelected,
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxHover,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen .jxTreeItem.fusionCheckboxItem.mblListItem,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxSelected,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxHover {
    border: none;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf {
    clear: left;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf.jxUnselectable {
    line-height: 20px;height: 20px; border-top: 0;
    background: white;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf.jxUnselectable.jxTreeLeafLast {
    padding-bottom: 5px;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf.jxUnselectable a.jxTreeItem img.jxTreeIcon {
    margin-top: 2px;
}
.jxTreeItem.fusionCheckboxItem {
    
}
img.jxTreeImage,
img.jxTreeIcon {
    display: none;
}
.jxTreeItem.fusionCheckboxItem {
    line-height: 50px;
    height: 50px;
}
a.jxTreeItem {
    background: none;
}
