
.gm-style {
    opacity: .8;
}
.dijitAlignBottom {
    top: auto!important;
    bottom: 0;
}
.mblListItemRightText {
    margin-top: 2px;
}
.mblAccordion {
    border-width: 1px;
    border-style: outset;
    border-color: #9b9b9b;
}
#Redline {
    display: none;
} 
#legend {
    display: none;
}
.map-view {
    position: absolute;
    top: 43px; right: 0;bottom: 53px;left: 0 ;
}
.copyright {
	max-width: 50%;
}
