@import "/wgs4/js/dojox/layout/resources/FloatingPane.css";
@import "/wgs4/js/dojox/layout/resources/ResizeHandle.css";
 
body#body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: auto;
    height: auto;
}
.scrollable-pane-100-height {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0!important;
    left: 0;
    height: auto!important;
    overflow: auto;
}
.mobile.tablet .dijitAlignCenter.dijitLayoutContainer {
    right: 0!important;
    width: auto!important;
}
.mobile.tablet .dijitAlignLeft.dijitLayoutContainer {
    top: 43px!important;
    left: 0!important;
    width: 299px!important;
    border-right: solid 2px #c0c0c0;
}
.bottom-nav-bar.dijitAlignTop.dijitLayoutContainer {
    height: 48px;
    padding-bottom: 2px;
    border-bottom: dashed 1px #ccc;
}
sup {
    font-size: .75em;position: relative; top: -.25em;
    vertical-align: top;
}
 
.mobile.tablet.left-hidden .dijitAlignCenter.dijitLayoutContainer {
    left: 40px	!important;
}
.mobile.tablet.left-hidden .dijitAlignLeft.dijitLayoutContainer {
    width: 38px	!important;
}
.mobile.tablet.left-hidden .bottom-nav-bar {
    left: 40px !important;
}
.mobile.tablet .bottom-nav-bar .mblTabBarTabBar {
    background: white;
    
}
#Redline,
#legend,
#MapMenu {
    display: none;
}
 
#WgsProgressIndicator {
    position: absolute;
    top: auto;
    right: 52px;
    bottom: 1.5rem;
    left: auto;
}
.mblProgressIndicator {
    width: 32px	!important;
    height: 32px	!important;
    padding: 3px	!important;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: none repeat scroll 0 0 rgba(245, 245, 245, .85);
}
.fa.fa-075 {
    font-size: .75rem;
}
.fa.margined {
    display: inline-block;
    width: 1rem;
    margin-right: 5px;
}
.fa.margined.fa-icon-sup {
    font-size: .6rem;
    position: relative;
    top: -12px;
    left: -26px;
    width: 0;
    margin-right: 0;
    color: navy;
}
 
.right-bar {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -45px;
}
 
.mblListItemRightText {
    line-height: 48px;
    margin-top: 0;
    color: #333;
}
.mobile img.jxTreeIcon {
    
    
    position: static;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right: 5px;
}
.mobile .jxTreeBranch > a.jxTreeItem > img.jxTreeIcon {
    display: none;
}
table.no-padding-100 td {
    padding: 0;
}
table.no-padding-100 {
    width: 100%;
}
.mblPane{
	padding-left:17px;
}
.mobile.tablet .dijitAlignLeft .mblToolBarButtonLabel{
	font-size: 12px;	
}
.mobile.tablet .dijitAlignLeft .uniteTitleAndBack .mblToolBarButtonLabel{
	font-size: 13px;
	text-transform: uppercase;
}
.mobile.tablet .dijitAlignLeft .mblHeading .mblHeadingDivTitle{
	font-size: 16px;
}
.mobile.tablet .dijitAlignLeft .hasBack .mblHeading .mblHeadingSpanTitle
{
	font-size: 13px; position: relative; bottom: 1px; display:inline;
}
.mobile.tablet .dijitAlignLeft .hasBack .mblHeading .mblHeadingDivTitle,
.mobile.tablet .dijitAlignLeft .hasBack.uniteTitleAndBack .mblHeading .mblHeadingSpanTitle{
	display: none;
}
.phone .mblHeadingSpanTitle{
	display:block;
	
	overflow: hidden;
	text-overflow: ellipsis;
}
.phone .mblHeadingDivTitle{
	display:none;
}
.mblAccordionTitle {
    width: auto;
}
 
.mobile li.jxTreeContainer.jxTreeBranch {
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50px);
	background-position: top left;
    font-size: 14px;
}
.mobile li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen {
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50px);
    background-position: top left;
}
.mobile li.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem.mblListItem {
    font-size: 14px;
    background: none;
}
.mobile.phone li.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem.mblListItem {
    font-size: 17px;
}
.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before,
.jxTreeContainer.jxTreeBranch > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before {
    margin-right: .5em;
    content: '';
}
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen > .jxTreeItem.fusionCheckboxItem > span.jxTreeLabel > i.folder-icon:before {
    margin-right: .5em;
    content: '';
}
a.jxTreeItem {
    font-size: 14px;
}
.mobile .jxTree li.jxTreeContainer a.jxTreeItem,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen a.jxTreeItem,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen a.jxTreeItem {
    font-size: 12px;
}
.mobile.phone .jxTree li.jxTreeContainer a.jxTreeItem,
.mobile.phone .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen a.jxTreeItem,
.mobile.phone .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen a.jxTreeItem {
    font-size: 15px;
}
.mobile .jxTree li.jxTreeContainer,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen,
.mobile .jxTree li.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen {
    margin-left: 0;
    padding-left: 20px;
    
    border-top: 1px dashed #c0c0c0;
    background: #fff;
}
.mobile .jxTree .jxTreeContainer.jxTreeLeaf {
    
}
.jxTreeItem > .jxTreeLabel {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jxTreeItem.fusionCheckboxItem.mblListItem,
.jxTreeItem.fusionCheckboxItem.mblListItem.jxSelected,
.jxTreeItem.fusionCheckboxItem.mblListItem.jxHover {
    font-weight: normal;
    line-height: 43px;
    position: relative;
    overflow: hidden;
    height: 43px;
    margin: 0;
    padding: 0 8px 0 16px;
    list-style-type: none;
    color: #000;
    border: none;
    background-color: #fff;
}
.jxTreeContainer.jxTreeBranch {
    border-top: 1px solid #c0c0c0;
}
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastClosed,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen {
    border-bottom: 1px solid #c0c0c0;
}
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen .jxTreeItem.fusionCheckboxItem.mblListItem,
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxSelected,
.jxTreeContainer.jxTreeBranch.jxTreeBranchOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxHover,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen .jxTreeItem.fusionCheckboxItem.mblListItem,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxSelected,
.jxTreeContainer.jxTreeBranch.jxTreeBranchLastOpen .jxTreeItem.fusionCheckboxItem.mblListItem.jxHover {
    border: none;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf {
    clear: left;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf.jxUnselectable {
    line-height: 20px;height: 20px; border-top: 0;
    background: white;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf.jxUnselectable.jxTreeLeafLast {
    padding-bottom: 5px;
}
.mobile .jxTree li.jxTreeContainer.jxTreeLeaf.jxUnselectable a.jxTreeItem img.jxTreeIcon {
    margin-top: 2px;
}
.jxTreeItem.fusionCheckboxItem {
    
}
img.jxTreeImage,
img.jxTreeIcon {
    display: none;
}
.jxTreeItem.fusionCheckboxItem {
    line-height: 50px;
    height: 50px;
}
a.jxTreeItem {
    background: none;
}
.card-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 700px;
    height: 500px;
    
    
    
    
    
    
}

.gm-style {
    opacity: .8;
}
.dijitAlignBottom {
    top: auto!important;
    bottom: 0;
}
.mblListItemRightText {
    margin-top: 2px;
}
.mblAccordion {
    border-width: 1px;
    border-style: outset;
    border-color: #9b9b9b;
}
#Redline {
    display: none;
} 
#legend {
    display: none;
}
.map-view {
    position: absolute;
    top: 43px; right: 0;bottom: 53px;left: 0 ;
}
.copyright {
	max-width: 50%;
}

.mobile .mobile-bar.jxBarContainer,
.mobile .mobile-bar .jxButton,
.mobile .mobile-bar .jxButtonContent {
    border: none;
    background: none;
}
 
.mobile .map-button-bar.mobile-bar {
    position: absolute;
    top: 5px;
    right: 3px;
    margin-left: 70px;
} 
.mobile .map-button-bar.mobile-bar > div {
    position: relative;
    float: right;
    margin: 2px;
    padding: 0;
    color: #666;
    border-radius: 3px;
}
.mobile .map-button-bar.mobile-bar .jxButtonContainer {
    padding: 0;
}
.mobile .map-button-bar.mobile-bar .jxButtonContainer .jxButton span {
    background-image: none;
}
.mobile .map-button-bar.mobile-bar > div.css3Button button {
    line-height: 13px;
    width: 48px; height: 44px;
}
.mobile .full
	.map-button-bar .jxButtonContainer .jxButton,
#OpenLayersEnabler button {
    width: 80px;
}
.mobile .full .mobile-bar.map-button-bar span.jxButtonContent span.jxButtonLabel {
    font-size: 13px;
    top: -10px;
    margin: -2px 0 0 -6px;
}
 
.mobile-bar .toolbar-button .jxButton,
.mobile-bar.toolbar-container .jxToolItem .jxButton,
.mobile .map-button-bar .jxButtonContainer .jxButton,
.css3Button button {
    font-family: Arial;
    font-weight: bold;
    font-style: normap-viewmal;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    color: #777;
    border: 2px solid #666;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #eee;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 1px 0 0 #fff;
            box-shadow: inset 0 1px 0 0 #fff;
    text-shadow: 1px 1px 0 #fff;
}
.jxDisabled {
    opacity: .55;
}
.mobile span.icon-title {
    font-size: 10px;
    line-height: 10px;
    display: block;
    width: 80px;
    white-space: normal;
    text-transform: none;
    color: black;
}
.tablet
	.css3Button button .icon-title,
.full .css3Button button .icon-title {
    width: 60px;
}
.mobile .small span.icon-title {
    display: none;
}
.phone.mobile .icon-title.icon-title-show-always,
.mobile .small span.icon-title.icon-title-show-always {
    display: inline;
}
 
#MoreToolsContainer {
    position: relative;
    z-index: 10;
}
#MoreToolsContainer button {
    color: #333;
    border: solid 2px #666;
    background: #79bbff;
    -webkit-box-shadow: inset 0 1px 0 0 #caefab;
       -moz-box-shadow: inset 0 1px 0 0 #caefab;
            box-shadow: inset 0 1px 0 0 #caefab;
}
.hidden #MoreToolsContainer button {
    color: #777;
    border: 2px solid #666;
    background: #eee;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
       -moz-box-shadow: inset 0 1px 0 0 #fff;
            box-shadow: inset 0 1px 0 0 #fff;
}
#Toolbar {
    position: absolute;
    top: 5px;
    left: 5px;
}
#Toolbar div {
    display: inline-block;
}
.mobile .mblTabBarButtonIconArea {
    width: 20px;
    margin-bottom: 4px;
}
.jxDiscloser span.jxButtonContent span {
    padding-right: 0;
}
.mblTabBarTabBar .mblTabBarButtonIconArea {
    padding-top: 7px;
}
 
.mblTabBarTabBar .mblTabBarButtonLabel {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
}
.phone .mblTabBarTabBar .mblTabBarButtonLabel {
    font-size: 13px;
}
.phone .mblListItem {
    font-size: 17px;
}
.tablet .mblListItem {
    font-size: 14px;
}
.mobile .mblSpriteIconParent,
.mobile .mblSpriteIcon,
.mobile .mblSpriteIconWrapper > img {
    width: 20px!important;
    height: 20px!important;
}
.mobile .full span.jxButtonContent span.mblSpriteIconWrapper,
.mobile .full span.jxButtonContent span.mblSpriteIconWrapper > img {
    line-height: 12px!important;
    width: 12px!important;
    height: 12px!important;
}
.mobile .small span.jxButtonContent span.mblSpriteIconWrapper > img {
    line-height: 16px;
    width: 16px;
    height: 16px;
}
#toolbar-parent .fa {
    color: #007aff;
}
#toolbar-parent .jxDisabled .fa {
    color: #666;
}
 
.opened .opener:before {
    content: '\f102';
}
.opener:before {
    content: '\f103';
}
.opener {
    float: right;
}
.mobile-bar.toolbar-container .jxToolItem:hover  .jxButton {
    background: #79bbff;
}
.mobile-bar.toolbar-container .jxToolItem:active  .jxButton {
    position: relative;
    top: 1px;
}
.mobile-bar span.jxButtonContent span.jxButtonLabel {
    font-size: 17px;
    color: #777;
}
.mobile-bar.toolbar-container .jxToolItem .jxButton.jxButtonActive span.jxButtonContent span.jxButtonLabel {
    color: #333;
}
.mobile-bar.toolbar-container .jxToolItem :hover .jxButton span.jxButtonContent span.jxButtonLabel {
    color: #444;
}
.mobile-bar .toolbar-button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background-color: #dfdfdf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
}
.mobile-bar .toolbar-button:active {
    position: relative;
    top: 1px;
}
.mobile-bar.toolbar-container .jxToolItem .jxButton.jxButtonActive {
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #79bbff;
    -webkit-box-shadow: inset 0 1px 0 0 #bbdaf7;
       -moz-box-shadow: inset 0 1px 0 0 #bbdaf7;
            box-shadow: inset 0 1px 0 0 #bbdaf7;
    text-shadow: 1px 0 0 #528ecc;
}
 
.hidden > div {
    display: none;
}
.hidden > div#MoreToolsContainer {
    display: block;
}
#MoreToolsContainer i.fa:before {
    content: '';
}
.hidden > div#MoreToolsContainer i.fa:before {
    content: '';
}
#MoreTools {
    font-size: 20px;
}
.small #MoreToolsContainer button {
    display: block;
}
.full #MoreToolsContainer button {
    display: none;
}
.small .splitter {
    width: 10px;
}
.small .splitter {
    clear: right;
    width: 52px;
    margin: 0;
}
.full .splitter br {
    display: none;
}
.without-border {
	border: none;
}
.redline-button{
	height: 42px;
	border-color: #007AFF;
}
.mblTextBox{
	border-color: #ccc;
}
.mblTextBox:disabled{
	border-bottom-color: #ccc;
}
.left-padding-icon {
	padding-left: 20px;
}
.double-em-icon {
	font-size: 2em;
}
.list-item-centered-icon {
	position: relative;
	top: 5px;
}

.bottom-panel {
	position: absolute;
    bottom: 0;
    left: 0;
}
.statusbar {
   
    padding: 0 5px 2px 5px;
    border: none;
    border-top: solid 1px #666;
    border-right: solid 1px #666;
    border-radius: 0;
    background: #eee;
}
.statusbar > div .spanCursorPosition,
.statusbar > div .spanSelectionInfo,
.statusbar > div .spanViewSize {
    display: inline-block;
    width: 100%;	height: auto; padding: 0; border-bottom: dashed 1px #ccc;
}
.statusbar > div .spanCursorPosition:empty,
.statusbar > div .spanSelectionInfo:empty {
    display: none;
}
.statusbar .inputEditableScalePrefix {
    font-weight: bold;
    padding: 0;
}
.statusbar .inputEditableScale {
    font-size: 12px;
    line-height: 12px;
    width: 115px!important;
    padding: 2px;
    border: 0;
}
.copyright {
    font-size: .7rem;
    position: absolute;     right: 0;
    bottom: 0;
    padding: 0 5px 2px 5px;
    padding-left: 5px;
    border: none;
    border-top: solid 1px #666;
    border-left: solid 1px #666;
    border-radius: 0;
    background: #eee;
}
.copyright .name {
    font-weight: bold;
    text-transform: uppercase;
}
.with-margin-top {
    margin-top: 0;
}
.finfo-layer-summary {
    margin-bottom: 5px;
    padding: 10px 0;
    border-bottom: solid 1px black;
}
.finfo-layer-summary .number {
    font-weight: bold;
}
#TaskPane .jxPanel,
#TaskPane .jxPanel .jxPanelContentContainer,
#TaskPane .jxPanel .jxPanelContentContainer iframe {
    position: absolute!important;
    display: block!important;
    width: 100%!important;
    height: 100%!important;
}
#TaskPane .jxPanel .jxPanelContentContainer .jxPanelContent {
    position: absolute!important;
    top: 0!important;
    bottom: 0;
    display: block!important;
    width: 100%;
}
#TaskPane .jxPanel .jxPanelContentContainer .jxBarScroller {
    width: 100%!important;
}
.jxBarContainer.jxToolbarAlignLeft.jxBarTop {
    display: none;
}
img.mblImageIcon.mblListItemIcon,
.mblListItemRightIcon {
    
}
.listItemContent {
    font-size: .8rem;
    font-weight: normal;
    display: none;
    margin-top: 4px;
}
.listItemContent .number {
    font-style: normal;
}
.opened .listItemContent {
    display: block;
    padding: 5px 0;
}
.mblScrollablePane.left {
    height: auto!important;
}
.heightAuto {
    height: auto!important;
}
.mblListItemSelected {
    color: black; background: white;
}
.coordsTable th {
    font-weight: bold;
    padding: 4px 5px ;
    text-align: center;
}
.coordsTable td,
.resultTable td {
    padding: 2px 5px ;
}
.big-data .mblListItemLabel {
    overflow: visible;
}
.badge-container {
    font-size: .9rem;
    float: right;
    margin-right: 5px;
}
.variable-height {
    height: auto!important;
}
.expander {
    font-weight: normal;
    padding: 5px 0;
    border-bottom: dashed 1px #666;
}
.opened .expander.last-child{
	border-bottom: dashed 1px #666;
}
.expander.last-child{
	border-bottom: 0;
}
.listItemContent {
    padding-bottom: 5px;
    border-bottom: solid 1px #222;
}
.mblAccordion .mblEdgeToEdgeCategory {
    font-weight: normal;
    text-align: left;
    background: #eee;
}
.check-status {
    float: right;
}
 
input[type=checkbox] {
    visibility: hidden;
   
   position: absolute;
}
.mobile .squaredFour.legend-checkbox {
    float:left;
    position: static;
    left: auto;
    top:auto;
    width: 34px;
    height: 34px;
    font-size: inherit;
    text-align: left;
}
.squaredFour {
    position: relative;
    width: 30px;
    margin: 5px auto;
}
.squaredFour label {
    position: absolute;
    
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    
    border: solid 2px rgba(0, 0, 0, .3);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    
}
.squaredFour label:after {
    position: absolute;
    top: 8px;
    left: 7px;
    font-size: 25px;
    width: 14px;
    height: 6px;
    content: '';
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}
.squaredFour input[type=checkbox]:checked + label:after {
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}
.mobile .slideThree.legend-checkbox {
    left: 100%;
    margin: 8px 0 0 -95px;
}
.mobile .slideThree {
    width: 84px;
    height: 26px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
}
.slideThree:after {
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 0;
    right: 10px;
    content: 'OFF';
    color: #888;
    text-shadow: 1px 1px 0 rgba(255,255,255,.15);
}
.slideThree:before {
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 0;
    left: 10px;
    content: 'ON';
    color: #000;
}
.slideThree.ru:before {
    content: 'Вкл';
}
.slideThree.ru:after {
    content: 'Откл';
}
.slideThree label,
.slideThree span {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    display: block;
    width: 38px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:    -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:      -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:     -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:         linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border: solid 1px #666;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}
