
.redline-actions td.first-td {
    padding: 5px 3px 5px 0;
}
.redline-actions th {
	text-align: center
}
.redline-actions td.last-td {
    padding: 5px 0 5px 2px;
}
 
.wgs4_card .mblAccordionTitle.unselectable {
    margin-left: 0;
}
#cardPageInd {
    height: 12px;
}
.wgs4_card .dijitSelect,
.wgs4_card .dijitSelect tbody,
.wgs4_card .dijitSelect td,
.wgs4_card .dijitSelect tr {
    display: block;
    width: 100%;
}
.wgs4_card .dijitSelect {
    line-height: 40px;
    position: relative;
    height: 40px;
}
.wgs4_card .dijitSelect .dijitReset.dijitInputField.dijitButtonText .dijitSelectLabel.dijitValidationTextBoxLabel {
    line-height: 36px;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
}
.wgs4_card .dijitSelect .dijitReset.dijitInputField.dijitButtonText {
    font-weight: bold;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    width: 100%;
    height: 40px;
    padding-right: 36px;
    padding-left: 10px;
}
.wgs4_card .dijitSelect .dijitButtonNode.dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer .dijitReset.dijitInputField.dijitArrowButtonInner {
    margin: 8px 0 0 9px;
}
.wgs4_card .dijitSelect .dijitButtonNode.dijitArrowButton.dijitDownArrowButton.dijitArrowButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 38px;
}
.relation-card {
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.mblTextBox,
.textbox.mblTextBox,
.textbox {
    font-size: 1rem;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
}
.wgs4_card .mblAccordion, #finfo-accordion  {
    border: 0 solid #c8c7cc;
    background: white;
}
.wgs4_card .mblAccordionTitle, #finfo-accordion .mblAccordionTitle {
    
    font-weight: normal;
    line-height: 50px;
    height: 50px;
    background: #f9f9f9;
}
.tablet .mblListItem {
    font-size: 16px;
}
.redline-input-wrapper,
.redline-actions {
    padding: 7px 10px 10px 10px;
    border-bottom: solid 1px #ccc;
}
.redline-input .mblTextBox {
    font-size: 1rem;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 6px;
}
.redline-button {
    width: 100%;
}
.redline-label.mblRoundRectCategory {
    margin-top: 10px;
}
.redline .mblAccordionTitle, 
#finfo-accordion .mblAccordionTitle {
	border-bottom: 1px solid #007aff;
	line-height: 50px;
    height: 50px;
    background: white;
}
#finfo-accordion .mblAccordionTitle.mblAccordionTitleSelected {
    border-bottom: dashed 1px #ccc;
}
#finfo-accordion .mblAccordionPane .mblContentPane{
	padding: 0 15px;
}
#finfo-accordion .mblAccordionPane{
	border-bottom: 1px solid #007aff;
}
.redline .mblAccordionTitle:first-child,
#finfo-accordion .mblAccordionTitle:first-child {
    border-top: solid 1px #007aff;
}
.redline  .mblAccordion,
.accordion.mblAccordion, #finfo-accordion {
    border: none;
}
.mblAccordionTitleSelected.mblAccordionTitle .redline-opener:before {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -.5rem 15px 0 0;
    content: '\f102';
}
.mblAccordionTitle .redline-opener:before {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -.5rem 15px 0 0;
    content: '\f103';
}
.redline-title {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}
.redline-subtitle {
    font-size: .7rem;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    background-color: #ddd;
}
.redline-ckeckbox {
    position: relative;
    margin: 0 0 10px 3px;
}
.redline-ckeckbox label {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:    -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:      -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:     -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background:         linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
       -moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
            box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0,0,0,.5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.redline-ckeckbox label:after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 5px;
    content: '';
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}
.redline-ckeckbox label:hover::after {
    opacity: .5;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
        filter: alpha(opacity=30);
}
.redline-ckeckbox input[type=checkbox]:checked + label:after {
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}
.redline-ckeckbox input {
    display: none;
}
.redline-ckeckbox span {
    margin-left: 24px;
}
.redline-container {
    padding: 10px;
}
.redline-actions .second-line td{
	padding-top: 0;
}
