
.bottom-panel {
	position: absolute;
    bottom: 0;
    left: 0;
}
.statusbar {
   
    padding: 0 5px 2px 5px;
    border: none;
    border-top: solid 1px #666;
    border-right: solid 1px #666;
    border-radius: 0;
    background: #eee;
}
.statusbar > div .spanCursorPosition,
.statusbar > div .spanSelectionInfo,
.statusbar > div .spanViewSize {
    display: inline-block;
    width: 100%;	height: auto; padding: 0; border-bottom: dashed 1px #ccc;
}
.statusbar > div .spanCursorPosition:empty,
.statusbar > div .spanSelectionInfo:empty {
    display: none;
}
.statusbar .inputEditableScalePrefix {
    font-weight: bold;
    padding: 0;
}
.statusbar .inputEditableScale {
    font-size: 12px;
    line-height: 12px;
    width: 115px!important;
    padding: 2px;
    border: 0;
}
.copyright {
    font-size: .7rem;
    position: absolute;     right: 0;
    bottom: 0;
    padding: 0 5px 2px 5px;
    padding-left: 5px;
    border: none;
    border-top: solid 1px #666;
    border-left: solid 1px #666;
    border-radius: 0;
    background: #eee;
}
.copyright .name {
    font-weight: bold;
    text-transform: uppercase;
}
