.dgrid-header .dgrid-cell {
  display: table-cell;
}
.dgrid-header .dojoDndItemBefore {
  border-left: 1px dotted #007ac2 !important;
}
.dgrid-header .dojoDndItemAfter {
  border-right: 1px dotted #007ac2 !important;
}
#dgrid-css-extensions-ColumnReorder-loaded {
  display: none;
}
