.dgrid-column-resizer {
  position: absolute;
  width: 2px;
  background-color: #d0d0d0;
  z-index: 1000;
}
.dgrid-resize-handle {
  height: 100px;
  width: 0;
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: col-resize;
  z-index: 999;
  border-left: 5px solid transparent;
  outline: none;
}
.dgrid-resize-header-container {
  height: 100%;
}
html.has-touch .dgrid-resize-handle {
  border-left: 20px solid transparent;
}
html.has-touch .dgrid-column-resizer {
  width: 2px;
}
html.has-no-quirks .dgrid-resize-header-container {
  position: relative;
}
html.has-ie-6 .dgrid-resize-header-container {
  position: static;
}
.dgrid-header .dgrid-cell-padding {
  overflow: hidden;
}
html.has-ie-6 .dgrid-header .dgrid-cell-padding {
  margin-right: 4px;
}
html.has-ie-6 .dgrid-header .dgrid-sort-arrow {
  margin-right: 0;
}
html.has-quirks .dgrid-header .dgrid-cell-padding,
html.has-ie-6 .dgrid-header .dgrid-cell {
  position: relative;
}
#dgrid-css-extensions-ColumnResizer-loaded {
  display: none;
}
