.dgrid-status {
  margin: 8px;
  padding: 0;
}
.dgrid-pagination .dgrid-status {
  float: left;
  line-height: 20px;
}
.dgrid-pagination .dgrid-navigation,
.dgrid-pagination .dgrid-page-size {
  float: right;
  margin: 8px;
  line-height: 20px;
}
.dgrid-pagination .dgrid-page-size {
  margin: 8px;
  padding: 1px;
}
.dgrid-pagination .dgrid-page-link {
  font-weight: bold;
  text-decoration: none;
  color: #007ac2;
  padding: 0 4px;
}
.dgrid-pagination .dgrid-pagination-links .dgrid-page-disabled {
  color: #fff;
  background: #007ac2;
  border-radius: 2px;
  margin: 0 4px;
}
.dgrid-first,
.dgrid-last,
.dgrid-next,
.dgrid-previous {
  font-size: 130%;
}
.dgrid-pagination .dgrid-page-disabled,
.has-ie-6-7 .dgrid-navigation .dgrid-page-disabled,
.has-ie.has-quirks .dgrid-navigation .dgrid-page-disabled {
  color: #9a9b9f;
  cursor: default;
}
.dgrid-page-input {
  width: 2em;
  text-align: center;
  margin: 0 8px;
}
#dgrid-css-extensions-Pagination-loaded {
  display: none;
}
