<%
var PROPERTY_TYPE_STRING = 1;
var PROPERTY_TYPE_DATE = 2;
var PROPERTY_TYPE_INTEGER = 3;
var PROPERTY_TYPE_REAL = 4; //TODO: check
var PROPERTY_TYPE_DOMAIN = 5;
var PROPERTY_TYPE_SOAP = 8;
var PROPERTY_TYPE_COUNTABLE = 9;

 function renderProperty (props){
    var propertyName = props.name;
    var propertyValue = props.value;
    var propertyId = props.id;
    var readOnly = props.readOnly;
    var placeHolder = props.placeHolder;
    var propertyTypeId = props.type;
%>

<li class="clearfix">
    <label class="card__property-label">
        <span style="float: left; width: 100%;">
            <span class="card__property-label__input-wrapper">
                <input
                    name="property-<%= propertyId %>"
                    placeholder="<%= placeHolder %>"
                    <%= readOnly ? "readonly" : "" %>

                    <% if(propertyTypeId != PROPERTY_TYPE_DATE) { %>
                        data-dojo-type="dijit/form/ValidationTextBox"
                    <% } else { %>
                        data-dojo-type="dijit/form/DateTextBox"
                    <% } %>

                    <%  var dataPropsString = "required: false, value: \"" + propertyValue + "\", tooltipPosition: ['below', 'above', 'before', 'after']";

                        switch (+propertyTypeId) {
                            case PROPERTY_TYPE_INTEGER:
                                {
                                   dataPropsString += ", invalidMessage: 'Введите целое число, пожалуйста', validator: function(value) { return parseInt(value).toString() === value }";
                                   break;
                                }
                            case PROPERTY_TYPE_REAL:
                                {
                                   dataPropsString += ", invalidMessage: 'Введите число, пожалуйста', validator: function(value) { return parseFloat(value).toString() === value }";
                                   break;
                                }
                            case PROPERTY_TYPE_SOAP:
                                {
                                    dataPropsString += ", readOnly: true";
                                    break;
                                }
                            case PROPERTY_TYPE_COUNTABLE:
                                {
                                    dataPropsString += ", readOnly: true";
                                    break;
                                }
                            default :
                                {

                                }
                        }
                    %>

                    data-dojo-props="<%= dataPropsString %>";
                    />
            </span>
        </span>
        <span class="card__property-label__title">
            <%= propertyName %>:
        </span>
    </label>
</li>

<% } %>

<% function renderDomainProperty (propertyName, propertyValue, propertyValues, propertyId){ %>
<li>
    <label data-property-id="<%= propertyId %>">
        <span style="float: left; width: 100%;">
            <span class="card__property-label__input-wrapper">
                <select name="<%=propertyId%>" data-dojo-type="dijit/form/Select">
                    <% if (!propertyValue || propertyValue == "") {%>
                        <option value="" selected="selected" disabled="disabled">Выберите значение...</option>
                        <% } %>
                    <% if (propertyValue == "<...>") {%>
                        <option value="<...>" selected="selected">&lt;...&gt;</option>
                        <% } %>
                    <% if(propertyValues){
                        propertyValues.forEach (function(domain, domainId) { %>
                        <option value="<%= domainId %>"
                            <% if (domainId == propertyValue){ %> selected="selected" <% } %>>
                            <%= domain.value %>
                        </option>
                    <% });
                    } %>
                </select>
            </span>
        </span>
        <span class="card__property-label__title">
            <%= propertyName %>:
        </span>
    </label>
</li>

<% } %>

<div data-dojo-type="dijit/layout/BorderContainer">

    <div
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'center'">
        <div data-dojo-type="dijit/layout/TabContainer"
            style="width: 300px; height: 300px;"
            data-dojo-props="region: 'center', tabPosition: 'top'">
            <% for (var i=0; i < cards.length; i++) { %>
            <div
                data-dojo-type="dijit/layout/ContentPane"
                title="<%=cards[i].typeName%>"
                data-dojo-props="">
                <form data-card-id="<%= cards[i].id||cards[i].objectTypeId %>" name="<%= cards[i].id||cards[i].objectTypeId %>" >


                    <!-- Основные описания -->
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Основные характеристики', open: true">

                    <% if(!isEmpty) { %>

                        <ul class="clearfix">
                            <% if(cards[i].name != undefined) {
                                renderProperty({
                                    name: "Наименование",
                                    value: cards[i].name,
                                    id: 'name',
                                    readOnly: false,
                                    placeHolder: 'Без наименования'
                                });
                            } %>

                            <% if(cards[i].shortName != undefined) {
                                renderProperty({
                                    name: "Краткое наименование",
                                    value: cards[i].shortName,
                                    id: 'shortName',
                                    readOnly: false,
                                    placeHolder: cards[i].name || 'Без наименования'
                                });
                            } %>

                            <% if(cards[i].createDate != undefined) {
                                renderProperty({
                                    name: "Дата изменения",
                                    value: cards[i].createDate,
                                    id: 'date',
                                    readOnly: true,
                                    placeHolder: 'Новая карточка'
                                });
                            } %>

                            <% if(cards[i].edit_user != undefined) {
                                renderProperty({
                                    name: "Отредактировано",
                                    value: cards[i].edit_user,
                                    id: 'user',
                                    readOnly: true,
                                    placeHolder: 'Новая карточка'
                               });
                            } %>

                            <% if(cards[i].note != undefined) {
                                renderProperty({
                                    name: "Примечание",
                                    value: cards[i].note,
                                    id: 'note',
                                    readOnly: false,
                                    placeHolder: 'Примечания и комментарии к объекту...'
                               });
                            } %>

                        </ul>

                    <% } else { %>

                                <div>
                                    Этот объект не имеет атрибутивных описаний
                                </div>
                                <button
                                    data-dojo-type="dijit/form/Button"
                                    type="button"
                                    class="card-action">
                                        <span
                                            class="card-action__data-elem"
                                            data-action="card-create-new">
                                                Добавить
                                        </span>
                                </button>

                            <% } %>

                    </div>

                    <!-- конец основных описаний -->


                    <!-- Группы характеристик -->
                    <% cards[i].propertyGroups.forEach (function(group, groupId ) { %>
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: '<%= group.name %>', open: false">
                            <ul class="clearfix">
                                <% group.properties.forEach(function (property, id ) {
                                    if(property.valueTypeId == PROPERTY_TYPE_DOMAIN) {
                                        renderDomainProperty(property.name, property.value, property.domains, id);
                                    } else renderProperty({
                                        name: property.name,
                                        value: property.value,
                                        readOnly: property.readOnly || false,
                                        id: id,
                                        type: property.valueTypeId
                                    });
                                }) %>
                            </ul>
                        </div>
                    <% }) %>

                    <!-- Связи -->

                    <% if(cards[i].relations) for(var relationId in cards[i].relations) {
                        if(!cards[i].relations.hasOwnProperty(relationId))
                            continue;
                        var relation = cards[i].relations[relationId];
                        var relCount = relation.linkedCards ? relation.linkedCards.length : 0;
                        %>
                        <div
                            data-dojo-type="dijit/TitlePane"
                            data-dojo-props="title: '<%=relation.name %>: <%= relCount %>', open:  false, 'class' : 'card__relation'">
                            <div class="card__relation__wrapper">
                                <table class="card__relation__list" data-relation-type-id="<%= relationId %>">
                                    <tr>
                                        <th class="column-0">
                                            Атрибутивное описание
                                        </th>
                                        <th class="column-1">
                                            Действия
                                        </th>
                                    </tr>
                                <% var isFirst = true;
                                   if(relation.linkedCards)
                                    relation.linkedCards.forEach (function(childCard) { %>
                                        <tr class="card__relation__nested-record">
                                            <td class="column-0 <%= isFirst ? "card__nested-card-first" : "" %>">
                                                <a href="#" data-card-id="<%=childCard.id%>" class="card__nested-card">
                                                    <%= (childCard.name || 'Без наименования') + " : " + childCard.typeName %>
                                                </a>
                                            </td>
                                            <td class="column-1 <%= isFirst ? "card__nested-card-first" : "" %>">
                                                <button
                                                    data-dojo-type="dijit/form/Button"
                                                    type="button"
                                                    class="card-action">
                                                    <span
                                                        class="card-action__data-elem"
                                                        data-action="card-unbind"
                                                        data-obj-relation-id="<%= childCard.objRelationId %>"
                                                        data-relation-id="<%= relationId %>">
                                                        Отвязать
                                                    </span>
                                                </button>
                                            </td>
                                        </tr>
                                        <% isFirst = false;
                                    }); %>
                                </table>
                            </div>

                            <table class="card__relation__actions">
                                <tr>
                                    <th class="column-0">
                                        Добавить вложенное описание
                                    </th>
                                    <th class="column-1" >

                                    </th>
                                </tr>
                                <tr>
                                    <td class="column-0 card__relation__actions__first">
                                        <select class="card__relation__actions__bind-select"></select>
                                    </td>
                                    <td class="column-1 card__relation__actions__first">
                                        <button
                                            data-dojo-type="dijit/form/Button"
                                            type="button"
                                            class="card-action">
                                            <span
                                                class="card-action__data-elem"
                                                data-action="card-bind"
                                                data-relation-id="<%= relationId %>"
                                                data-card-id="<%= cards[i].id %>">
                                                Добавить
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                            <table class="card__relation__actions">
                                <tr>
                                    <th class="column-0">
                                        Создать новое вложенное описание
                                    </th>
                                    <th class="column-1" >

                                    </th>
                                </tr>
                                <tr>
                                    <td class="column-0 card__relation__actions__first">
                                        <select data-dojo-type="dijit/form/Select" class="card__relation__actions__create-select">
                                            <% relation.objTypes.forEach(function(type) { %>
                                                <option value="<%=type.objTypeRelationId%>"><%=type.name%></option>
                                            <% }); %>
                                        </select>
                                    </td>
                                    <td class="column-1 card__relation__actions__first">
                                        <button
                                            data-dojo-type="dijit/form/Button"
                                            type="button"
                                            class="card-action">
                                            <span
                                                class="card-action__data-elem"
                                                data-action="card-create-child"
                                                data-relation-id="<%= relationId %>"
                                                data-card-id="<%= cards[i].id %>">
                                                Создать
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    <% } %>


                </form>
            </div>

            <% } %>

        </div>
    </div>
    <div
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'bottom'">

        <!-- Form buttons -->
        <% if(!isEmpty) { %>
            <!-- <button data-dojo-type="dijit/form/Button" class="card__buttons__reset" type="reset"><i class="fa fa-undo"></i> Сбросить изменения</button> -->
            <% if(window.WGS.PRIVILEGE.CARD_EDIT) { %>
              <button data-dojo-type="dijit/form/Button" class="card__buttons__ok" type="button"><i class="fa fa-check"></i> Ок</button>
              <button data-dojo-type="dijit/form/Button" class="card__buttons__save" type="submit"><i class="fa fa-save"></i> Сохранить</button>
            <% } else { %>
              <button data-dojo-type="dijit/form/Button" class="card__buttons__ok" type="button"><i class="fa fa-check"></i> Закрыть</button>
            <% } %>
            <% if(!isMultiple) { %>
                <button data-dojo-type="dijit/form/Button" class="card__buttons__print" type="submit"><i class="fa fa-print"></i> Печать</button>
                <% if(window.WGS.PRIVILEGE.CARD_EDIT) { %>
                  <button data-dojo-type="dijit/form/Button" class="card__buttons__remove" type="submit"><i class="fa fa-remove"></i> Удалить</button>
                <% } %>
            <% } %>

        <% } else { %>
                    <button data-dojo-type="dijit/form/Button" class="card__buttons__ok" type="submit"><i class="fa fa-check"></i> Закрыть</button>
                <% } %>
    </div>

</div>
