<div data-dojo-type="dijit/layout/BorderContainer">
    
    <div 
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'center'">
        <div data-dojo-type="dijit/layout/TabContainer" 
            style="width: 300px; height: 300px;" 
            data-dojo-props="region: 'center', tabPosition: 'top'">
            <% tabs.forEach(function(tab) { %>
            <div 
                data-dojo-type="dijit/layout/ContentPane" 
                title="<%=tab.name %>">
                <form>
                	<ul>
                		<% tab.params.forEach(function(param) { %>
                			<li>
                				<div><%=param %></div>
                			</li>
                		<% }); %>
                	</ul>
                </form>
            </div>
            <% }); %>
        </div>
    </div>
</div>
            