/* www.spikesource.com style */

/* colors */

.logoBlue{
  background-color:#0066cc
}
.darkBlue{	
  background-color:#003399
}

.lightBlue {

  background-color:#D2E7FC;
}
.faintBlue{
  background-color:#efefef;
}
/* Overload html tags */
body{
  background-color:#ffffff;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  margin:0px;
  color:#222222;
}


/* major page sections; containers are have "Box" suffix */

#pageBox{
  width:800px;
  margin-left:20px;
}
#navBox{
  width:800px
}
#contentBox{
  width:800px;
  margin-top:10px;
}

/* spikesource.com elements */

#leftBox{
  width:600px;
  padding-left:2px;
  font-size:11px;
  color:#222222;
  line-height:14px
}
#rightBox{
  width:190px;
  margin-bottom:5px;
  margin-left:15px
}
#footerBox{
  border-top:2px solid #0066cc;
  margin-top:15px;
  width:800px;
  height:22px;
}

#leftNav {
  width:165px;
  margin-right:10px;
}
#leftRule {
  width:175px;
  border-right:1px solid #000000;
}

#rightContent {
  margin-left:15px;
  width:600px;
}
#userInfo {
  height:20px;
  width:800px;
}


.navCell{
  height:31px;
  border-left:1px solid #000000
}

.copyright{
  font-family:arial,sans-serif;
  color:#666666;
  font-size:10px;
  font-weight:bold
}

/* Convention:Do not overload html default styles - use spike[sometag] */
h1,.spikeh1{
  font-size:17px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  color:#000000;
  margin-bottom:4px;
  margin-top:0px;
}
h2,.spikeh2{
  font-size:14px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  color:#003399;
  margin-bottom:8px
}
h3,.spikeh3{
  font-size:12px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  color:#444444;
  margin-bottom:0px
}
.spikep{
  margin-bottom:10px;
  margin-top:5px;
  padding-left:2px;
  font-size:11px;
  line-height:15px;
  width:90%;
}
p{
  margin-bottom:10px;
  margin-top:5px;
  padding-left:2px;
  font-size:11px;
  line-height:15px;
}
.emph{
  font-style:oblique
}
ul,.spikeul{
  margin-left:22px;
  padding:0px;
  margin-top:5px;
}
li,.spikeli{
  list-style-position:outside;
  line-height:14px;
  font-size:11px;
  margin-top:4px;
  margin-left:2px;
}


.emphasis{
  font-size:13px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  color:#666666
}


.rightHeader{
  font-size:14px;
  font-family:Arial,Helvetica,sans-serif;
  color:#222222;
  font-weight:bold;
  padding-bottom:2px;
}

.blueRuleBox{
  width:175px;
  border-bottom:2px solid #0066cc;
  margin-left:15px;
}

.rightRule{
  border-left:1px solid #000000;
}
.rightIndent{
  width:178px;
  margin-left:15px;
  font-size:11px;
  color:#222222;
  line-height:1.3em;
  margin-top:7px;
  text-align:left;
  margin-bottom:5px
}

.newsHeader{
  width:178px;
  margin-left:15px;
  font-size:12px;
  color:#222222;
  margin-bottom:2px;
  margin-top:6px;

}
ul.newsBox{
  margin-left:30px;
  padding-bottom:5px
}


.content_small{
  font-family:Arial,Helvetica,sans-serif;
  font-size:10px;
  color:#444444
}
.content{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:#444444
}
.content_gray{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:#000000;
  background-color:#e9e9e9
}
.content_error{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:#0066cc;
  font-weight:bold
}
.contentError{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:#990000;
  font-weight:bold;
}
.content_required{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:#0066cc
}
.content_bold {
  font-size:11px;
  font-weight:bold;
}
/* Tables */
.spikeDataTable {
  border-top:1px solid #5d6c7b;
  border-right:1px solid #5d6c7b;
  border-left:1px solid #5d6c7b;
}

/* DataTable headings and cell styles */
.spikeDataTableHeadRight {
  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-right:2px solid #ffffff;
  text-align:right;
  padding-right:5px;
}
.spikeDataTableHeadLeft {
  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-right:2px solid #ffffff;
  text-align:left;
  padding-left:5px;
}
.spikeDataTableHeadCenter {
  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-right:2px solid #ffffff;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.spikeDataTableSubHeadRight {
  font-size:11px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-right:2px solid #ffffff;
  border-top:2px solid #ffffff;
  text-align:right;
  padding-right:5px;
}
.spikeDataTableSubHeadLeft {
  font-size:11px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-right:2px solid #ffffff;
  border-top:2px solid #ffffff;
  text-align:left;
  padding-left:5px;
}

.spikeDataTableSubHeadCenter {
  font-size:11px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-right:2px solid #ffffff;
  border-top:2px solid #ffffff;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.spikeDataTableSubHeadLeftLast{
  font-size:11px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-top:2px solid #ffffff;
  text-align:left;
  padding-left:5px;
}
.spikeDataTableSubHeadCenterLast {
  font-size:11px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-top:2px solid #ffffff;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.spikeDataTableHeadRightLast {
  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  text-align:right;
  padding-right:5px;
}

.spikeDataTableHeadLeftLast {
  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  text-align:left;
  padding-left:5px;
}
.spikeDataTableHeadCenterLast {
  background-color:#d2e7fc;
  font-size:12px;
  font-weight:bold;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}



.spikeDataTableCellRight {
  font-size:11px;
  text-align:right;
  border-bottom:1px solid #5d6c7b;
  padding-right:5px;
}
.spikeDataTableCellRightBorder {
  font-size:11px;
  text-align:right;
  border-bottom:1px solid #5d6c7b;
  border-right:1px solid #cccccc;
  padding-right:5px;
}
.spikeDataTableCellLeft {
  font-size:11px;
  text-align:left;
  border-bottom:1px solid #5d6c7b;
  padding-left:5px;
}
.spikeDataTableCellLeftBorder {
  font-size:11px;
  text-align:left;
  border-bottom:1px solid #5d6c7b;
  border-right:1px solid #cccccc;
  padding-left:5px;
}
.spikeDataTableCellCenter {
  font-size:11px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-bottom:1px solid #5d6c7b;
}
.spikeDataTableCellCenterBorder {
  font-size:11px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-bottom:1px solid #5d6c7b;
  border-right:1px solid #cccccc;
}
/* vertical table */
.spikeVerticalTable {
  border:1px solid #5d6c7b;
}
.spikeVerticalTableHead {

  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  border-bottom:2px solid #ffffff;
  text-align:right;
  padding-right:5px;
  vertical-align:top;
}

.spikeVerticalTableHeadLast {

  font-size:12px;
  font-weight:bold;
  background-color:#d2e7fc;
  text-align:right;
  padding-left:5px;
  vertical-align:top;
}

.spikeVerticalTableCell {
  font-size:11px;
  text-align:left;
  border-bottom:1px solid #5d6c7b;
  padding-left:5px;
  vertical-align:top;
}
.spikeVerticalTableCellBold {
  font-weight:bold;
  font-size:11px;
  text-align:left;
  border-bottom:1px solid #5d6c7b;
  padding-left:5px;
  vertical-align:top;
}
.spikeVerticalTableCellLast {
  font-size:11px;
  text-align:left;
  padding-left:5px;
  vertical-align:top;
}


/* Top navigation */
#navbar {
  height:80px;
  border-bottom:2px solid #0066cc;
  width:642px;
}
.navText{
  padding-left:5px;
  font-size:13px;
  color:#000000;
  font-weight:bold;
  letter-spacing:1px;
  text-decoration:none
}

.navText:link,.navText:visited{
  color:#0066cc
}
.navText:hover{
  color:#000000
}
.navTextOn {
  color:#000000;
  padding-left:5px;
  font-size:13px;
  font-weight:bold;
  letter-spacing:1px;
  text-decoration:none
}
/* left side navigation	 */
.parent  { 
  margin-left:15px;
  width:160px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  padding-bottom:5px;
  color:#0066cc;
  vertical-align:top;
}

.parentChild  { 
  margin-left:0px;
  width:175px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:none;
  padding-bottom:5px;
  color:#0066cc;
  vertical-align:top;
}
.submenu  {
  color:#000000;
  width:145px;
  text-decoration: none;
  padding-top:1px;
  padding-bottom:1px;
  padding-left:25px;

}


.submenu a {
  white-space:normal;
}


.child {
  padding-left:0px;
  width:175px;
  font-weight: bold;
  font-size: 11px; 
  text-decoration:none;
  display:none;
  padding-bottom:2px;
}


.menuImage {
  margin-right:6px;
}
.submenu a:visited {color: #0066cc; text-decoration:none; border:0px;}
.submenu a:link {color: #0066cc; text-decoration: none; border:0px;}
.submenu a:hover { color: #000000; text-decoration: none ; border:0px;}

.parentChild a:visited {
  color: #0066cc;
  text-decoration:none;
}
.parentChild a:link {
  color: #0066cc;
  text-decoration:none;
}
.parentChild a:hover {
  color: #000000;
  text-decoration:none
}
.parent a:visited {
  color: #0066cc;
  text-decoration:none;
}
.parent a:link {
  color: #0066cc;
  text-decoration:none;
}
.parent a:hover {
  color: #000000;
  text-decoration:none
}


/* links */
.footerlink:link, .footerlink:visited{
  color:#003399;
  font-size:10px;
  text-decoration:none
}

.footerlink:hover{
  color:#000000;
  text-decoration:underline
}
.contentlink{
  font-family:arial,sans-serif;
  font-size:11px;
}
.contentlink:visited, .contentlink:link {
  color:#0055bb;
  text-decoration:none;
}
.contentlink:hover{
  color:#000000;
  text-decoration:underline
}
.contentlinkBold{
  font-family:arial,sans-serif;
  font-size:11px;
  font-weight:bold;
}
.contentlinkBold:visited, .contentlinkBold:link {
  color:#0055bb;
  text-decoration:none;
}
.contentlinkBold:hover{
  color:#000000;
  text-decoration:underline
}
a.headerlink{
  color:#000000;
  text-decoration:underline;

}
a.headerlink:hover {
  text-decoration:underline;
}
a.externalLink, a.tablelink {
  color:#000000;
  text-decoration:none;
}
a.externalLink:link,a.tablelink:link {
  color:#0055bb;
}
a.externalLink:visited,a.tablelink:visited {
  color:#0055bb;
}
a.externalLink:hover,a.tablelink:hover {
  color:#000000;
  text-decoration:underline;
}

a.tablelinkBold:link {
  font-weight:bold;
  text-decoration:none;
  color:#0055bb;
}
a.tablelinkBold:visited {
  font-weight:bold;
  text-decoration:none;
  color:#0066cc;
}
a.tablelinkBold:hover {
  font-weight:bold;
  color:#000000;
  text-decoration:underline;
}
.blueHeader,.greyHeader{
  font-size:12px;
  font-family:Arial,Helvetica,sans-serif;
  color:#0066cc;
  font-weight:bold
}

/* form layout */
.spikeForm{
  vertical-align:top;
  margin:0px;
  padding:0px;
  border:1px solid #5d6c7b;
}
.spikeButton {
  padding-right:10px;
}
.required {
  margin-bottom:0px;
  text-align:right;
}
.formRule{
  border-left:1px solid #000000;
  padding-top:0px;
  margin-left:0px;
}


.formHeader{
  padding-left:20px;
  height: 22px;
  background-color:#D2E7FC;
  color: #000000;
  font-size:12px;
  font-weight:bold;
}
.formLabel{
  height:14px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  color:#000000;
  text-align:right;
  font-weight:bold;
  white-space:nowrap;
}
.formLabelL {
  font-size:11px;
  font-weight:bold;
  color:#000000;
  white-space:nowrap;
}
.formDirection {
  padding-left:20px;
  height: 20px;
  background-color:#ededed;
  color: #000000;
  font-size:11px;
}
.formNote {
  color:#333333;
  font-size:10px;
  padding-left:2px;
}
.label,.element{
  font-family:Arial,Helvetica,sans-serif;
  color:#000000;
  font-size:11px;
}
.checkLabel{
  font-family:Arial,Helvetica,sans-serif;
  font-size:10px;
  color:#000000;
  font-weight:bold;
  margin-right:2px;
  vertical-align:middle;
}
.button{
  font-family:Arial,Helvetica,sans-serif;
  font-size:10px;
  color:#000000;
  background-color:#e9e9e9;
  border:1px solid #666666
}

.asterickR{
  margin-right:2px
}
.asterickL{
  margin-left:2px
}

.blueButton{
  font-family:arial,tahoma,sans-serif;
  font-size:11px;
  font-weight:bold;
  color:#ffffff;
  background-color:#0066cc;
  border-style:none;
  border:none;
  margin:0px;
  padding:1px;
}

/* Defines input boxes,textareas,and input checkboxes */
.textfield{
  margin-left:2px;
  border:1px solid #3d86ce;
  background-color:#E7F1FA;
  font-size:11px;
  color:#333333
}
input{
  margin:0px;
  padding:0px
}
.checkbox {
  margin-right:2px;
  margin-left:0px;
}
.selectMenu{
  height:16px;
  margin-left:4px;
  background-color:#ffffff;
  font-size:11px;
  color:#333333
}
.optionElem{
  font-size:11px;
  color:#333333;
  padding-bottom:2px
}
.multiBox{
  height:50px;
  font-size:11px
}

/* Required by HTML_QuickForm module */
.errors{
  font-family:Arial,Helvetica,sans-serif;
  color:#990000;
  font-weight:bold
}
.note{
  font-family:Arial,Helvetica,sans-serif;
  font-size:9px;
  color:#000000
}
/* Job Page styles */

.jobTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size:11px;
  text-decoration:none;
  line-height:12px;
  font-weight:bold;
  color:#0066cc;
}

a.jobTitle:link {
  color:#0066cc;

}

a.jobTitle:visited {
  color:#0066cc;

}

a.jobTitle:hover {
  color:#000000;
  text-decoration:underline;

}

.jobTable {
  margin-bottom:20px;
}

.jobTable td {
  padding-left:4px;
}

.jobTable .jobTitle {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#ffffff;
  background-color:#0066cc;
  /*background-color:#D2E7FC; */
  font-size:12px;
  height:20px;

}
p.jobDescription {
  margin-bottom:5px;
  margin-top:2px;
}



/* old stuff */

.loginTable{
  width:250px;
  padding-bottom:2px;
  padding-top:10px
}
.category_sublink:hover,.boxtitlelink:hover,.category_mainlink:hover{
  color:#990000;
  text-decoration:underline
}
.spacer,#betaTable{
  background-color:#ffffff
}
.borderedbg{
  background-color:#ffffff;
  font-family:arial;
  font-size:10px;
  color:#333333
}
table.bordered{
  background-color:#999999
}
td.boxoff{
  background-color:#ffffff;
  color:#000000;
  font-size:8pt;
  font-family:Arial,Helvetica,sans-serif
}
td.boxon{
  background-color:#eeeeee;
  color:#000000;
  font-size:8pt;
  font-family:Arial,Helvetica,sans-serif
}
.pagetitle{
  font-family:arial;
  font-weight:bold;
  font-size:18pt;
  color:#333333;
  border-bottom:1px solid #999999
}
.boxtitlelink{
  color:#336699;
  font-size:9pt;
  font-family:tahoma,verdana,arial;
  text-decoration:none
}
.sectiontitle{
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
  color:#990000;
  font-weight:bold
}
.subtitle{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11pt;
  font-weight:bold;
  color:#333333;
  border-bottom:1px dashed #000000
}
.subcategory{
  background-color:#eeeeee;
  color:#000000;
  font-size:8pt;
  font-family:Arial,Helvetica,sans-serif;
  border-left:5px solid #cccccc
}
.subcategory2{
  background-color:#d9d6c5;
  color:#000000;
  font-size:8pt;
  font-family:Arial,Helvetica,sans-serif;
  border-left:5px solid #cccccc
}
.row_title{
  background-color:#999999;
  color:#ffffff;
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt;
  font-weight:bold
}
.row_category{
  background-color:#1D97C3;
  font-family:Arial,Helvetica,sans-serif;
  font-size:10pt;
  font-weight:bold
}
.row1{
  color:#000000;
  background-color:#dadada;
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt
}
.row2{
  color:#000000;
  background-color:#e9e9e9;
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt
}
.row3{
  color:#990000;
  background-color:#e9e9e9;
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt
}
.row4{
  color:#990000;
  background-color:#ffffff;
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt
}
.rowsection{
  color:#000000;
  background-color:#f9f9f9;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
}
.category{
  background-color:#ffffff;
  font-family:Arial,Helvetica,sans-serif;
  font-size:9pt
}
.category_mainlink{
  font-family:Arial,Helvetica,sans-serif;
  font-size:9pt;
  color:#336699;
  font-family:Arial,Helvetica,sans-serif;
  text-decoration:underline;
  font-weight:bold
}
.category_sublink{
  font-family:Arial,Helvetica,sans-serif;
  font-size:8pt;
  color:#336699;
  font-family:Arial,Helvetica,sans-serif;
  text-decoration:underline
}
.boxed_sectionheader{
  font-family:trebuchet MS,verdana,arial;
  font-size:11pt;
  font-weight:bold;
  color:#333366;
  background-color:#e9e9e9
}
.dotted_sectionheader{
  font-family:trebuchet MS,verdana,arial;
  font-size:11pt;
  font-weight:bold;
  color:#333366;
  background-color:#ffffff
}
.tab_on{
  background-color:#ffffff;
  font-size:8pt;
  font-family:Arial,Helvetica,sans-serif;
  border-left:1px solid #666666;
  border-right:1px solid #666666;
  border-top:1px solid #666666
}
.tab_off{
  background-color:#e9e9e9;
  font-size:8pt;
  font-family:Arial,Helvetica,sans-serif;
  border-left:1px solid #666666;
  border-right:1px solid #666666;
  border-bottom:1px solid #666666;
  border-top:1px solid #666666
}
.tab_spacer{
  background-color:#ffffff;
  border-bottom:1px solid #666666
}
.tab_content{
  background-color:#ffffff;
  border-left:1px solid #666666;
  border-right:1px solid #666666;
  border-bottom:1px solid #666666
}

/* PHPCoverage Specific */

.emphasis {
  font-size:12px;
  font-weight:bold;
  color:#222222;
}
.note {
  vertical-align:text-bottom
}
.coverageDetailsHead {
  border-right:2px solid #eeeeee;
  background-color:#C0CEDC;
  color:#000000;
  font-size:12px;
  font-weight:bold;
  white-space:nowrap;
}
.coverageDetails {
  color:#666666;
  font-size:13px;
  border-right:1px solid #A2AFBC
}
.coverageDetailsCode {
  font-weight:normal;
  color:#666666;
  font-size:13px;
}
.codeExecuted {
  color:#003399;
  font-weight:bold;
}
.codeMissed {
  color:#990000;
  font-weight:bold;
}
