.sbWrapper {
    position: absolute;
    z-index: 1000;
    margin: 25px 50% 0 50%;
    font-family: Tahoma, Arial, Verdana, sans-serif;
}

.sbBar {
    background-color: #666666;
    height: 1px;
}

.sbBarAlt {
    background-color: #666666;
    height: 1px;
}

.sbMarkerMajor {
    height: 7px;
    width: 1px;
    background-color: #666666;
}

.sbMarkerMinor {
    height: 5px;
    width: 1px;
    background-color: #666666;
}

.sbNumbersBox {
    top: 7px;
    font-size: 0.7em;
    color: #333333;
}

.sbLabelBox {
    top: -16px;
    font-size: 0.8em;
    color: #333333;
    font-variant: small-caps;
}

.sbLabelBoxSingleLine {
    top: -0.8em;
    font-size: 0.8em;
    color: #333333;
}
